AI Alert classifier.json
{"createdAt":"2025-11-20T17:58:58.248Z","updatedAt":"2025-11-27T12:01:56.000Z","id":"2q2lDbbqSQlZFRll","name":"AI Alert classifier","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"AI_classfication","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-640,800],"id":"18aaedc7-c0d3-4407-aee2-15ea6115ad70","name":"Webhook","webhookId":"d42b8057-6e0b-48dc-9299-389a9310b465"},{"parameters":{"language":"python","pythonCode":"import re\nimport json\nfrom urllib.parse import urlparse\nresponse={}\nfile_extensions=[\n            '.exe', '.dll', '.sys', '.bat', '.cmd', '.ps1', \n                      '.vbs', '.js', '.jar', '.msi', '.zip', '.rar',\n                      '.pdf', '.doc', '.xls', '.ppt'\n        ]\n\nfor item in items:\n  body_str= str(dict(item['json'].get('body', {})))# convert JsProxy to plain dict\n  ips = re.findall(r\"(?:\\d{1,3}\\.){3}\\d{1,3}\", json.dumps(body_str))\n  response['ips'] = ips\n  url_pattern=r\"https?:\\/\\/(?:(?:\\d{1,3}\\.){3}\\d{1,3}|(?:[a-z](?:[a-zA-Z0-9-]{1,61}[a-zA-Z0-9]\\.)*[a-z]{2,}))(?::\\d{1,5})?(?:\\/[^\\s}]*)?\"\n  valid_urls=[]\n  valid_domains=[]\n  for match in re.finditer(url_pattern,body_str,re.IGNORECASE):\n    url=match.group()\n    if not url.startswith((\"http://\",\"https://\",\"ftp://\",\"hxxp://\")):\n        url=\"http://\"+url\n    try:\n      parsed=urlparse(url)\n      if parsed.netloc:\n        valid_urls.append(url)\n        if parsed.hostname and not re.match(r\"(?:\\d{1,3}\\.){3}\\d{1,3}\"):\n          valid_domains.append(parsed.hostname)\n    except Exception as e:\n       continue\n  response['urls']=valid_urls\n  domains=re.findall(r\"(?i)\\b(?:[a-z](?:[a-z0-9-]{1,61}[a-z0-9])?\\.)+[a-z]{2,}\\b\",body_str) \n  for domain in domains:\n    if any(domain.endswith(ext) for ext in file_extensions):\n      continue\n    \n    valid_domains.append(domain)\n  response['domains']=valid_domains\n  response['body']=item['json']['body']\n  response['body_str']=body_str\n  #body_str=body_string.replace(\"\\\\n\",\"\").replace(\"[.]\",\".\").replace(\"(.)\",\".\").replace(\"[dot]\",\".\")\n\n  \n\nreturn response\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-192,592],"id":"d80e2ee1-82a7-4cba-b4bd-1531e44f8337","name":"Code in Python (Beta)"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"791566be-cef1-4239-91a5-a1a71d569573","leftValue":"={{ $json.ip}}","rightValue":0,"operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1376,-352],"id":"f0aa551d-1d51-4537-b9b6-c12b52343059","name":"IP verification"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0b967e0c-85f9-453e-9a26-a4f281612bb5","leftValue":"={{ $json.domain }}","rightValue":0,"operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1376,896],"id":"59ffa3ec-46db-4309-91a3-986484784842","name":"domain verification"},{"parameters":{"language":"python","pythonCode":"return_items=[]\nips=[]\nfor item in items:\n  ips=item['json']['ips']\n  for ip in ips:\n    return_items.append({\"json\":{\"ip\":ip}})\n\nreturn return_items"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1152,-352],"id":"38571fd6-b86d-412b-a677-4ab0acf866e8","name":"Flatten IPs"},{"parameters":{"language":"python","pythonCode":"return_items=[]\ndomains=[]\nfor item in items:\n  domains=item['json']['domains']\n  for domain in domains:\n    return_items.append({\"json\":{\"domain\":domain}})\n\nreturn return_items"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1152,896],"id":"c286dc0b-8391-4833-9c3c-7eba9516624d","name":"flatten domains"},{"parameters":{"language":"python","pythonCode":"return_items=[]\nurls=[]\nfor item in items:\n  urls=item['json']['urls']\n  for url in urls:\n    return_items.append({\"json\":{\"url\":url}})\n\nreturn return_items"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[32,592],"id":"082995c7-8417-47cb-a48a-16d9bda3455d","name":"Flatten urls"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7b29fe60-f20d-4686-b908-346b43eb813e","leftValue":"={{ $json.url}}","rightValue":0,"operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[256,592],"id":"ae97ecab-5381-48b8-830f-d8ec4ce72a06","name":"URL verification"},{"parameters":{"amount":15},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1600,-112],"id":"4ad1c489-8534-492f-b3a9-c3e44792111c","name":"Wait","webhookId":"5131e8dd-aa4c-45ae-803f-36505f08f5b7","executeOnce":true},{"parameters":{"url":"=https://www.virustotal.com/api/v3/ip_addresses/{{ $json.ip }}","authentication":"predefinedCredentialType","nodeCredentialType":"virusTotalApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1600,-400],"id":"a7250430-44b2-4324-8d61-e95ffe988b21","name":"IP lookup","credentials":{"virusTotalApi":{"id":"vtOhHIPaSZoclWIh","name":"VirusTotal account"}}},{"parameters":{"method":"POST","url":"=https://www.virustotal.com/api/v3/urls","authentication":"predefinedCredentialType","nodeCredentialType":"virusTotalApi","sendQuery":true,"queryParameters":{"parameters":[{}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"content-type","value":"application/x-www-form-urlencoded"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"url","value":"={{ $json.url }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[480,416],"id":"e93ea69b-edfc-4ba3-b642-71a22cfcb9cd","name":"URL post","credentials":{"virusTotalApi":{"id":"vtOhHIPaSZoclWIh","name":"VirusTotal account"}},"onError":"continueRegularOutput"},{"parameters":{"url":"=https://www.virustotal.com/api/v3/domains/{{ $json.domain }}","authentication":"predefinedCredentialType","nodeCredentialType":"virusTotalApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1600,944],"id":"2324bd23-a39d-48f9-9b95-dc24fa478e3e","name":"Domain lookup","credentials":{"virusTotalApi":{"id":"vtOhHIPaSZoclWIh","name":"VirusTotal account"}},"onError":"continueRegularOutput"},{"parameters":{"url":"={{ $json.data.links.self }}","authentication":"predefinedCredentialType","nodeCredentialType":"virusTotalApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1824,224],"id":"60a13149-31df-45d7-845c-1ee41adb626c","name":"url lookup","credentials":{"virusTotalApi":{"id":"vtOhHIPaSZoclWIh","name":"VirusTotal account"}},"onError":"continueRegularOutput"},{"parameters":{"language":"python","pythonCode":"return_list=[]\n# Loop over input items and add a new field called 'myNewField' to the JSON of each one\nip_intel=\"\"\nfor item in items:  \n  ip=item['json']['data']['id']\n  last_analysis_stats=item['json']['data']['attributes']['last_analysis_stats']\n  stat=\"\"\n  for key,value in last_analysis_stats.items():\n    stat=stat+\"-\"+key+\":\"+str(value)\n  ip_intel=ip_intel+\",\"+ip+\"-\"+str(stat)\nreturn_list.append({\"ip_intel\":ip_intel})\n\nreturn return_list"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1824,-400],"id":"5cdfa942-6aa9-4f6e-98fa-17c58e631d42","name":"Extract IP TI"},{"parameters":{"language":"python","pythonCode":"return_list = []\nip_intel=\"\"\nfor item in items:\n  if \"meta\" in item['json'] and \"data\" in item['json']:\n    url=item['json']['meta']['url_info']['url']\n    last_analysis_stats = item['json']['data']['attributes']['stats']\n    stat=\"\"\n    for key,value in last_analysis_stats.items():\n      stat=stat+\"-\"+key+\":\"+str(value)\n    ip_intel=ip_intel+\",\"+url+\"-\"+str(stat)\nreturn{\n  \"url_intel\":ip_intel\n}\n    \n    \n  "},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1600,80],"id":"9e4037aa-6050-4854-b1c3-8064fe66f520","name":"Extract URL TI"},{"parameters":{"language":"python","pythonCode":"return_list=[]\n# Loop over input items and add a new field called 'myNewField' to the JSON of each one\nstat=\"\"\nip_intel=\"\"\ntry:\n  for item in items:\n    domain=item['json']['data']['id']\n    last_analysis_stats=item['json']['data']['attributes']['last_analysis_stats']\n    for key,value in last_analysis_stats.items():\n      stat=stat+\"-\"+key+\":\"+str(value)\n    ip_intel=ip_intel+\",\"+domain+\"-\"+str(stat)\nexcept Exception as e:\n  ip_inten=\"\"\nreturn{\n  \"domain_intel\":ip_intel\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1824,944],"id":"bf2aad26-82bb-4ebe-9360-27925ad38dd1","name":"Extract Domain TI"},{"parameters":{"language":"python","pythonCode":"body={}\nstat=\"\"\nfor item in items:\n  for key,value in item['json'].get('body', {}).items():\n    stat=stat+\"-\"+key+\":\"+str(value)  \nreturn {\"body\":stat}\n      \n  "},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1824,1136],"id":"49e32991-1f23-44a0-881c-68a7020880e3","name":"Alert parsing"},{"parameters":{"language":"python","pythonCode":"stat=\"\"\nfor item in items:\n  for key,value in item['json'].items():\n    stat=stat+\"\\n\"+key+\":\"+str(value)\n\nreturn{\n    \"result\":stat\n  }"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2272,704],"id":"0aa35ac8-2851-4140-a9d0-d1d216b8097d","name":"normalize merge output"},{"parameters":{"modelId":{"__rl":true,"value":"models/gemini-2.0-flash-lite","mode":"list","cachedResultName":"models/gemini-2.0-flash-lite"},"messages":{"values":[{"content":"={{ $json.prompt }}"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[2720,704],"id":"f4464fab-768a-488b-94e1-19535e2e16a4","name":"Message a model","retryOnFail":true,"credentials":{"googlePalmApi":{"id":"BK779NxuvjS2L8Dl","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"language":"python","pythonCode":"prompt = f\"\"\"\nYou are a SOC analyst\nAnalyze this alert along with the intel provided\n- alert and intel:{items[0]['json']['result']}\n\nIs this suspicious?\nClassify as :\n - TRUE_POSITIVE (real attack)\n - FALSE_POSITIVE (legitimate behaviour)\n - NEEDS_REVIEW (uncler)\n\n INSTRUCTIONS:\n- ONLY output a single JSON object with the exact keys: classification, confidence, reasoning.\n- classification: one of \"TRUE_POSITIVE\", \"FALSE_POSITIVE\", \"NEEDS_REVIEW\" (string).\n- confidence: integer 0-100 (no % sign).\n- severity: one of \"Critical\",\"High\",\"Medium\",\"Low\"\n- priority: 1 for low, 2 for medium, 3 for high, 4 for critical\n- title: title for the alert to be populated in case management\n- reasoning: array of exactly 4 strings. Each string max 50 words. No bullet characters, no newlines inside items.\n- Do NOT output any extra text, commentary, or code fences. Output must be parseable by json.loads().\n- Include IPs or Urls or domains given when you reason as the data will be fed to chromadb for future searches for the same alert\n- First Sentence must always state the alert behaviour.\n  1. The alert indicates multiple RDP login attemps from <source ip> to <destination ip> which is a sign of lateral movement\n- semantic: Generate a runbook search query combining:  \n  Format: \"Attack_Type Key_Indicator MITRE_ID\"\n  Example: \"Brute Force Authentication T1110\"\n  Example: \"Lateral Movement RDP T1021\"\n\nOUTPUT_SCHEMA:\n{{\n  \"classification\": \"TRUE_POSITIVE\",\n  \"confidence\": 95,\n  \"severity\": \"Critical\",\n  \"priority\":4,\n  \"title\": Brute force alert\n  \"reasoning\": [\n    \"One-sentence reason 1 (<=50 words).\",\n    \"One-sentence reason 2 (<=50 words).\",\n    \"One-sentence reason 3 (<=50 words).\",\n    \"One-sentence reason 4 (<=50 words).\"\n  ],\n  \"semantic\": \"title Mitre\"\n\n\"\"\"\nreturn{\n  \"prompt\":prompt\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2496,704],"id":"4d1c7217-d6c2-4f13-857e-fef893d8dd2a","name":"Build Prompt"},{"parameters":{"resource":"case","caseFields":{"mappingMode":"defineBelow","value":{"description":"=classification:{{ JSON.stringify($json.classification) }}\nconfidence:{{ JSON.stringify($json.confidence) }}\nReasoning:{{JSON.stringify($json.reasoning)}}","severity":"={{ $json.priority }}","startDate":"={{ new Date().toISOString() }}","title":"={{JSON.stringify($json.title)}}"},"matchingColumns":[],"schema":[{"displayName":"Title","id":"title","type":"string","removed":false,"required":true,"display":true,"defaultMatch":false},{"displayName":"Description","id":"description","type":"string","removed":false,"required":true,"display":true,"defaultMatch":false},{"displayName":"Severity (Severity of information)","id":"severity","type":"options","options":[{"name":"Low","value":1},{"name":"Medium","value":2},{"name":"High","value":3},{"name":"Critical","value":4}],"removed":false,"required":false,"display":true,"defaultMatch":false},{"displayName":"Start Date","id":"startDate","type":"dateTime","removed":false,"required":false,"display":true,"defaultMatch":false},{"displayName":"End Date","id":"endDate","type":"dateTime","removed":false,"required":false,"display":true,"defaultMatch":false},{"displayName":"Tags","id":"tags","type":"string","removed":false,"required":false,"display":true,"defaultMatch":false},{"displayName":"Flag","id":"flag","type":"boolean","removed":false,"required":false,"display":true,"defaultMatch":false},{"displayName":"TLP (Confidentiality of information)","id":"tlp","type":"options","options":[{"name":"White","value":0},{"name":"Green","value":1},{"name":"Amber","value":2},{"name":"Red","value":3}],"removed":false,"required":false,"display":true,"defaultMatch":false},{"displayName":"PAP (Level of exposure of information)","id":"pap","type":"options","options":[{"name":"White","value":0},{"name":"Green","value":1},{"name":"Amber","value":2},{"name":"Red","value":3}],"removed":false,"required":false,"display":true,"defaultMatch":false},{"displayName":"Summary","id":"summary","type":"string","removed":false,"required":false,"display":true,"defaultMatch":false},{"displayName":"Status","id":"status","type":"options","removed":false,"required":false,"display":true,"defaultMatch":false,"options":[{"name":"Duplicated","value":"Duplicated","description":"Stage: Closed"},{"name":"FalsePositive","value":"FalsePositive","description":"Stage: Closed"},{"name":"Indeterminate","value":"Indeterminate","description":"Stage: Closed"},{"name":"InProgress","value":"InProgress","description":"Stage: InProgress"},{"name":"New","value":"New","description":"Stage: New"},{"name":"Other","value":"Other","description":"Stage: Closed"},{"name":"TruePositive","value":"TruePositive","description":"Stage: Closed"}]},{"displayName":"Assignee","id":"assignee","type":"options","removed":false,"required":false,"display":true,"defaultMatch":false,"options":[{"name":"APIAdmin","value":"apiadmin@thehive.local"}]},{"displayName":"Case Template","id":"caseTemplate","type":"options","removed":false,"required":false,"display":true,"defaultMatch":false,"options":[]},{"displayName":"Tasks","id":"tasks","type":"array","removed":false,"required":false,"display":true,"defaultMatch":false},{"displayName":"Sharing Parameters","id":"sharingParameters","type":"array","removed":false,"required":false,"display":true,"defaultMatch":false},{"displayName":"Observable Rule","id":"observableRule","type":"string","removed":false,"required":false,"display":true,"defaultMatch":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"n8n-nodes-base.theHiveProject","typeVersion":1,"position":[3296,704],"id":"e88f3416-a66d-4248-a5c1-4cb7d4bc2ea4","name":"Create a case","retryOnFail":true,"credentials":{"theHiveProjectApi":{"id":"eqKM2hDCqtAzw9Bf","name":"The Hive 5 account 2"}}},{"parameters":{"language":"python","pythonCode":"import json\nimport re\nfor item in items:\n  content=str(item['json']['content']['parts'][0]['text'])\njson_output=re.search(r\"\\{.*?\\}\",content,re.DOTALL)\nif json_output:\n  result=json_output.group()\n  result_json=json.loads(result)\n            \nreturn result_json"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3072,704],"id":"bb99f627-61ea-4de1-8b29-f671f46ae40c","name":"parsing node"},{"parameters":{"language":"python","pythonCode":"def recursor(body):\n    trigger = False\n    remove_keys = []\n\n    for k, v in list(body.items()):\n        if hasattr(v, \"items\"):  # nested dict or JSONProxy\n            v = dict(v)\n            for nk, nv in v.items():\n                body[nk] = nv\n            remove_keys.append(k)\n            trigger = True\n\n    for k in remove_keys:\n        body.pop(k, None)\n\n    return recursor(body) if trigger else body\n\n\n# --- MAIN ---\nitem = items[0]\n\nbody = dict(item[\"json\"][\"body\"])  # ensure dict\nflat = recursor(body)\n\n# assign back to the same item's body\nitem[\"json\"][\"body\"] = flat\n\n# return the original `items` list\nreturn {\"body\":flat}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-416,800],"id":"bc466ba6-07eb-40d7-80d2-5204bfc85055","name":"Code in Python (Beta)1"},{"parameters":{"language":"python","pythonCode":"\n\nfor item in _input.all():\n  if \"retry_count\" not in item.json:\n    item.json['retry_count']=0\n  else:\n    item.json['retry_count']+=1\nreturn {\"retry_count\":item.json['retry_count']}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[928,80],"id":"80e4337b-77a8-4624-9b0c-1aacc80ce576","name":"retry limiter"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e5353729-f12f-4c39-a6fc-9fc41e838100","leftValue":"={{ $json.data }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}},{"id":"91da1c74-00f1-4c97-819a-cf50710372d2","leftValue":"={{ $json.data.attributes.status }}","rightValue":"completed","operator":{"type":"string","operation":"notEquals"}},{"id":"c5e8a7d5-200d-402f-a2a8-9af7a1aaccbf","leftValue":"={{ $json.retry_count }}","rightValue":3,"operator":{"type":"number","operation":"lt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1376,-64],"id":"279960ea-1137-4500-830a-f933943de88b","name":"Get Status check"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1824,560],"id":"0a4947df-2bda-4cc8-bec5-f2551f7adee3","name":"Merge URL TI"},{"parameters":{"numberInputs":4},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2048,672],"id":"817500de-e4b0-4a8f-a11d-7f13204b7b38","name":"Merge IOC TIs"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"31cbc74f-c0c5-4ec0-98ec-5d45047744dc","leftValue":"={{ $json.error }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[704,416],"id":"19cbce81-4990-45fc-a336-b1c95c16d6fb","name":"Verify Post status"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1152,16],"id":"c22eebc2-7770-4321-814d-c730f56a5a3f","name":"Merge retry","alwaysOutputData":true}],"connections":{"Webhook":{"main":[[{"node":"Code in Python (Beta)1","type":"main","index":0}]]},"Code in Python (Beta)":{"main":[[{"node":"Flatten IPs","type":"main","index":0},{"node":"Flatten urls","type":"main","index":0},{"node":"flatten domains","type":"main","index":0}]]},"IP verification":{"main":[[{"node":"IP lookup","type":"main","index":0}],[{"node":"Merge IOC TIs","type":"main","index":0}]]},"domain verification":{"main":[[{"node":"Domain lookup","type":"main","index":0}],[{"node":"Merge IOC TIs","type":"main","index":2}]]},"Flatten IPs":{"main":[[{"node":"IP verification","type":"main","index":0}]]},"flatten domains":{"main":[[{"node":"domain verification","type":"main","index":0}]]},"Flatten urls":{"main":[[{"node":"URL verification","type":"main","index":0}]]},"URL verification":{"main":[[{"node":"URL post","type":"main","index":0}],[{"node":"Merge IOC TIs","type":"main","index":1}]]},"Wait":{"main":[[{"node":"url lookup","type":"main","index":0},{"node":"retry limiter","type":"main","index":0}]]},"IP lookup":{"main":[[{"node":"Extract IP TI","type":"main","index":0}]]},"URL post":{"main":[[{"node":"Verify Post status","type":"main","index":0}]]},"Domain lookup":{"main":[[{"node":"Extract Domain TI","type":"main","index":0}]]},"url lookup":{"main":[[{"node":"Merge retry","type":"main","index":1}]]},"Extract URL TI":{"main":[[{"node":"Merge URL TI","type":"main","index":1}]]},"Extract Domain TI":{"main":[[{"node":"Merge IOC TIs","type":"main","index":2}]]},"Extract IP TI":{"main":[[{"node":"Merge IOC TIs","type":"main","index":0}]]},"Alert parsing":{"main":[[{"node":"Merge IOC TIs","type":"main","index":3}]]},"normalize merge output":{"main":[[{"node":"Build Prompt","type":"main","index":0}]]},"Message a model":{"main":[[{"node":"parsing node","type":"main","index":0}]]},"Build Prompt":{"main":[[{"node":"Message a model","type":"main","index":0}]]},"parsing node":{"main":[[{"node":"Create a case","type":"main","index":0}]]},"Code in Python (Beta)1":{"main":[[{"node":"Alert parsing","type":"main","index":0},{"node":"Code in Python (Beta)","type":"main","index":0}]]},"retry limiter":{"main":[[{"node":"Merge retry","type":"main","index":0}]]},"Get Status check":{"main":[[{"node":"Wait","type":"main","index":0}],[{"node":"Extract URL TI","type":"main","index":0}]]},"Merge URL TI":{"main":[[{"node":"Merge IOC TIs","type":"main","index":1}]]},"Merge IOC TIs":{"main":[[{"node":"normalize merge output","type":"main","index":0}]]},"Verify Post status":{"main":[[{"node":"Merge URL TI","type":"main","index":0}],[{"node":"url lookup","type":"main","index":0},{"node":"retry limiter","type":"main","index":0}]]},"Merge retry":{"main":[[{"node":"Get Status check","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"8oPdHCbfkDWiGkoo"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"localhost:5678","user-agent":"curl/8.5.0","accept":"*/*","content-type":"application/json","content-length":"316"},"params":{},"query":{},"body":{"alert":{"alert_id":"alert-1023","timestamp":"2025-11-20T15:30:00Z","source_ip":"203.0.113.45","destination_ip":"193.32.162.157","user":"bob@victimcorp.com","failed_logins":5,"description":"Multiple failed login attempts detected","urls":["http://182.119.197.199:51371/i"]}},"webhookUrl":"http://localhost:5678/webhook/AI_classfication","executionMode":"production"}}]},"versionId":"883e813d-960b-4b70-8832-f125b07c5487","triggerCount":1,"shared":[{"createdAt":"2025-12-01T00:56:06.245Z","updatedAt":"2025-12-01T00:56:06.245Z","role":"workflow:owner","workflowId":"2q2lDbbqSQlZFRll","projectId":"6s48z25n0vjamXXx"}],"tags":[]}