AI Alert classifier copy.json
{"createdAt":"2025-11-21T14:56:00.388Z","updatedAt":"2025-11-22T19:38:00.000Z","id":"sym4JzADqKohylkH","name":"AI Alert classifier copy","active":false,"isArchived":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"edb1eaec-6d56-4f3e-a287-90ab51dd4462","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-640,336],"id":"a732a90e-7f88-4fa6-94ef-e2ed535e350c","name":"Webhook","webhookId":"edb1eaec-6d56-4f3e-a287-90ab51dd4462"},{"parameters":{"language":"python","pythonCode":"import re\nimport json\nfrom urllib.parse import urlparse\nresponse={}\nfile_extensions=[\n            '.exe', '.dll', '.sys', '.bat', '.cmd', '.ps1', \n                      '.vbs', '.js', '.jar', '.msi', '.zip', '.rar',\n                      '.pdf', '.doc', '.xls', '.ppt'\n        ]\n\nfor item in items:\n  body_str= str(dict(item['json'].get('body', {})))# convert JsProxy to plain dict\n  ips = re.findall(r\"(?:\\d{1,3}\\.){3}\\d{1,3}\", json.dumps(body_str))\n  response['ips'] = ips\n  url_pattern=r\"https?:\\/\\/(?:(?:\\d{1,3}\\.){3}\\d{1,3}|(?:[a-z](?:[a-zA-Z0-9-]{1,61}[a-zA-Z0-9]\\.)*[a-z]{2,}))(?::\\d{1,5})?(?:\\/[^\\s}]*)?\"\n  valid_urls=[]\n  valid_domains=[]\n  for match in re.finditer(url_pattern,body_str,re.IGNORECASE):\n    url=match.group()\n    if not url.startswith((\"http://\",\"https://\",\"ftp://\",\"hxxp://\")):\n        url=\"http://\"+url\n    try:\n      parsed=urlparse(url)\n      if parsed.netloc:\n        valid_urls.append(url)\n        if parsed.hostname and not re.match(r\"(?:\\d{1,3}\\.){3}\\d{1,3}\"):\n          valid_domains.append(parsed.hostname)\n    except Exception as e:\n       continue\n  response['urls']=valid_urls\n  domains=re.findall(r\"(?i)\\b(?:[a-z](?:[a-z0-9-]{1,61}[a-z0-9])?\\.)+[a-z]{2,}\\b\",body_str) \n  for domain in domains:\n    if any(domain.endswith(ext) for ext in file_extensions):\n      continue\n    \n    valid_domains.append(domain)\n  response['domains']=valid_domains\n  response['body']=item['json']['body']\n  response['body_str']=body_str\n  #body_str=body_string.replace(\"\\\\n\",\"\").replace(\"[.]\",\".\").replace(\"(.)\",\".\").replace(\"[dot]\",\".\")\n\n  \n\nreturn response\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[224,64],"id":"6ea1ed23-da08-496a-a9fa-ae91956eb972","name":"Code in Python (Beta)"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"791566be-cef1-4239-91a5-a1a71d569573","leftValue":"={{ $json.ip}}","rightValue":0,"operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2176,-352],"id":"42bb1f28-f3f3-44cc-8b80-b6f3dd2f13d8","name":"IP verification"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0b967e0c-85f9-453e-9a26-a4f281612bb5","leftValue":"={{ $json.domain }}","rightValue":0,"operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1776,496],"id":"86f1ee35-b627-43ec-815e-30b75ce49d75","name":"domain verification"},{"parameters":{"language":"python","pythonCode":"return_items=[]\nips=[]\nfor item in items:\n  ips=item['json']['ips']\n  for ip in ips:\n    return_items.append({\"json\":{\"ip\":ip}})\n\nreturn return_items"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[896,-272],"id":"053e0127-1a0f-48cd-abcd-4525f268dbc1","name":"Flatten IPs"},{"parameters":{"language":"python","pythonCode":"return_items=[]\ndomains=[]\nfor item in items:\n  domains=item['json']['domains']\n  for domain in domains:\n    return_items.append({\"json\":{\"domain\":domain}})\n\nreturn return_items"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[896,576],"id":"7cd88660-7bdc-4aed-a66b-98df15a79e83","name":"flatten domains"},{"parameters":{"language":"python","pythonCode":"return_items=[]\nurls=[]\nfor item in items:\n  urls=item['json']['urls']\n  for url in urls:\n    return_items.append({\"json\":{\"url\":url}})\n\nreturn return_items"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[448,64],"id":"c6845b6f-0846-4858-8e41-6d3fb299a0be","name":"Flatten urls"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7b29fe60-f20d-4686-b908-346b43eb813e","leftValue":"={{ $json.url}}","rightValue":0,"operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[672,64],"id":"76d626f1-50e6-412f-99a1-d5f659cec22e","name":"URL verification"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"01b84fda-693a-4f1a-b1c9-2178e8ccee64","leftValue":"={{ $json.data }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}},{"id":"91da1c74-00f1-4c97-819a-cf50710372d2","leftValue":"={{ $json.data.attributes.status }}","rightValue":"completed","operator":{"type":"string","operation":"notEquals"}},{"id":"c5e8a7d5-200d-402f-a2a8-9af7a1aaccbf","leftValue":"={{ $('Edit Fields').item.json.retry_count }}","rightValue":3,"operator":{"type":"number","operation":"lt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1984,-80],"id":"b1a5e878-423f-4428-a9dc-3682b1bd8cac","name":"If"},{"parameters":{"amount":15},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2400,32],"id":"bf2ec030-2461-4912-926e-6646ef60ffe3","name":"Wait","webhookId":"41a69fe8-ebd0-4107-94b8-6f7582fd5b46","executeOnce":true},{"parameters":{"url":"=https://www.virustotal.com/api/v3/ip_addresses/{{ $json.ip }}","authentication":"predefinedCredentialType","nodeCredentialType":"virusTotalApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2400,-400],"id":"9e99024d-5865-43cf-ac20-44526a0d223d","name":"IP lookup","credentials":{"virusTotalApi":{"id":"vtOhHIPaSZoclWIh","name":"VirusTotal account"}}},{"parameters":{"method":"POST","url":"=https://www.virustotal.com/api/v3/urls","authentication":"predefinedCredentialType","nodeCredentialType":"virusTotalApi","sendQuery":true,"queryParameters":{"parameters":[{}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"content-type","value":"application/x-www-form-urlencoded"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"url","value":"={{ $json.url }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[896,144],"id":"018ff820-742e-48c9-81d6-f3ef595a1f11","name":"URL post","credentials":{"virusTotalApi":{"id":"vtOhHIPaSZoclWIh","name":"VirusTotal account"}},"onError":"continueRegularOutput"},{"parameters":{"url":"=https://www.virustotal.com/api/v3/domains/{{ $json.domain }}","authentication":"predefinedCredentialType","nodeCredentialType":"virusTotalApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2400,560],"id":"20b8d030-1fe1-4591-988e-6fd303d8623c","name":"Domain lookup","credentials":{"virusTotalApi":{"id":"vtOhHIPaSZoclWIh","name":"VirusTotal account"}},"onError":"continueRegularOutput"},{"parameters":{"url":"={{ $json.data.links.self }}","authentication":"predefinedCredentialType","nodeCredentialType":"virusTotalApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1712,16],"id":"b985e260-7abe-4152-a1b8-bfef74c67e57","name":"url lookup","credentials":{"virusTotalApi":{"id":"vtOhHIPaSZoclWIh","name":"VirusTotal account"}},"onError":"continueRegularOutput"},{"parameters":{"language":"python","pythonCode":"return_list=[]\n# Loop over input items and add a new field called 'myNewField' to the JSON of each one\nip_intel=\"\"\nfor item in items:  \n  ip=item['json']['data']['id']\n  last_analysis_stats=item['json']['data']['attributes']['last_analysis_stats']\n  stat=\"\"\n  for key,value in last_analysis_stats.items():\n    stat=stat+\"-\"+key+\":\"+str(value)\n  ip_intel=ip_intel+\",\"+ip+\"-\"+str(stat)\nreturn_list.append({\"ip_intel\":ip_intel})\n\nreturn return_list"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2624,-400],"id":"ecf4d220-bc6c-4cf7-9c79-abce17f4b14f","name":"Extract IP TI"},{"parameters":{"language":"python","pythonCode":"return_list = []\nip_intel=\"\"\nfor item in items:\n  url=item['json']['meta']['url_info']['url']\n  last_analysis_stats = item['json']['data']['attributes']['stats']\n  stat=\"\"\n  for key,value in last_analysis_stats.items():\n    stat=stat+\"-\"+key+\":\"+str(value)\n  ip_intel=ip_intel+\",\"+url+\"-\"+str(stat)\nreturn{\n  \"url_intel\":ip_intel\n}\n    \n    \n  "},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2192,272],"id":"6c2ab2c1-2f79-432a-a89d-badd31d59134","name":"Extract URL TI"},{"parameters":{"language":"python","pythonCode":"return_list=[]\n# Loop over input items and add a new field called 'myNewField' to the JSON of each one\nstat=\"\"\nip_intel=\"\"\ntry:\n  for item in items:\n    domain=item['json']['data']['id']\n    last_analysis_stats=item['json']['data']['attributes']['last_analysis_stats']\n    for key,value in last_analysis_stats.items():\n      stat=stat+\"-\"+key+\":\"+str(value)\n    ip_intel=ip_intel+\",\"+domain+\"-\"+str(stat)\nexcept Exception as e:\n  ip_inten=\"\"\nreturn{\n  \"domain_intel\":ip_intel\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2624,560],"id":"b95cd1b2-d37c-41aa-ae9a-22c45406aac5","name":"Extract Domain TI"},{"parameters":{"numberInputs":4},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[3472,128],"id":"328e03db-887a-4ed0-9802-e14f57d033ef","name":"Merge1"},{"parameters":{"language":"python","pythonCode":"body={}\nstat=\"\"\nfor item in items:\n  for key,value in item['json'].get('body', {}).items():\n    stat=stat+\"-\"+key+\":\"+str(value)  \nreturn {\"body\":stat}\n      \n  "},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1568,832],"id":"52b7f5db-b974-45dc-ba5c-ef245a92be0b","name":"Alert parsing"},{"parameters":{"language":"python","pythonCode":"stat=\"\"\nfor item in items:\n  for key,value in item['json'].items():\n    stat=stat+\"\\n\"+key+\":\"+str(value)\n\nreturn{\n    \"result\":stat\n  }"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3696,160],"id":"e13e3003-2865-4ca8-ac41-8b4c8e0d199a","name":"normalize merge output"},{"parameters":{"modelId":{"__rl":true,"value":"models/gemini-2.0-flash-lite","mode":"list","cachedResultName":"models/gemini-2.0-flash-lite"},"messages":{"values":[{"content":"={{ $json.prompt }}"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[4144,160],"id":"28326c17-e0cc-4d1f-bf2e-fd3f391fe565","name":"Message a model","credentials":{"googlePalmApi":{"id":"BK779NxuvjS2L8Dl","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"language":"python","pythonCode":"prompt = f\"\"\"\nYou are a SOC analyst\nAnalyze this alert along with the intel provided\n- alert and intel:{items[0]['json']['result']}\n\nIs this suspicious?\nClassify as :\n - TRUE_POSITIVE (real attack)\n - FALSE_POSITIVE (legitimate behaviour)\n - NEEDS_REVIEW (uncler)\n\n INSTRUCTIONS:\n- ONLY output a single JSON object with the exact keys: classification, confidence, reasoning.\n- classification: one of \"TRUE_POSITIVE\", \"FALSE_POSITIVE\", \"NEEDS_REVIEW\" (string).\n- confidence: integer 0-100 (no % sign).\n- severity: one of \"Critical\",\"High\",\"Medium\",\"Low\"\n- priority: 1 for low, 2 for medium, 3 for high, 4 for critical\n- title: title for the alert to be populated in case management\n- reasoning: array of exactly 4 strings. Each string max 50 words. No bullet characters, no newlines inside items.\n- Do NOT output any extra text, commentary, or code fences. Output must be parseable by json.loads().\n- Include IPs or Urls or domains given when you reason as the data will be fed to chromadb for future searches for the same alert\n- First Sentence must always state the alert behaviour.\n  1. The alert indicates multiple RDP login attemps from <source ip> to <destination ip> which is a sign of lateral movement\n  \n  Format: \"Attack_Type Key_Indicator MITRE_ID\"\n  Example: \"Brute Force Authentication T1110\"\n  Example: \"Lateral Movement RDP T1021\"\n\nOUTPUT_SCHEMA:\n{{\n  \"classification\": \"TRUE_POSITIVE\",\n  \"confidence\": 95,\n  \"severity\": \"Critical\",\n  \"priority\":4,\n  \"title\": Brute force alert\n  \"reasoning\": [\n    \"One-sentence reason 1 (<=50 words).\",\n    \"One-sentence reason 2 (<=50 words).\",\n    \"One-sentence reason 3 (<=50 words).\",\n    \"One-sentence reason 4 (<=50 words).\"\n  ]\n\n\"\"\"\nreturn{\n  \"prompt\":prompt\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3920,160],"id":"69d8ad4f-3eed-4a41-9abb-4abb7995abc5","name":"Build Prompt"},{"parameters":{"resource":"case","caseFields":{"mappingMode":"defineBelow","value":{"description":"=classification:{{ JSON.stringify($json.classification) }}\nconfidence:{{ JSON.stringify($json.confidence) }}\nReasoning:{{JSON.stringify($json.reasoning)}}","severity":"={{ $json.priority }}","startDate":"={{ new Date().toISOString() }}","title":"={{JSON.stringify($json.title)}}"},"matchingColumns":[],"schema":[{"displayName":"Title","id":"title","type":"string","removed":false,"required":true,"display":true,"defaultMatch":false},{"displayName":"Description","id":"description","type":"string","removed":false,"required":true,"display":true,"defaultMatch":false},{"displayName":"Severity (Severity of information)","id":"severity","type":"options","options":[{"name":"Low","value":1},{"name":"Medium","value":2},{"name":"High","value":3},{"name":"Critical","value":4}],"removed":false,"required":false,"display":true,"defaultMatch":false},{"displayName":"Start Date","id":"startDate","type":"dateTime","removed":false,"required":false,"display":true,"defaultMatch":false},{"displayName":"End Date","id":"endDate","type":"dateTime","removed":false,"required":false,"display":true,"defaultMatch":false},{"displayName":"Tags","id":"tags","type":"string","removed":false,"required":false,"display":true,"defaultMatch":false},{"displayName":"Flag","id":"flag","type":"boolean","removed":false,"required":false,"display":true,"defaultMatch":false},{"displayName":"TLP (Confidentiality of information)","id":"tlp","type":"options","options":[{"name":"White","value":0},{"name":"Green","value":1},{"name":"Amber","value":2},{"name":"Red","value":3}],"removed":false,"required":false,"display":true,"defaultMatch":false},{"displayName":"PAP (Level of exposure of information)","id":"pap","type":"options","options":[{"name":"White","value":0},{"name":"Green","value":1},{"name":"Amber","value":2},{"name":"Red","value":3}],"removed":false,"required":false,"display":true,"defaultMatch":false},{"displayName":"Summary","id":"summary","type":"string","removed":false,"required":false,"display":true,"defaultMatch":false},{"displayName":"Status","id":"status","type":"options","removed":false,"required":false,"display":true,"defaultMatch":false,"options":[{"name":"Duplicated","value":"Duplicated","description":"Stage: Closed"},{"name":"FalsePositive","value":"FalsePositive","description":"Stage: Closed"},{"name":"Indeterminate","value":"Indeterminate","description":"Stage: Closed"},{"name":"InProgress","value":"InProgress","description":"Stage: InProgress"},{"name":"New","value":"New","description":"Stage: New"},{"name":"Other","value":"Other","description":"Stage: Closed"},{"name":"TruePositive","value":"TruePositive","description":"Stage: Closed"}]},{"displayName":"Assignee","id":"assignee","type":"options","removed":false,"required":false,"display":true,"defaultMatch":false,"options":[{"name":"APIAdmin","value":"apiadmin@thehive.local"}]},{"displayName":"Case Template","id":"caseTemplate","type":"options","removed":false,"required":false,"display":true,"defaultMatch":false,"options":[]},{"displayName":"Tasks","id":"tasks","type":"array","removed":false,"required":false,"display":true,"defaultMatch":false},{"displayName":"Sharing Parameters","id":"sharingParameters","type":"array","removed":false,"required":false,"display":true,"defaultMatch":false},{"displayName":"Observable Rule","id":"observableRule","type":"string","removed":false,"required":false,"display":true,"defaultMatch":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"n8n-nodes-base.theHiveProject","typeVersion":1,"position":[4720,160],"id":"b379a469-e622-4747-8fef-074d69ace7a7","name":"Create a case","retryOnFail":true,"credentials":{"theHiveProjectApi":{"id":"eqKM2hDCqtAzw9Bf","name":"The Hive 5 account 2"}}},{"parameters":{"language":"python","pythonCode":"import json\nimport re\nfor item in items:\n  content=str(item['json']['content']['parts'][0]['text'])\njson_output=re.search(r\"\\{.*?\\}\",content,re.DOTALL)\nif json_output:\n  result=json_output.group()\n  result_json=json.loads(result)\n            \nreturn result_json"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4496,160],"id":"95bd2a87-4584-4f7c-80b8-6e3f093957de","name":"parsing node"},{"parameters":{"language":"python","pythonCode":"def recursor(body):\n    trigger = False\n    remove_keys = []\n\n    for k, v in list(body.items()):\n        if hasattr(v, \"items\"):  # nested dict or JSONProxy\n            v = dict(v)\n            for nk, nv in v.items():\n                body[nk] = nv\n            remove_keys.append(k)\n            trigger = True\n\n    for k in remove_keys:\n        body.pop(k, None)\n\n    return recursor(body) if trigger else body\n\n\n# --- MAIN ---\nitem = items[0]\n\nbody = dict(item[\"json\"][\"body\"])  # ensure dict\nflat = recursor(body)\n\n# assign back to the same item's body\nitem[\"json\"][\"body\"] = flat\n\n# return the original `items` list\nreturn {\"body\":flat}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-256,288],"id":"9eccff37-81fe-4f51-9d90-bdf130d6c003","name":"Code in Python (Beta)1"},{"parameters":{"assignments":{"assignments":[{"id":"67c54091-6652-4599-b7f1-e289a169b4f3","name":"retry_count","value":0,"type":"number"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[992,-48],"id":"1bac7856-144e-4c1c-b268-2d378e5296bf","name":"Edit Fields"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"31cbc74f-c0c5-4ec0-98ec-5d45047744dc","leftValue":"={{ $json.error }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1200,-48],"id":"d2551829-6fce-4557-9129-f385c2d64ccb","name":"If1"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[3600,-224],"id":"c1c95abb-5d2e-40d4-83ca-ab4af791f3f1","name":"Merge"}],"connections":{"Webhook":{"main":[[{"node":"Code in Python (Beta)1","type":"main","index":0}]]},"Code in Python (Beta)":{"main":[[{"node":"Flatten IPs","type":"main","index":0},{"node":"Flatten urls","type":"main","index":0},{"node":"flatten domains","type":"main","index":0}]]},"IP verification":{"main":[[{"node":"IP lookup","type":"main","index":0}],[{"node":"Merge1","type":"main","index":0}]]},"domain verification":{"main":[[{"node":"Domain lookup","type":"main","index":0}],[{"node":"Merge1","type":"main","index":2}]]},"Flatten IPs":{"main":[[{"node":"IP verification","type":"main","index":0}]]},"flatten domains":{"main":[[{"node":"domain verification","type":"main","index":0}]]},"Flatten urls":{"main":[[{"node":"URL verification","type":"main","index":0}]]},"URL verification":{"main":[[{"node":"URL post","type":"main","index":0}],[{"node":"Merge1","type":"main","index":1}]]},"If":{"main":[[{"node":"Wait","type":"main","index":0}],[{"node":"Extract URL TI","type":"main","index":0}]]},"Wait":{"main":[[{"node":"url lookup","type":"main","index":0}]]},"IP lookup":{"main":[[{"node":"Extract IP TI","type":"main","index":0}]]},"URL post":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Domain lookup":{"main":[[{"node":"Extract Domain TI","type":"main","index":0}]]},"url lookup":{"main":[[{"node":"If","type":"main","index":0}]]},"Extract URL TI":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Extract Domain TI":{"main":[[{"node":"Merge1","type":"main","index":2}]]},"Extract IP TI":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"normalize merge output","type":"main","index":0}]]},"Alert parsing":{"main":[[{"node":"Merge1","type":"main","index":3}]]},"normalize merge output":{"main":[[{"node":"Build Prompt","type":"main","index":0}]]},"Message a model":{"main":[[{"node":"parsing node","type":"main","index":0}]]},"Build Prompt":{"main":[[{"node":"Message a model","type":"main","index":0}]]},"parsing node":{"main":[[{"node":"Create a case","type":"main","index":0}]]},"Code in Python (Beta)1":{"main":[[{"node":"Alert parsing","type":"main","index":0},{"node":"Code in Python (Beta)","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Merge","type":"main","index":0}],[{"node":"url lookup","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Merge1","type":"main","index":1}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"localhost:5678","user-agent":"curl/8.5.0","accept":"*/*","content-type":"application/json","content-length":"1482"},"params":{},"query":{},"body":{"headers":{"host":"localhost:5678","user-agent":"SOC-Agent/1.2","content-type":"application/json"},"params":{},"query":{},"body":{"id":"mal-20251121-002","title":"Ransomware Behavior Detected","description":"Suspicious file encryption and external C2 communication.","host":"win-0587","user":"bob.jones","process":{"process_id":"10345","command_line":"powershell.exe -enc JAB...","parent_process":{"process_id":"8901","command_line":"explorer.exe"}},"iocs":{"file_hashes":{"md5":"d41d8cd98f00b204e9800998ecf8427e","sha1":"da39a3ee5e6b4b0d3255bfef95601890afd80709","sha256":"e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"},"domains":["malicious-example.com","badserver.net"],"urls":["http://malicious-example.com/payload.exe"],"ips":["203.0.113.55","198.51.100.22"]},"network":{"destination_ip":"203.0.113.55","destination_port":443,"protocol":"tcp","c2":{"url":"http://malicious-example.com/c2","method":"GET"}},"type":"ransomware","behavior":"file_encryption_and_c2","severity":"Critical","classification":"TRUE_POSITIVE","_time":"2025-11-21T05:10:00Z"},"webhookUrl":"http://localhost:5678/webhook/mal_alert","executionMode":"production"},"webhookUrl":"http://localhost:5678/webhook/AI_classfication","executionMode":"production"}}]},"versionId":"43716e81-3758-47f9-94c2-ca638b99360d","triggerCount":1,"shared":[{"createdAt":"2025-11-21T14:56:00.435Z","updatedAt":"2025-11-21T14:56:00.435Z","role":"workflow:owner","workflowId":"sym4JzADqKohylkH","projectId":"gRGVTEYpzLUQ9scs"}],"tags":[],"error":"The resource you are requesting could not be found"}