AI Alert classifier parallel.json
{"createdAt":"2025-11-22T19:38:06.402Z","updatedAt":"2025-11-23T10:59:37.000Z","id":"7rS8m419JjSHcXkR","name":"AI Alert classifier parallel","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"aitest","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-2352,824],"id":"3bf44f5d-600d-442a-a6cb-1e83b4c18e1a","name":"Webhook","webhookId":"4cb95f68-64c1-425b-aae3-f0e9eee98ac1"},{"parameters":{"language":"python","pythonCode":"import re\nimport json\nfrom urllib.parse import urlparse\nresponse=[]\nfile_extensions=[\n            '.exe', '.dll', '.sys', '.bat', '.cmd', '.ps1', \n                      '.vbs', '.js', '.jar', '.msi', '.zip', '.rar',\n                      '.pdf', '.doc', '.xls', '.ppt'\n        ]\n\nfor item in items:\n  body_str= str(dict(item['json'].get('body', {})))# convert JsProxy to plain dict\n  ips = re.findall(r\"(?:\\d{1,3}\\.){3}\\d{1,3}\", json.dumps(body_str))\n  response.append({\"json\": {\"type\": \"ips\", \"values\": ips}})\n  url_pattern=r\"https?:\\/\\/(?:(?:\\d{1,3}\\.){3}\\d{1,3}|(?:[a-z](?:[a-zA-Z0-9-]{1,61}[a-zA-Z0-9]\\.)*[a-z]{2,}))(?::\\d{1,5})?(?:\\/[^\\s}]*)?\"\n  valid_urls=[]\n  valid_domains=[]\n  for match in re.finditer(url_pattern,body_str,re.IGNORECASE):\n    url=match.group()\n    if not url.startswith((\"http://\",\"https://\",\"ftp://\",\"hxxp://\")):\n        url=\"http://\"+url\n    try:\n      parsed=urlparse(url)\n      if parsed.netloc:\n        valid_urls.append(url)\n        if parsed.hostname and not re.match(r\"(?:\\d{1,3}\\.){3}\\d{1,3}\"):\n          valid_domains.append(parsed.hostname)\n    except Exception as e:\n       continue\n  response.append({\"json\": {\"type\": \"urls\", \"values\": valid_urls}})\n  domains=re.findall(r\"(?i)\\b(?:[a-z](?:[a-z0-9-]{1,61}[a-z0-9])?\\.)+[a-z]{2,}\\b\",body_str) \n  for domain in domains:\n    if any(domain.endswith(ext) for ext in file_extensions):\n      continue\n    \n    valid_domains.append(domain)\n  response.append({\"json\": {\"type\": \"domains\", \"values\": valid_domains}})\n  response.append({\"json\": {\"type\": \"body\", \"values\": item['json']['body']}})\n  response.append({\"json\": {\"type\": \"body_str\", \"values\": body_str}})\n  \n  #body_str=body_string.replace(\"\\\\n\",\"\").replace(\"[.]\",\".\").replace(\"(.)\",\".\").replace(\"[dot]\",\".\")\n\n  \n\nreturn response\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1904,512],"id":"b31e4da0-2c54-412b-b24a-c79a34a4d077","name":"Code in Python (Beta)"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"791566be-cef1-4239-91a5-a1a71d569573","leftValue":"={{ $json.type }}","rightValue":"ips","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1456,-304],"id":"df20adfd-1d99-430f-9fee-ae7cc3ea912d","name":"IP verification"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0b967e0c-85f9-453e-9a26-a4f281612bb5","leftValue":"={{ $json.type }}","rightValue":"domains","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1456,1088],"id":"007b9202-8565-4b7a-9057-da9695a8b4af","name":"domain verification"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7b29fe60-f20d-4686-b908-346b43eb813e","leftValue":"={{ $json.type}}","rightValue":"urls","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1680,512],"id":"61a5f673-d6b4-4e24-98c0-b40444893e18","name":"URL verification"},{"parameters":{"amount":15},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[176,128],"id":"d8a90633-096e-4ba1-84f0-5189fa95ab6f","name":"Wait","webhookId":"c8bb7623-0eb4-40b3-b2e7-a8678af2b625","executeOnce":true},{"parameters":{"url":"=https://www.virustotal.com/api/v3/ip_addresses/{{ $json.values }}","authentication":"predefinedCredentialType","nodeCredentialType":"virusTotalApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-784,-208],"id":"4a5f3a45-905d-4fed-afa0-3ed674fab90c","name":"IP lookup","credentials":{"virusTotalApi":{"id":"vtOhHIPaSZoclWIh","name":"VirusTotal account"}}},{"parameters":{"method":"POST","url":"=https://www.virustotal.com/api/v3/urls","authentication":"predefinedCredentialType","nodeCredentialType":"virusTotalApi","sendQuery":true,"queryParameters":{"parameters":[{}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"content-type","value":"application/x-www-form-urlencoded"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"url","value":"={{ $json.url }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1008,320],"id":"2f48ae27-25da-4ade-bcf2-aa57c6a49f33","name":"URL post","credentials":{"virusTotalApi":{"id":"vtOhHIPaSZoclWIh","name":"VirusTotal account"}},"onError":"continueRegularOutput"},{"parameters":{"url":"=https://www.virustotal.com/api/v3/domains/{{ $json.domain }}","authentication":"predefinedCredentialType","nodeCredentialType":"virusTotalApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-784,1280],"id":"36c0b3f8-8e83-4d5d-be0f-62464af97a35","name":"Domain lookup","credentials":{"virusTotalApi":{"id":"vtOhHIPaSZoclWIh","name":"VirusTotal account"}},"onError":"continueRegularOutput"},{"parameters":{"url":"={{ $json.data.links.self }}","authentication":"predefinedCredentialType","nodeCredentialType":"virusTotalApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[464,344],"id":"0279557f-85f2-411d-830d-3c233724c490","name":"url lookup","credentials":{"virusTotalApi":{"id":"vtOhHIPaSZoclWIh","name":"VirusTotal account"}},"onError":"continueRegularOutput"},{"parameters":{"language":"python","pythonCode":"return_list=[]\n# Loop over input items and add a new field called 'myNewField' to the JSON of each one\nip_intel=\"\"\nfor item in items:  \n  ip=item['json']['data']['id']\n  last_analysis_stats=item['json']['data']['attributes']['last_analysis_stats']\n  stat=\"\"\n  for key,value in last_analysis_stats.items():\n    stat=stat+\"-\"+key+\":\"+str(value)\n  ip_intel=ip_intel+\",\"+ip+\"-\"+str(stat)\nreturn_list.append({\"ip_intel\":ip_intel})\n\nreturn return_list"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-784,-400],"id":"f13efd6f-9a72-4ba4-83eb-2bfaebc9e798","name":"Extract IP TI"},{"parameters":{"language":"python","pythonCode":"return_list = []\nip_intel=\"\"\nfor item in items:\n  if \"meta\" in item['json'] and \"data\" in item['json']:\n    url=item['json']['meta']['url_info']['url']\n    last_analysis_stats = item['json']['data']['attributes']['stats']\n    stat=\"\"\n    for key,value in last_analysis_stats.items():\n      stat=stat+\"-\"+key+\":\"+str(value)\n    ip_intel=ip_intel+\",\"+url+\"-\"+str(stat)\nreturn{\n  \"url_intel\":ip_intel\n}\n    \n    \n  "},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1008,104],"id":"733affaf-fe64-4100-981e-5c4a0281842f","name":"Extract URL TI"},{"parameters":{"language":"python","pythonCode":"return_list=[]\n# Loop over input items and add a new field called 'myNewField' to the JSON of each one\nstat=\"\"\nip_intel=\"\"\ntry:\n  for item in items:\n    domain=item['json']['data']['id']\n    last_analysis_stats=item['json']['data']['attributes']['last_analysis_stats']\n    for key,value in last_analysis_stats.items():\n      stat=stat+\"-\"+key+\":\"+str(value)\n    ip_intel=ip_intel+\",\"+domain+\"-\"+str(stat)\nexcept Exception as e:\n  ip_inten=\"\"\nreturn{\n  \"domain_intel\":ip_intel\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-784,1088],"id":"98f862a7-e2a3-41de-bd33-9b894bb3352a","name":"Extract Domain TI"},{"parameters":{"language":"python","pythonCode":"body={}\nstat=\"\"\nfor item in items:\n  for key,value in item['json'].get('body', {}).items():\n    stat=stat+\"-\"+key+\":\"+str(value)  \nreturn {\"body\":stat}\n      \n  "},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-784,1472],"id":"58fab6f9-d214-47d6-81fc-d20cec10b7a9","name":"Alert parsing"},{"parameters":{"language":"python","pythonCode":"stat=\"\"\nfor item in items:\n  for key,value in item['json'].items():\n    stat=stat+\"\\n\"+key+\":\"+str(value)\n\nreturn{\n    \"result\":stat\n  }"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-336,-280],"id":"08a91a4b-e47e-44ad-8c4a-327be2d71f17","name":"normalize merge output"},{"parameters":{"modelId":{"__rl":true,"value":"models/gemini-2.0-flash-lite","mode":"list","cachedResultName":"models/gemini-2.0-flash-lite"},"messages":{"values":[{"content":"={{ $json.prompt }}"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[112,-280],"id":"4159a0a4-74fc-427f-bfd3-0140674f7608","name":"Message a model","retryOnFail":true,"credentials":{"googlePalmApi":{"id":"BK779NxuvjS2L8Dl","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"language":"python","pythonCode":"prompt = f\"\"\"\nYou are a SOC analyst\nAnalyze this alert along with the intel provided\n- alert and intel:{items[0]['json']['result']}\n\nIs this suspicious?\nClassify as :\n - TRUE_POSITIVE (real attack)\n - FALSE_POSITIVE (legitimate behaviour)\n - NEEDS_REVIEW (uncler)\n\n INSTRUCTIONS:\n- ONLY output a single JSON object with the exact keys: classification, confidence, reasoning.\n- classification: one of \"TRUE_POSITIVE\", \"FALSE_POSITIVE\", \"NEEDS_REVIEW\" (string).\n- confidence: integer 0-100 (no % sign).\n- severity: one of \"Critical\",\"High\",\"Medium\",\"Low\"\n- priority: 1 for low, 2 for medium, 3 for high, 4 for critical\n- title: title for the alert to be populated in case management\n- reasoning: array of exactly 4 strings. Each string max 50 words. No bullet characters, no newlines inside items.\n- Do NOT output any extra text, commentary, or code fences. Output must be parseable by json.loads().\n- Include IPs or Urls or domains given when you reason as the data will be fed to chromadb for future searches for the same alert\n- First Sentence must always state the alert behaviour.\n  1. The alert indicates multiple RDP login attemps from <source ip> to <destination ip> which is a sign of lateral movement\n  \n  Format: \"Attack_Type Key_Indicator MITRE_ID\"\n  Example: \"Brute Force Authentication T1110\"\n  Example: \"Lateral Movement RDP T1021\"\n\nOUTPUT_SCHEMA:\n{{\n  \"classification\": \"TRUE_POSITIVE\",\n  \"confidence\": 95,\n  \"severity\": \"Critical\",\n  \"priority\":4,\n  \"title\": Brute force alert\n  \"reasoning\": [\n    \"One-sentence reason 1 (<=50 words).\",\n    \"One-sentence reason 2 (<=50 words).\",\n    \"One-sentence reason 3 (<=50 words).\",\n    \"One-sentence reason 4 (<=50 words).\"\n  ]\n\n\"\"\"\nreturn{\n  \"prompt\":prompt\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-112,-280],"id":"ddb6b057-d2b1-4d4b-9772-07cc464ebed2","name":"Build Prompt"},{"parameters":{"resource":"case","caseFields":{"mappingMode":"defineBelow","value":{"description":"=classification:{{ JSON.stringify($json.classification) }}\nconfidence:{{ JSON.stringify($json.confidence) }}\nReasoning:{{JSON.stringify($json.reasoning)}}","severity":"={{ $json.priority }}","startDate":"={{ new Date().toISOString() }}","title":"={{JSON.stringify($json.title)}}"},"matchingColumns":[],"schema":[{"displayName":"Title","id":"title","type":"string","removed":false,"required":true,"display":true,"defaultMatch":false},{"displayName":"Description","id":"description","type":"string","removed":false,"required":true,"display":true,"defaultMatch":false},{"displayName":"Severity (Severity of information)","id":"severity","type":"options","options":[{"name":"Low","value":1},{"name":"Medium","value":2},{"name":"High","value":3},{"name":"Critical","value":4}],"removed":false,"required":false,"display":true,"defaultMatch":false},{"displayName":"Start Date","id":"startDate","type":"dateTime","removed":false,"required":false,"display":true,"defaultMatch":false},{"displayName":"End Date","id":"endDate","type":"dateTime","removed":false,"required":false,"display":true,"defaultMatch":false},{"displayName":"Tags","id":"tags","type":"string","removed":false,"required":false,"display":true,"defaultMatch":false},{"displayName":"Flag","id":"flag","type":"boolean","removed":false,"required":false,"display":true,"defaultMatch":false},{"displayName":"TLP (Confidentiality of information)","id":"tlp","type":"options","options":[{"name":"White","value":0},{"name":"Green","value":1},{"name":"Amber","value":2},{"name":"Red","value":3}],"removed":false,"required":false,"display":true,"defaultMatch":false},{"displayName":"PAP (Level of exposure of information)","id":"pap","type":"options","options":[{"name":"White","value":0},{"name":"Green","value":1},{"name":"Amber","value":2},{"name":"Red","value":3}],"removed":false,"required":false,"display":true,"defaultMatch":false},{"displayName":"Summary","id":"summary","type":"string","removed":false,"required":false,"display":true,"defaultMatch":false},{"displayName":"Status","id":"status","type":"options","removed":false,"required":false,"display":true,"defaultMatch":false,"options":[{"name":"Duplicated","value":"Duplicated","description":"Stage: Closed"},{"name":"FalsePositive","value":"FalsePositive","description":"Stage: Closed"},{"name":"Indeterminate","value":"Indeterminate","description":"Stage: Closed"},{"name":"InProgress","value":"InProgress","description":"Stage: InProgress"},{"name":"New","value":"New","description":"Stage: New"},{"name":"Other","value":"Other","description":"Stage: Closed"},{"name":"TruePositive","value":"TruePositive","description":"Stage: Closed"}]},{"displayName":"Assignee","id":"assignee","type":"options","removed":false,"required":false,"display":true,"defaultMatch":false,"options":[{"name":"APIAdmin","value":"apiadmin@thehive.local"}]},{"displayName":"Case Template","id":"caseTemplate","type":"options","removed":false,"required":false,"display":true,"defaultMatch":false,"options":[]},{"displayName":"Tasks","id":"tasks","type":"array","removed":false,"required":false,"display":true,"defaultMatch":false},{"displayName":"Sharing Parameters","id":"sharingParameters","type":"array","removed":false,"required":false,"display":true,"defaultMatch":false},{"displayName":"Observable Rule","id":"observableRule","type":"string","removed":false,"required":false,"display":true,"defaultMatch":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"n8n-nodes-base.theHiveProject","typeVersion":1,"position":[688,-280],"id":"2e742138-3b76-44d1-ba11-24f2f5591ee8","name":"Create a case","retryOnFail":true,"credentials":{"theHiveProjectApi":{"id":"eqKM2hDCqtAzw9Bf","name":"The Hive 5 account 2"}}},{"parameters":{"language":"python","pythonCode":"import json\nimport re\nfor item in items:\n  content=str(item['json']['content']['parts'][0]['text'])\njson_output=re.search(r\"\\{.*?\\}\",content,re.DOTALL)\nif json_output:\n  result=json_output.group()\n  result_json=json.loads(result)\n            \nreturn result_json"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[464,-280],"id":"ac842176-38ab-4792-8950-83fda01bf0e6","name":"parsing node"},{"parameters":{"language":"python","pythonCode":"def recursor(body):\n    trigger = False\n    remove_keys = []\n\n    for k, v in list(body.items()):\n        if hasattr(v, \"items\"):  # nested dict or JSONProxy\n            v = dict(v)\n            for nk, nv in v.items():\n                body[nk] = nv\n            remove_keys.append(k)\n            trigger = True\n\n    for k in remove_keys:\n        body.pop(k, None)\n\n    return recursor(body) if trigger else body\n\n\n# --- MAIN ---\nitem = items[0]\n\nbody = dict(item[\"json\"][\"body\"])  # ensure dict\nflat = recursor(body)\n\n# assign back to the same item's body\nitem[\"json\"][\"body\"] = flat\n\n# return the original `items` list\nreturn {\"body\":flat}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2128,824],"id":"88233455-0008-43ed-a474-e15cee39c5e3","name":"Code in Python (Beta)1"},{"parameters":{"language":"python","pythonCode":"\n\nfor item in _input.all():\n  if \"retry_count\" not in item.json:\n    item.json['retry_count']=0\n  else:\n    item.json['retry_count']+=1\nreturn {\"retry_count\":item.json['retry_count']}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-496,-16],"id":"7b0c3e59-0766-4849-91bc-a4136ce594ee","name":"retry limiter"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e5353729-f12f-4c39-a6fc-9fc41e838100","leftValue":"={{ $json.data }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}},{"id":"91da1c74-00f1-4c97-819a-cf50710372d2","leftValue":"={{ $json.data.attributes.status }}","rightValue":"completed","operator":{"type":"string","operation":"notEquals"}},{"id":"c5e8a7d5-200d-402f-a2a8-9af7a1aaccbf","leftValue":"={{ $json.retry_count }}","rightValue":3,"operator":{"type":"number","operation":"lt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-112,128],"id":"ea680cbc-a26e-4ae3-94bc-b2d688ed0610","name":"Get Status check"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-784,104],"id":"83408934-248f-4d45-9f20-7ecd461134fa","name":"Merge URL TI"},{"parameters":{"numberInputs":4},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[240,-752],"id":"e9e18c5a-9914-4caa-91bc-ee84233fb9a5","name":"Merge IOC TIs"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"31cbc74f-c0c5-4ec0-98ec-5d45047744dc","leftValue":"={{ $json.error }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-784,320],"id":"c0e3259c-6f4c-455f-b715-5b459a092fdf","name":"Verify Post status"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[560,-64],"id":"891afce5-c186-43a3-8ed6-39efb1ac0f8c","name":"Merge retry","alwaysOutputData":true},{"parameters":{"fieldToSplitOut":"values","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-1456,416],"id":"d1c6802b-9645-4051-9c8b-87a13d828b38","name":"Split Out1"},{"parameters":{"fieldToSplitOut":"values","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-1232,1184],"id":"76e4b620-c748-4714-a6be-d611b9539933","name":"Split Out2"},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1008,-304],"id":"416f904b-d02f-40d6-9a09-1209cf513434","name":"Loop Over Items"},{"parameters":{"fieldToSplitOut":"values","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-1232,-304],"id":"e363329b-9c4a-432f-ac73-e7b2a1b330b6","name":"Split Out"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1232,416],"id":"6d45bd50-145b-4e13-b674-255bdf9accb6","name":"Loop Over Items1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1008,1184],"id":"4305a6eb-a2f2-4c11-b0ef-0552d0ec2698","name":"Loop Over Items2"}],"connections":{"Webhook":{"main":[[{"node":"Code in Python (Beta)1","type":"main","index":0}]]},"Code in Python (Beta)":{"main":[[{"node":"IP verification","type":"main","index":0},{"node":"URL verification","type":"main","index":0},{"node":"domain verification","type":"main","index":0}]]},"IP verification":{"main":[[{"node":"Split Out","type":"main","index":0}],[{"node":"Merge IOC TIs","type":"main","index":0}]]},"domain verification":{"main":[[{"node":"Split Out2","type":"main","index":0}],[{"node":"Merge IOC TIs","type":"main","index":2}]]},"URL verification":{"main":[[{"node":"Split Out1","type":"main","index":0}],[{"node":"Merge IOC TIs","type":"main","index":1}]]},"Wait":{"main":[[{"node":"url lookup","type":"main","index":0},{"node":"retry limiter","type":"main","index":0}]]},"IP lookup":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"URL post":{"main":[[{"node":"Verify Post status","type":"main","index":0}]]},"Domain lookup":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"url lookup":{"main":[[{"node":"Merge retry","type":"main","index":1}]]},"Extract URL TI":{"main":[[{"node":"Merge URL TI","type":"main","index":1}]]},"Extract Domain TI":{"main":[[{"node":"Merge IOC TIs","type":"main","index":2}]]},"Extract IP TI":{"main":[[{"node":"Merge IOC TIs","type":"main","index":0}]]},"Alert parsing":{"main":[[{"node":"Merge IOC TIs","type":"main","index":3}]]},"normalize merge output":{"main":[[{"node":"Build Prompt","type":"main","index":0}]]},"Message a model":{"main":[[{"node":"parsing node","type":"main","index":0}]]},"Build Prompt":{"main":[[{"node":"Message a model","type":"main","index":0}]]},"parsing node":{"main":[[{"node":"Create a case","type":"main","index":0}]]},"Code in Python (Beta)1":{"main":[[{"node":"Alert parsing","type":"main","index":0},{"node":"Code in Python (Beta)","type":"main","index":0}]]},"retry limiter":{"main":[[{"node":"Merge retry","type":"main","index":0}]]},"Get Status check":{"main":[[{"node":"Wait","type":"main","index":0}],[{"node":"Loop Over Items1","type":"main","index":0}]]},"Merge URL TI":{"main":[[{"node":"Merge IOC TIs","type":"main","index":1}]]},"Merge IOC TIs":{"main":[[{"node":"normalize merge output","type":"main","index":0}]]},"Verify Post status":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}],[{"node":"url lookup","type":"main","index":0},{"node":"retry limiter","type":"main","index":0}]]},"Merge retry":{"main":[[{"node":"Get Status check","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Split Out2":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Extract IP TI","type":"main","index":0}],[{"node":"IP lookup","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"Extract URL TI","type":"main","index":0}],[{"node":"URL post","type":"main","index":0}]]},"Loop Over Items2":{"main":[[{"node":"Extract Domain TI","type":"main","index":0}],[{"node":"Domain lookup","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c249a667-88d5-4e0f-8a87-7ed5889fffa4","triggerCount":1,"shared":[{"createdAt":"2025-12-01T00:56:06.245Z","updatedAt":"2025-12-01T00:56:06.245Z","role":"workflow:owner","workflowId":"7rS8m419JjSHcXkR","projectId":"6s48z25n0vjamXXx"}],"tags":[]}