AWS Enforce MFA compliance.json
{"createdAt":"2025-12-09T17:23:35.204Z","updatedAt":"2025-12-09T17:30:04.121Z","id":"iN7Oxy85oc1UTKHF","name":"AWS Enforce MFA compliance","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"daysInterval":100}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0],"id":"a47dfbc3-7216-4d5e-a229-a6e1441b1791","name":"Schedule Trigger"},{"parameters":{"workflowId":{"__rl":true,"value":"7ExYtsnX6JHk9uDz","mode":"list","cachedResultName":"Fetch AWS Non MFA Compliance"},"workflowInputs":{"mappingMode":"defineBelow","value":{}},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[208,0],"id":"0f2b1a54-c5a1-41d6-9b39-89d0a612175f","name":"Call 'Fetch AWS Non MFA Compliance'"},{"parameters":{"function":"arn:aws:lambda:us-east-1:002125562743:function:DeleteAccessKets","payload":"={\"accesskeys\":{{ JSON.stringify($json) }}}"},"type":"n8n-nodes-base.awsLambda","typeVersion":1,"position":[832,-80],"id":"e72d70ac-8854-4b60-ab6e-bd6591752940","name":"AWS Lambda","credentials":{"aws":{"id":"kRAtHumaJKnPSEiL","name":"AWS account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e99896cf-7fbc-4490-961e-7cdef0e466bd","leftValue":"={{ $json.access_keys }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[416,0],"id":"39eabf74-73ec-4c79-a17b-e9b52bb98444","name":"If"},{"parameters":{"language":"python","pythonCode":"# Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor item in _input.all():\n  data_to_send={}\n  if \"Username\" in item.json:\n    data_to_send[\"UserName\"]=item.json.Username\n  if \"access_keys\" in item.json:\n    data_to_send[\"AccessKeyId\"]=item.json.access_keys\nreturn data_to_send"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[624,-96],"id":"66fb8439-8fbb-44f2-8bca-f9e901d35dec","name":"Code in Python (Beta)"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Call 'Fetch AWS Non MFA Compliance'","type":"main","index":0}]]},"Call 'Fetch AWS Non MFA Compliance'":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Code in Python (Beta)","type":"main","index":0}]]},"Code in Python (Beta)":{"main":[[{"node":"AWS Lambda","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"dc0a03a3-ed48-4971-a9ec-2accdbe4d5fd","triggerCount":0,"shared":[{"createdAt":"2025-12-09T17:23:35.204Z","updatedAt":"2025-12-09T17:23:35.204Z","role":"workflow:owner","workflowId":"iN7Oxy85oc1UTKHF","projectId":"6s48z25n0vjamXXx"}],"tags":[],"error":"The resource you are requesting could not be found"}