AWS CreateUser test.json
{"createdAt":"2025-12-03T16:44:22.923Z","updatedAt":"2025-12-03T16:54:02.603Z","id":"5nQwFgPGlKKWmIf9","name":"AWS CreateUser test","active":false,"isArchived":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"create_user_test","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"d01f655d-480e-4951-9f96-4bbf27b53e83","name":"Webhook","webhookId":"bd86a987-e1f7-4f49-b12b-417a3aed41de"},{"parameters":{"operation":"create","userName":"={{ $json.body.username }}","additionalFields":{},"requestOptions":{}},"type":"n8n-nodes-base.awsIam","typeVersion":1,"position":[688,-64],"id":"0ab59343-d714-48e6-9fea-82c18e156f86","name":"Create user","credentials":{"aws":{"id":"kRAtHumaJKnPSEiL","name":"AWS account"}},"onError":"continueRegularOutput"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1296,0],"id":"fb47de98-90a8-418b-8644-c5fb2f6b31e5","name":"Merge"},{"parameters":{"language":"python","pythonCode":"\nimport string\nimport secrets\n\n\n\nchars = string.ascii_letters + string.digits + \"!@#$%^&*()_+-\"\npassword = \"\".join(secrets.choice(chars) for _ in range(12))\n\ndata = {\"Password\": password}\n\nfor item in _input.all():\n    if (\"CreateUserResponse\" in item.json and \n        \"CreateUserResult\" in item.json[\"CreateUserResponse\"] and\n        \"User\" in item.json[\"CreateUserResponse\"][\"CreateUserResult\"] and\n        \"UserName\" in item.json.CreateUserResponse.CreateUserResult.User):\n        \n        data['UserName'] = item.json.CreateUserResponse.CreateUserResult.User.UserName\n        data['UserId'] = item.json.CreateUserResponse.CreateUserResult.User.UserId\n    \n    if \"body\" in item.json and \"email\" in item.json.body:\n        data[\"email\"] = item.json.body.email\n\nreturn data\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1456,0],"id":"727bf494-c4e5-484d-8e09-ae0685c604af","name":"set password"},{"parameters":{"function":"arn:aws:lambda:us-east-1:002125562743:function:createUserPassword","payload":"={\n\"UserName\":{{ JSON.stringify($json.UserName) }},\n\"Password\":{{ JSON.stringify($json.Password) }},\n\"email\":{{ JSON.stringify($json.email) }}\n}"},"type":"n8n-nodes-base.awsLambda","typeVersion":1,"position":[1664,0],"id":"6c8828ba-4e5f-422a-9f3f-f0218231e334","name":"AWS Lambda","credentials":{"aws":{"id":"kRAtHumaJKnPSEiL","name":"AWS account"}}},{"parameters":{"fromEmail":"splunk.commandcenter@gmail.com","toEmail":"={{ $json.result.email }}","subject":"User Creation Successful","html":"=User  <b>{{ $json.result.username }}</b> created with password <i><b>{{ $json.result.password }}<b/></i>. Please change password on first login","options":{}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[1872,0],"id":"91261c1e-c67a-4f98-aa57-4d254cd8bd63","name":"Send email","webhookId":"90272552-2506-48ce-b73f-f49de1fb7d33","credentials":{"smtp":{"id":"uQmjVOGo3b4NuY5c","name":"SMTP account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3228a8bb-de18-48c4-9fc7-e7b81b0f17f8","leftValue":"={{$json.error}}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[896,-64],"id":"63256321-7dfb-4327-b2bd-8ee5235b1080","name":"If"},{"parameters":{"errorMessage":"={{ $json.error }}"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[1104,-160],"id":"2fdde3e8-af25-442c-9952-e34b18380f9b","name":"Stop and Error"}],"connections":{"Webhook":{"main":[[{"node":"Merge","type":"main","index":1},{"node":"Create user","type":"main","index":0}]]},"Create user":{"main":[[{"node":"If","type":"main","index":0}]]},"Merge":{"main":[[{"node":"set password","type":"main","index":0}]]},"set password":{"main":[[{"node":"AWS Lambda","type":"main","index":0}]]},"AWS Lambda":{"main":[[{"node":"Send email","type":"main","index":0}]]},"If":{"main":[[{"node":"Stop and Error","type":"main","index":0}],[{"node":"Merge","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"8oPdHCbfkDWiGkoo"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a9a83150-3e3d-4203-b61c-3a63f0f569f4","triggerCount":1,"shared":[{"createdAt":"2025-12-03T16:44:22.923Z","updatedAt":"2025-12-03T16:44:22.923Z","role":"workflow:owner","workflowId":"5nQwFgPGlKKWmIf9","projectId":"6s48z25n0vjamXXx"}],"tags":[]}