AWS Delete User.json
{"createdAt":"2025-12-03T17:02:17.854Z","updatedAt":"2025-12-04T13:32:47.043Z","id":"HcyITvgUIR6Ufc1T","name":"AWS Delete User","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"aws_delete_user","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-192,1088],"id":"110d5853-64cc-4830-b694-3216cd503546","name":"Webhook","webhookId":"96854520-4b01-42cc-9f45-2cbab752210a"},{"parameters":{"function":"arn:aws:lambda:us-east-1:002125562743:function:FetchUserResources","payload":"={\"UserName\":{{ JSON.stringify($json.body.username) }}}"},"type":"n8n-nodes-base.awsLambda","typeVersion":1,"position":[32,1088],"id":"594cbe17-48a4-4ebc-b0e9-ad002c1a9103","name":"AWS Lambda","credentials":{"aws":{"id":"kRAtHumaJKnPSEiL","name":"AWS account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7a7e7804-e2d6-4c99-9525-173de76d81d0","leftValue":"={{ $json.result }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[480,1088],"id":"ab8ecb7a-2af6-40d0-b025-ff31b06c8129","name":"If"},{"parameters":{"errorMessage":"No User Information in IAM"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[704,1184],"id":"7d750114-efb3-4c18-87bd-b98c295a1fc3","name":"Stop and Error"},{"parameters":{"function":"arn:aws:lambda:us-east-1:002125562743:function:DeleteLoginProfile","payload":"={\"UserName\":{{JSON.stringify( $json.result.login_profile.UserName) }}}"},"type":"n8n-nodes-base.awsLambda","typeVersion":1,"position":[928,-640],"id":"5160cfe7-7d2e-44a2-b749-3ad1d2897ffe","name":"Login Profile Deletion","credentials":{"aws":{"id":"kRAtHumaJKnPSEiL","name":"AWS account"}}},{"parameters":{"function":"arn:aws:lambda:us-east-1:002125562743:function:DeleteAccessKets","payload":"={\"accesskeys\":{{ JSON.stringify($json.result.access_keys) }}}"},"type":"n8n-nodes-base.awsLambda","typeVersion":1,"position":[928,-256],"id":"fb2ad57d-7068-4743-a809-d0510703c66f","name":"Access Keys Deletion","credentials":{"aws":{"id":"kRAtHumaJKnPSEiL","name":"AWS account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"001debb7-064a-4a1f-91dc-14c2b1a51676","leftValue":"={{ $json.result.login_profile }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[704,-544],"id":"04e9c60b-6efb-4d0b-a221-511770d57bfa","name":"Login Profile Check"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9d0660e5-fcf2-499d-bf99-ac200db140aa","leftValue":"={{ $json.result.access_keys }}","rightValue":"","operator":{"type":"array","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[704,-160],"id":"3408aa96-3da3-4399-b4d8-9f534f03af9b","name":"Access Keys Check"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0e69f248-7b24-4bb6-8727-bde6491f2071","leftValue":"={{ $json.result.mfa_devices }}","rightValue":"","operator":{"type":"array","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[704,224],"id":"8c061a04-4716-405e-8aea-5c460ab8e0cc","name":"MFA check"},{"parameters":{"function":"arn:aws:lambda:us-east-1:002125562743:function:DeactivateMFA","payload":"={\"mfa_devices\":{{JSON.stringify($json.result.mfa_devices)}}}"},"type":"n8n-nodes-base.awsLambda","typeVersion":1,"position":[928,128],"id":"2140dff3-be86-4152-9437-d2b6b8a1afe1","name":"MFA deletion","credentials":{"aws":{"id":"kRAtHumaJKnPSEiL","name":"AWS account"}}},{"parameters":{"function":"arn:aws:lambda:us-east-1:002125562743:function:DeleteAttachedPolicies","payload":"={\"attached_policies\":{{JSON.stringify($json.result.attached_policies)}},\"UserName\":{{ JSON.stringify($json.result.user_info.UserName) }}}"},"type":"n8n-nodes-base.awsLambda","typeVersion":1,"position":[928,512],"id":"f55c0ac0-de11-4be4-8b82-e3fe6fa84353","name":"DeleteAttachedPolicy","credentials":{"aws":{"id":"kRAtHumaJKnPSEiL","name":"AWS account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"448dd61e-c23b-4261-917a-1d3997b1d4a0","leftValue":"={{ $json.result.attached_policies }}","rightValue":"","operator":{"type":"array","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[704,608],"id":"a5956ac7-e9f3-43eb-be36-676d7e00882c","name":"AttachedPolicyCheck"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"373d2067-5895-4d09-955e-935e59440fa1","leftValue":"={{ $json.result.groups }}","rightValue":"","operator":{"type":"array","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[704,992],"id":"5eb872a2-3f40-4b56-b91b-466acddc7eec","name":"UserGroupCheck"},{"parameters":{"function":"arn:aws:lambda:us-east-1:002125562743:function:RemoveUserFromGroup","payload":"={\n\"UserName\":{{ JSON.stringify($json.result.user_info.UserName) }},\n\"Groups\":{{ JSON.stringify($json.result.groups) }}\n}"},"type":"n8n-nodes-base.awsLambda","typeVersion":1,"position":[928,896],"id":"7a28b72d-474d-46a5-a579-f6665730af17","name":"RemoveUserGroup","credentials":{"aws":{"id":"kRAtHumaJKnPSEiL","name":"AWS account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"af06984e-bfe9-45ea-8dda-a9a3f4740b07","leftValue":"={{ $json.result.user_policies }}","rightValue":"","operator":{"type":"array","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[704,1376],"id":"c3ebb7cc-f730-4cbd-bfd2-2aa5fb850094","name":"inline policy check"},{"parameters":{"function":"arn:aws:lambda:us-east-1:002125562743:function:DeleteUserPolicy","payload":"={\n\"UserName\":{{ JSON.stringify($json.result.user_info.UserName) }},\n\"UserPolicies\":{{ JSON.stringify($json.result.user_policies )}}\n}"},"type":"n8n-nodes-base.awsLambda","typeVersion":1,"position":[928,1280],"id":"06edb681-8e57-48a3-b097-c40b7a18cc09","name":"DeleteUserPolicy","credentials":{"aws":{"id":"kRAtHumaJKnPSEiL","name":"AWS account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"72051746-3c5c-4ae0-b323-626663981bca","leftValue":"={{ $json.result.git_keys }}","rightValue":"","operator":{"type":"array","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[704,1952],"id":"d1d96604-8db7-4967-bc2b-dfad1c6c252f","name":"service specific creds check"},{"parameters":{"function":"arn:aws:lambda:us-east-1:002125562743:function:DeleteServiceSpecificCredentials","payload":"={\n\"ServerSpecificCreds\": {{ JSON.stringify($json.result.git_keys) }}\n}"},"type":"n8n-nodes-base.awsLambda","typeVersion":1,"position":[928,1856],"id":"b99498e3-00cc-4e9c-94f0-d06eb11fa654","name":"DeleteServiceSpecificCredentials","credentials":{"aws":{"id":"kRAtHumaJKnPSEiL","name":"AWS account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4f0370a2-2fd3-4df8-a0ad-4ee86c0066f3","leftValue":"={{ $json.result.signing_certs }}","rightValue":"","operator":{"type":"array","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[704,2336],"id":"33c934f5-fbe0-4581-bdde-0a2ef318b5f0","name":"If1"},{"parameters":{"function":"arn:aws:lambda:us-east-1:002125562743:function:DeleteSignedCertificates","payload":"={\n\"SignedCerts\":{{ JSON.stringify($json.result.signing_certs) }}\n}"},"type":"n8n-nodes-base.awsLambda","typeVersion":1,"position":[928,2240],"id":"387ab4e9-8220-4fe2-b368-8b2a93272cc8","name":"AWS Lambda1","credentials":{"aws":{"id":"kRAtHumaJKnPSEiL","name":"AWS account"}}},{"parameters":{"numberInputs":9},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1152,784],"id":"673bbfbf-801d-4fdc-b18f-ff777bb941a0","name":"Merge"},{"parameters":{"assignments":{"assignments":[{"id":"f4a6a136-0c94-4d7b-b23e-4a25d5159d2a","name":"status","value":"success","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[256,1088],"id":"ef596081-076b-4793-9c08-45e2a2c7973b","name":"Edit Fields"},{"parameters":{"assignments":{"assignments":[{"id":"293c1890-4945-4942-82ad-f8fcea1c3b88","name":"status","value":"Nil","type":"string"}]},"includeOtherFields":true,"include":"selected","includeFields":"result.user_info.UserName","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[928,-448],"id":"a9155367-3d61-45eb-9a27-4ef423f63253","name":"Edit Fields1"},{"parameters":{"assignments":{"assignments":[{"id":"45d7544b-4118-45c4-ac79-025a1565a1c0","name":"status","value":"Nil","type":"string"}]},"includeOtherFields":true,"include":"selected","includeFields":"result.user_info.UserName","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[928,-64],"id":"3e480923-4d4e-4c3d-8bb9-f18f9e0956ac","name":"Edit Fields2"},{"parameters":{"assignments":{"assignments":[{"id":"fc598957-1b50-4adc-a606-5b111df5ae94","name":"status","value":"Nil","type":"string"}]},"includeOtherFields":true,"include":"selected","includeFields":"result.user_info.UserName","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[928,320],"id":"89b523b7-1ba2-4bea-ade5-4bf41c28a17d","name":"Edit Fields3"},{"parameters":{"assignments":{"assignments":[{"id":"7dd4a2e0-2615-409b-bf41-424aab210c6e","name":"status","value":"Nil","type":"string"}]},"includeOtherFields":true,"include":"selected","includeFields":"result.user_info.UserName","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[928,704],"id":"be7ea645-9e15-4f06-8326-7ad0a22328b5","name":"Edit Fields4"},{"parameters":{"assignments":{"assignments":[{"id":"fa66f04b-f57e-4fc4-84c9-4da99bf0058f","name":"status","value":"Nil","type":"string"}]},"includeOtherFields":true,"include":"selected","includeFields":"result.user_info.UserName","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[928,1088],"id":"0884826d-4846-4534-8f0d-487656a3b43d","name":"Edit Fields5"},{"parameters":{"assignments":{"assignments":[{"id":"42ff74f5-7c86-4e46-bc76-82746d86d7ca","name":"status","value":"Nil","type":"string"}]},"includeOtherFields":true,"include":"selected","includeFields":"result.user_info.UserName","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[928,1472],"id":"206000e2-b094-46ce-af1e-f81e1308a8b7","name":"Edit Fields6"},{"parameters":{"assignments":{"assignments":[{"id":"a9677d13-b8a9-41d5-a24d-8dd9faef4018","name":"status","value":"Nil","type":"string"}]},"includeOtherFields":true,"include":"selected","includeFields":"result.user_info.UserName","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[928,2048],"id":"522bd257-4615-4048-9e25-5c12dfb64cd5","name":"Edit Fields7"},{"parameters":{"assignments":{"assignments":[{"id":"929ac191-d4bd-442a-ace4-cfd149c55758","name":"status","value":"Nil","type":"string"}]},"includeOtherFields":true,"include":"selected","includeFields":"result.user_info.UserName","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[928,2432],"id":"4922a1d1-3fd0-4928-baf4-a290c3a5ccec","name":"Edit Fields8"},{"parameters":{"assignments":{"assignments":[{"id":"9807e4f6-8fff-42c3-ade8-52488ecef83f","name":"username","value":"={{ $json.result.user_info.UserName }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[928,1664],"id":"62eb7292-2ef7-4293-84dd-bf29c4ffdbc9","name":"Edit Fields9"},{"parameters":{"function":"arn:aws:lambda:us-east-1:002125562743:function:DeleteUser","payload":"={\n\"UserName\":{{ JSON.stringify($json.username) }}\n}"},"type":"n8n-nodes-base.awsLambda","typeVersion":1,"position":[1824,896],"id":"cc305838-6a26-404e-b6b3-270e84c4fa89","name":"DeleteUser","credentials":{"aws":{"id":"kRAtHumaJKnPSEiL","name":"AWS account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"51ba57e1-84b6-48ec-ba46-3a1b685d861e","leftValue":"={{ $json.status }}","rightValue":"success","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1600,896],"id":"f867a4be-1f5d-4bbb-836c-4c9839bbe0f7","name":"Status Check"},{"parameters":{"language":"python","pythonCode":"# Loop over input items and add a new field called 'myNewField' to the JSON of each one\nstatus=\"success\"\nmessage=[]\nfor item in _input.all():\n  json_data=item.json\n  for k,v in json_data.items():\n    if k.lower()==\"status\" and v.lower() !=\"success\" and v.lower() != \"nil\":\n      status=v\n    if \"UserName\" in json_data :\n      user_name=json_data.UserName\n    \n    if \"result\" in json_data:\n      for k,v in json_data.result.items():\n        if k==\"message\":\n          message.append(v)\n        if k==\"status\" and v!=\"success\":\n          status=v\n          \n  \n  \n  \nreturn {\n  \"username\":user_name,\n  \"status\":status,\n  \"message\":message\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1376,896],"id":"3ccdd218-5127-4431-b76e-6c9ff3e1c73e","name":"CollateAll results"}],"connections":{"Webhook":{"main":[[{"node":"AWS Lambda","type":"main","index":0}]]},"AWS Lambda":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"If":{"main":[[{"node":"Access Keys Check","type":"main","index":0},{"node":"Login Profile Check","type":"main","index":0},{"node":"MFA check","type":"main","index":0},{"node":"AttachedPolicyCheck","type":"main","index":0},{"node":"UserGroupCheck","type":"main","index":0},{"node":"inline policy check","type":"main","index":0},{"node":"service specific creds check","type":"main","index":0},{"node":"If1","type":"main","index":0},{"node":"Edit Fields9","type":"main","index":0}],[{"node":"Stop and Error","type":"main","index":0}]]},"Login Profile Check":{"main":[[{"node":"Login Profile Deletion","type":"main","index":0}],[{"node":"Edit Fields1","type":"main","index":0}]]},"Access Keys Check":{"main":[[{"node":"Access Keys Deletion","type":"main","index":0}],[{"node":"Edit Fields2","type":"main","index":0}]]},"MFA check":{"main":[[{"node":"MFA deletion","type":"main","index":0}],[{"node":"Edit Fields3","type":"main","index":0}]]},"AttachedPolicyCheck":{"main":[[{"node":"DeleteAttachedPolicy","type":"main","index":0}],[{"node":"Edit Fields4","type":"main","index":0}]]},"UserGroupCheck":{"main":[[{"node":"RemoveUserGroup","type":"main","index":0}],[{"node":"Edit Fields5","type":"main","index":0}]]},"RemoveUserGroup":{"main":[[{"node":"Merge","type":"main","index":4}]]},"inline policy check":{"main":[[{"node":"DeleteUserPolicy","type":"main","index":0}],[{"node":"Edit Fields6","type":"main","index":0}]]},"DeleteUserPolicy":{"main":[[{"node":"Merge","type":"main","index":5}]]},"service specific creds check":{"main":[[{"node":"DeleteServiceSpecificCredentials","type":"main","index":0}],[{"node":"Edit Fields7","type":"main","index":0}]]},"DeleteServiceSpecificCredentials":{"main":[[{"node":"Merge","type":"main","index":6}]]},"If1":{"main":[[{"node":"AWS Lambda1","type":"main","index":0}],[{"node":"Edit Fields8","type":"main","index":0}]]},"AWS Lambda1":{"main":[[{"node":"Merge","type":"main","index":7}]]},"DeleteAttachedPolicy":{"main":[[{"node":"Merge","type":"main","index":3}]]},"MFA deletion":{"main":[[{"node":"Merge","type":"main","index":2}]]},"Access Keys Deletion":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Login Profile Deletion":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"If","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Edit Fields3":{"main":[[{"node":"Merge","type":"main","index":2}]]},"Edit Fields4":{"main":[[{"node":"Merge","type":"main","index":3}]]},"Edit Fields5":{"main":[[{"node":"Merge","type":"main","index":4}]]},"Edit Fields6":{"main":[[{"node":"Merge","type":"main","index":5}]]},"Edit Fields7":{"main":[[{"node":"Merge","type":"main","index":6}]]},"Edit Fields8":{"main":[[{"node":"Merge","type":"main","index":7}]]},"Merge":{"main":[[{"node":"CollateAll results","type":"main","index":0}]]},"Edit Fields9":{"main":[[{"node":"Merge","type":"main","index":8}]]},"Status Check":{"main":[[{"node":"DeleteUser","type":"main","index":0}]]},"CollateAll results":{"main":[[{"node":"Status Check","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"8oPdHCbfkDWiGkoo"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a4421bd2-71da-4b4d-b42b-ac17d8fdd2c6","triggerCount":1,"shared":[{"createdAt":"2025-12-03T17:02:17.854Z","updatedAt":"2025-12-03T17:02:17.854Z","role":"workflow:owner","workflowId":"HcyITvgUIR6Ufc1T","projectId":"6s48z25n0vjamXXx"}],"tags":[]}