AWS CreateUser.json
{"createdAt":"2025-12-03T08:45:20.161Z","updatedAt":"2025-12-04T15:01:28.230Z","id":"iW7IBiEQEla60BoV","name":"AWS CreateUser","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"aws-create-user","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"73363151-37cb-4ad3-ae28-bd6da91b76aa","name":"Webhook","webhookId":"413f8154-0448-4eda-bfa8-afea6744ebda"},{"parameters":{"operation":"create","userName":"={{ $json.body.username }}","additionalFields":{},"requestOptions":{}},"type":"n8n-nodes-base.awsIam","typeVersion":1,"position":[688,-64],"id":"7109f909-aa89-49bc-b8ff-306982a51af3","name":"Create user","credentials":{"aws":{"id":"kRAtHumaJKnPSEiL","name":"AWS account"}},"onError":"continueRegularOutput"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1296,0],"id":"63f1801d-058e-463e-9d5d-14381020dd1a","name":"Merge"},{"parameters":{"language":"python","pythonCode":"\nimport string\nimport secrets\n\n\n\nchars = string.ascii_letters + string.digits + \"!@#$%^&*()_+-\"\npassword = \"\".join(secrets.choice(chars) for _ in range(12))\n\ndata = {\"Password\": password}\n\nfor item in _input.all():\n    if (\"CreateUserResponse\" in item.json and \n        \"CreateUserResult\" in item.json[\"CreateUserResponse\"] and\n        \"User\" in item.json[\"CreateUserResponse\"][\"CreateUserResult\"] and\n        \"UserName\" in item.json.CreateUserResponse.CreateUserResult.User):\n        \n        data['UserName'] = item.json.CreateUserResponse.CreateUserResult.User.UserName\n        data['UserId'] = item.json.CreateUserResponse.CreateUserResult.User.UserId\n    \n    if \"body\" in item.json and \"email\" in item.json.body:\n        data[\"email\"] = item.json.body.email\n\nreturn data\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1456,0],"id":"80ba41ab-3eec-48ef-9b8d-03c2fac14dca","name":"set password"},{"parameters":{"function":"arn:aws:lambda:us-east-1:002125562743:function:createUserPassword","payload":"={\n\"UserName\":{{ JSON.stringify($json.UserName) }},\n\"Password\":{{ JSON.stringify($json.Password) }},\n\"email\":{{ JSON.stringify($json.email) }}\n}"},"type":"n8n-nodes-base.awsLambda","typeVersion":1,"position":[1664,0],"id":"6acc96a4-5c53-4930-9c92-2ee9cca60a91","name":"AWS Lambda","credentials":{"aws":{"id":"kRAtHumaJKnPSEiL","name":"AWS account"}}},{"parameters":{"fromEmail":"splunk.commandcenter@gmail.com","toEmail":"={{ $json.result.email }}","subject":"User Creation Successful","html":"=User  <b>{{ $json.result.username }}</b> created with password <i><b>{{ $json.result.password }}<b/></i>. Please change password on first login","options":{}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[1872,0],"id":"cf6f91b9-0345-4c2d-9824-49b00da48f66","name":"Send email","webhookId":"87b2249a-4826-4b7f-87d1-b600632802f9","credentials":{"smtp":{"id":"uQmjVOGo3b4NuY5c","name":"SMTP account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3228a8bb-de18-48c4-9fc7-e7b81b0f17f8","leftValue":"={{$json.error}}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[896,-64],"id":"fb4a2649-feb3-45a8-adfc-536ef440ac68","name":"If"},{"parameters":{"errorMessage":"={{ $json.error }}"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[1104,-160],"id":"dd63c7b4-4d7b-46fc-a228-30049ce433a0","name":"Stop and Error"}],"connections":{"Webhook":{"main":[[{"node":"Merge","type":"main","index":1},{"node":"Create user","type":"main","index":0}]]},"Create user":{"main":[[{"node":"If","type":"main","index":0}]]},"Merge":{"main":[[{"node":"set password","type":"main","index":0}]]},"set password":{"main":[[{"node":"AWS Lambda","type":"main","index":0}]]},"AWS Lambda":{"main":[[{"node":"Send email","type":"main","index":0}]]},"If":{"main":[[{"node":"Stop and Error","type":"main","index":0}],[{"node":"Merge","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"NToujCJd95cD3FCa"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"842fcfe0-97c7-4dfa-83ee-f9cccaa9ae37","triggerCount":1,"shared":[{"createdAt":"2025-12-03T08:45:20.161Z","updatedAt":"2025-12-03T08:45:20.161Z","role":"workflow:owner","workflowId":"iW7IBiEQEla60BoV","projectId":"6s48z25n0vjamXXx"}],"tags":[]}