AwsAttachPolicyToUser.json
{"createdAt":"2025-12-04T16:12:25.399Z","updatedAt":"2025-12-04T17:09:20.710Z","id":"HbGw9V4Cl0QMMRst","name":"AwsAttachPolicyToUser","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"attachpolicy","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-144,-16],"id":"a118ef83-fcbc-4de0-bd1e-b523abbf2b1c","name":"Webhook","webhookId":"3c429459-8e4b-487d-9c8c-f4594e688727"},{"parameters":{"operation":"get","user":{"__rl":true,"value":"={{ $json.body.username }}","mode":"userName"},"requestOptions":{}},"type":"n8n-nodes-base.awsIam","typeVersion":1,"position":[48,-112],"id":"0e40ec49-810a-4dd0-86b1-f44e07d84ad9","name":"Get user","credentials":{"aws":{"id":"kRAtHumaJKnPSEiL","name":"AWS account"}},"onError":"continueRegularOutput"},{"parameters":{"function":"arn:aws:lambda:us-east-1:002125562743:function:FetchUserResources","payload":"={\"UserName\":{{ JSON.stringify($json.UserName)}}}"},"type":"n8n-nodes-base.awsLambda","typeVersion":1,"position":[432,-208],"id":"41956e8e-c7a6-48af-91f6-dad58d8cfc87","name":"AWS Lambda","credentials":{"aws":{"id":"kRAtHumaJKnPSEiL","name":"AWS account"}}},{"parameters":{"function":"arn:aws:lambda:us-east-1:002125562743:function:GetPolicy","payload":"={\"PolicyArn\":{{ JSON.stringify($json.body.policyarn) }}}"},"type":"n8n-nodes-base.awsLambda","typeVersion":1,"position":[48,48],"id":"97aa23b3-6115-4892-8648-eaba48219866","name":"AWS Lambda1","credentials":{"aws":{"id":"kRAtHumaJKnPSEiL","name":"AWS account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"63fb28b9-5b17-454f-a476-c6bc7381b0a4","leftValue":"={{ $json.error }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[256,-98],"id":"3ec68321-21be-456d-bab2-32e03739456e","name":"If"},{"parameters":{"errorMessage":"={{ $json.error }}"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[448,-32],"id":"637582ad-0ef5-4b10-8ab3-21b753474cd1","name":"Stop and Error"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5936d21c-9dba-4b01-aaa7-2795613f91ee","leftValue":"={{ $json.result.status }}","rightValue":"success","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[256,48],"id":"ce3f57d1-bd03-46e3-a8d5-c20c8c073ff8","name":"If1"},{"parameters":{"errorMessage":"={{ $json.data }}"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[464,144],"id":"96667ee9-7094-4b05-a2e3-ac2b9921015b","name":"Stop and Error1"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1200,-32],"id":"ad2609c7-a3c9-4da2-abdf-aa8d3bacfff7","name":"Merge"},{"parameters":{"language":"python","pythonCode":"# Loop over input items and add a new field called 'myNewField' to the JSON of each one\nattached_policy_arn=[]\nnew_arn=\"\"\ndata_to_send={}\ndata_to_send[\"status\"]=\"failure\"\nusername=\"\"\nfor item in _input.all():\n  json_data=item.json\n  if \"result\" in json_data:\n    json_result=json_data.result\n    if \"attached_policies\" in json_result and len(json_result.attached_policies)>0 :\n      for items in json_result.attached_policies:\n        attached_policy_arn.append(items.PolicyArn)\n    if \"data\" in json_result:\n      data_to_send[\"PolicyArn\"]=json_result.data\n    if \"user_info\" in json_result and \"UserName\" in json_result.user_info:\n      username=json_result.user_info.UserName\nif new_arn not in attached_policy_arn:\n  data_to_send[\"status\"]=\"success\"\n  data_to_send[\"UserName\"]=username\nelse:\n  data_to_send[\"error\"]=\"Policy already attached to the user\"\n  \nreturn data_to_send"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1408,-32],"id":"00902f5d-35ac-45ed-9f55-d5568d396287","name":"Code in Python (Beta)"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c2996754-6098-43e6-a1d4-74e6623f7b93","leftValue":"={{ $json.status }}","rightValue":"success","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1616,-32],"id":"ec714344-fa8c-4a13-8733-163c8dfd7acb","name":"If2"},{"parameters":{"errorMessage":"={{ $json.error }}"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[1824,64],"id":"19af2ed1-4046-450c-aac8-5cd4998bfe73","name":"Stop and Error2"},{"parameters":{"function":"arn:aws:lambda:us-east-1:002125562743:function:AttachPolicy","payload":"={\n\"UserName\":{{ JSON.stringify($json.UserName) }},\n\"PolicyArn\":{{ JSON.stringify($json.PolicyArn) }}\n}"},"type":"n8n-nodes-base.awsLambda","typeVersion":1,"position":[1824,-112.00006484985352],"id":"3d0e3522-a8ee-4304-9a11-70e8a18843ef","name":"AWS Lambda2","credentials":{"aws":{"id":"kRAtHumaJKnPSEiL","name":"AWS account"}}}],"connections":{"Webhook":{"main":[[{"node":"Get user","type":"main","index":0},{"node":"AWS Lambda1","type":"main","index":0}]]},"Get user":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"AWS Lambda","type":"main","index":0}],[{"node":"Stop and Error","type":"main","index":0}]]},"AWS Lambda1":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Merge","type":"main","index":1}],[{"node":"Stop and Error1","type":"main","index":0}]]},"AWS Lambda":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Code in Python (Beta)","type":"main","index":0}]]},"Code in Python (Beta)":{"main":[[{"node":"If2","type":"main","index":0}]]},"If2":{"main":[[{"node":"AWS Lambda2","type":"main","index":0}],[{"node":"Stop and Error2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"NToujCJd95cD3FCa"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"ad82916d-6899-47ae-9089-ca088a919a5a","triggerCount":0,"shared":[{"createdAt":"2025-12-04T16:12:25.399Z","updatedAt":"2025-12-04T16:12:25.399Z","role":"workflow:owner","workflowId":"HbGw9V4Cl0QMMRst","projectId":"6s48z25n0vjamXXx"}],"tags":[],"error":"The resource you are requesting could not be found"}