AWSAddUserToGroup.json
{"createdAt":"2025-12-04T13:45:27.587Z","updatedAt":"2025-12-04T15:42:25.013Z","id":"TXZEvoXVckR1bxOE","name":"AWSAddUserToGroup","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"addusergroup","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,32],"id":"5e14bb64-2219-4055-9467-e4e50ffe2d45","name":"Webhook","webhookId":"137d62a1-ff76-4b8b-ac17-e2b44af0fa31"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,-128],"id":"3a1c6dee-3b2b-4562-a2fa-e9ac269d522c","name":"When Executed by Another Workflow"},{"parameters":{"operation":"get","user":{"__rl":true,"value":"={{ $json.body.username }}","mode":"userName"},"requestOptions":{}},"type":"n8n-nodes-base.awsIam","typeVersion":1,"position":[288,32],"id":"5f282634-12ee-4da8-a59a-1aaeff4ad96c","name":"Get user","credentials":{"aws":{"id":"kRAtHumaJKnPSEiL","name":"AWS account"}},"onError":"continueRegularOutput"},{"parameters":{"resource":"group","operation":"get","group":{"__rl":true,"value":"={{ $json.body.groupname }}","mode":"groupName"},"requestOptions":{}},"type":"n8n-nodes-base.awsIam","typeVersion":1,"position":[288,-128],"id":"142a935e-3f94-48db-9113-316e427e4c67","name":"Get group","credentials":{"aws":{"id":"kRAtHumaJKnPSEiL","name":"AWS account"}},"onError":"continueRegularOutput"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1376,-128],"id":"83cfeffc-1619-491e-a3d3-9b5131f0bea5","name":"Merge"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6941bedf-56c6-4251-8e68-e27ba13f9d9a","leftValue":"={{ $json.error }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[496,-128],"id":"8280a4d0-bbca-4945-8c46-b4e28da59e04","name":"If"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7ffd979e-3765-404c-8268-e0a25b0df3fd","leftValue":"={{ $json.error }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[496,32],"id":"00c11dec-a28b-44e1-a01b-c55c4c836325","name":"If1"},{"parameters":{"errorMessage":"={{ $json.error }}"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[1008,224],"id":"d2c631aa-e7b1-4f58-b15b-b9054f2fa997","name":"Stop and Error"},{"parameters":{"errorMessage":"={{ $json.error }}"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[784,-256],"id":"d7e9615d-45a7-4d08-a194-a1ca07cb883e","name":"Stop and Error1"},{"parameters":{"function":"arn:aws:lambda:us-east-1:002125562743:function:FetchUserResources","payload":"={\n\"UserName\":{{ JSON.stringify($json.UserName) }}\n}"},"type":"n8n-nodes-base.awsLambda","typeVersion":1,"position":[704,-8],"id":"5c59a9e0-976b-475f-be76-c6ad6a8f1ee8","name":"AWS Lambda","credentials":{"aws":{"id":"kRAtHumaJKnPSEiL","name":"AWS account"}}},{"parameters":{"language":"python","pythonCode":"# Loop over input items and add a new field called 'myNewField' to the JSON of each one\nuser_groups=[]\ndata_to_send={}\ndata_to_send['status']=\"success\"\nfor item in _input.all():\n  json_data=item.json\n  if \"GroupName\" in json_data:\n    group_to_add=json_data.GroupName\n  \n    \n  if \"result\" in json_data and \"groups\" in json_data.result:\n    if \"GroupName\" in json_data.result.groups:\n      user_groups.append(json_data.result.groups.GroupName)\n\n  if \"result\" in json_data and \"user_info\" in json_data.result and \"UserName\" in json_data.result.user_info:\n    data_to_send[\"UserName\"]=json_data.result.user_info.UserName\n    \n      \nif not group_to_add:\n  data_to_send['status']=\"failure\"\n  data_to_send['message']=\"No group name in the input\"\nelse:   \n  if group_to_add in (user_groups):\n    data_to_send[\"status\"]=\"failure\"\n    data_to_send[\"message\"]=f\"User already part of {group_to_add} group\"\n  else:\n    data_to_send[\"GroupName\"]=group_to_add\n  \n  \n  \n    \nreturn data_to_send"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1584,-128],"id":"ba9f842e-6409-4d09-96b3-512ed2089d6b","name":"Code in Python (Beta)"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"856dc100-c703-4c92-b06e-f502a4f8ccbb","leftValue":"={{ $json.status }}","rightValue":"success","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1792,-128],"id":"6b59da3b-943d-40e4-88de-ac1d8ac4f3f3","name":"If2"},{"parameters":{"errorMessage":"={{ $json.message }}"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[2000,-32],"id":"d29b0ef2-a36f-4eb2-b65a-db8218aa3078","name":"Stop and Error2"},{"parameters":{"operation":"addToGroup","user":{"__rl":true,"value":"={{ $json.UserName }}","mode":"userName"},"group":{"__rl":true,"value":"={{ $json.GroupName }}","mode":"groupName"},"requestOptions":{}},"type":"n8n-nodes-base.awsIam","typeVersion":1,"position":[2000,-224],"id":"589ad78f-9b50-4b80-b84f-8cbcb916c691","name":"Add user to group","credentials":{"aws":{"id":"kRAtHumaJKnPSEiL","name":"AWS account"}}}],"connections":{"Webhook":{"main":[[{"node":"Get user","type":"main","index":0},{"node":"Get group","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Get user","type":"main","index":0},{"node":"Get group","type":"main","index":0}]]},"Get user":{"main":[[{"node":"If1","type":"main","index":0}]]},"Get group":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Merge","type":"main","index":0}],[{"node":"Stop and Error1","type":"main","index":0}]]},"If1":{"main":[[{"node":"AWS Lambda","type":"main","index":0}],[{"node":"Stop and Error","type":"main","index":0}]]},"AWS Lambda":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Code in Python (Beta)","type":"main","index":0}]]},"Code in Python (Beta)":{"main":[[{"node":"If2","type":"main","index":0}]]},"If2":{"main":[[{"node":"Add user to group","type":"main","index":0}],[{"node":"Stop and Error2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"NToujCJd95cD3FCa"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"78d650cb-018e-40b7-b742-821c64880dbe","triggerCount":1,"shared":[{"createdAt":"2025-12-04T13:45:27.587Z","updatedAt":"2025-12-04T13:45:27.587Z","role":"workflow:owner","workflowId":"TXZEvoXVckR1bxOE","projectId":"6s48z25n0vjamXXx"}],"tags":[]}