DeleteOktaUser.json
{"createdAt":"2025-11-27T14:43:45.987Z","updatedAt":"2025-11-27T22:52:41.000Z","id":"X0QeQp4dGZxuUHCP","name":"DeleteOktaUser","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"deleteuser","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,240],"id":"d5d8329f-bfff-4042-af69-2802c869e707","name":"Webhook","webhookId":"db4e71c1-fc8b-4c46-b65c-d1063d7dfded"},{"parameters":{"language":"python","pythonCode":"# Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor item in _input.all():\n  details=item.json\n  details[\"status\"]=True\n  details[\"message\"]=\"\"\n  if \"body\" in details and len(details[\"body\"])>0:\n    for value in details[\"body\"].values():\n      if value ==\"\":\n        details[\"status\"]=False\n        details[\"message\"]=\"Missing id for fetching the account\"\n  else:\n    details[\"status\"]=False\n    details[\"message\"]=\"Missing id for fetching the account\"\n    \n    \nreturn _input.all()"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[224,240],"id":"48a6f7ad-cea5-4a3d-8ce2-f9a15eef9bc9","name":"Code in Python (Beta)"},{"parameters":{"method":"DELETE","url":"=https://integrator-1776498.okta.com/api/v1/users/{{ $json.id}}/sessions","authentication":"predefinedCredentialType","nodeCredentialType":"oktaApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2464,0],"id":"99597353-247b-41ef-b7cb-ca2e6a137cad","name":"HTTP Request","credentials":{"oktaApi":{"id":"dnVmSr9rPxQDmsbr","name":"Okta account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"26b2b010-f295-48f3-8d59-f362ec525234","leftValue":"={{ $json.status }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[448,240],"id":"00775763-7234-458c-8c67-c8423869b8a7","name":"If"},{"parameters":{"errorMessage":"={{ $json.message }}"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[672,288],"id":"0804b636-3d04-40d7-a3c1-66b211cf988e","name":"Stop and Error"},{"parameters":{"url":"=https://integrator-1776498.okta.com/api/v1/users/{{ $json.body.id }}","authentication":"predefinedCredentialType","nodeCredentialType":"oktaApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[672,96],"id":"6f359caa-8d2c-4661-9399-40cf35beed04","name":"HTTP Request1","credentials":{"oktaApi":{"id":"dnVmSr9rPxQDmsbr","name":"Okta account"}}},{"parameters":{"fieldToSplitOut":"group_ids","include":"allOtherFields","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1792,192],"id":"447fd89e-deb2-44f6-97a5-769a18801cb3","name":"Split Out"},{"parameters":{"method":"DELETE","url":"=https://integrator-1776498.okta.com/api/v1/groups/{{$json.group_ids.group_id}}/users/{{ $json.id }}","authentication":"predefinedCredentialType","nodeCredentialType":"oktaApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2464,192],"id":"b2a59aa7-64c8-4c3d-b9cc-63af34d9d3cb","name":"HTTP Request3","credentials":{"oktaApi":{"id":"dnVmSr9rPxQDmsbr","name":"Okta account"}}},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1344,192],"id":"58c19613-1b77-490e-9ce4-7fb94db69e33","name":"Merge"},{"parameters":{"numberInputs":3},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2688,48],"id":"1743e158-6d4d-4ba3-b474-1b5d90a38e7d","name":"Merge1"},{"parameters":{"language":"python","pythonCode":"# Loop over input items and add a new field called 'myNewField' to the JSON of each one\ndata_to_send={}\ngroups=[]\nfor item in _input.all():\n  data_to_add={}\n  if \"id\" in item.json:\n    data_to_send[\"id\"]=item.json.id\n  if \"group_id\" in item.json:\n    data_to_add[\"group_id\"]=item.json.group_id\n    data_to_add['group_name']=item.json.group_name\n    groups.append(data_to_add)\ndata_to_send[\"group_ids\"]=groups\n\nreturn data_to_send"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1568,192],"id":"f639d448-a222-4a42-8d07-146b81165cc8","name":"Code in Python (Beta)1"},{"parameters":{"method":"POST","url":"=https://integrator-1776498.okta.com/api/v1/users/{{ $json.id }}/lifecycle/deactivate ","authentication":"predefinedCredentialType","nodeCredentialType":"oktaApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3360,-416],"id":"4ca07c3a-7e7a-470c-a334-cd266b0411cf","name":"HTTP Request4","credentials":{"oktaApi":{"id":"dnVmSr9rPxQDmsbr","name":"Okta account"}}},{"parameters":{"url":"=https://integrator-1776498.okta.com/api/v1/users/{{ $json.id }}/groups ","authentication":"predefinedCredentialType","nodeCredentialType":"oktaApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[896,288],"id":"44ea9dcd-f8bd-4761-803c-d29ed7e5433f","name":"Fetch Groups","credentials":{"oktaApi":{"id":"dnVmSr9rPxQDmsbr","name":"Okta account"}}},{"parameters":{"assignments":{"assignments":[{"id":"b8b043ec-f190-4c72-93c5-8455bff5c8ed","name":"group_id","value":"={{ $json.id }}","type":"string"},{"id":"1878893f-421d-44c1-8e08-aff8322fc688","name":"group_name","value":"={{ $json.profile.name }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1120,288],"id":"00f36f68-987c-4e41-b78b-e74dccb97b93","name":"Edit Fields1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2016,192],"id":"548baee1-7aba-4177-ba07-dfc87b556eee","name":"Loop Over Items"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"788b0991-e9a6-4cac-88ae-b24c511b4c4f","leftValue":"={{ $json.group_ids.group_name }}","rightValue":"=Everyone","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2240,192],"id":"7987caa7-7c30-4280-b18a-dd7a1f868ea3","name":"If1"},{"parameters":{"language":"python","pythonCode":"# Loop over input items and add a new field called 'myNewField' to the JSON of each one\ndata_to_send={}\nfor item in _input.all():\n  if \"id\" in item.json:\n    data_to_send['id'] = item.json.id\nreturn data_to_send"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2896,48],"id":"6138596d-b88c-4f96-a079-d08bd32045c4","name":"Code in Python (Beta)2"}],"connections":{"Webhook":{"main":[[{"node":"Code in Python (Beta)","type":"main","index":0}]]},"Code in Python (Beta)":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"HTTP Request1","type":"main","index":0}],[{"node":"Stop and Error","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"HTTP Request","type":"main","index":0},{"node":"Fetch Groups","type":"main","index":0},{"node":"Merge","type":"main","index":0},{"node":"Merge1","type":"main","index":2}]]},"HTTP Request":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"HTTP Request3":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Code in Python (Beta)1","type":"main","index":0}]]},"Code in Python (Beta)1":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Code in Python (Beta)2","type":"main","index":0}]]},"Fetch Groups":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Loop Over Items":{"main":[[],[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[{"node":"HTTP Request3","type":"main","index":0}]]},"Code in Python (Beta)2":{"main":[[{"node":"HTTP Request4","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"8oPdHCbfkDWiGkoo"},"staticData":null,"meta":null,"pinData":{},"versionId":"da47b617-a9ce-433e-b5df-c01f9e590e34","triggerCount":1,"shared":[{"createdAt":"2025-11-27T14:43:45.993Z","updatedAt":"2025-11-27T14:43:45.993Z","role":"workflow:owner","workflowId":"X0QeQp4dGZxuUHCP","projectId":"gRGVTEYpzLUQ9scs"}],"tags":[],"error":"The resource you are requesting could not be found"}