EnforceMFAcompliance.json
{"createdAt":"2025-12-09T17:20:28.693Z","updatedAt":"2025-12-09T18:00:56.543Z","id":"7TJ2vgLPKeQsI93R","name":"EnforceMFAcompliance","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"daysInterval":100}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0],"id":"471948e0-d58b-4278-9475-64b989502de0","name":"Schedule Trigger"},{"parameters":{"workflowId":{"__rl":true,"value":"7ExYtsnX6JHk9uDz","mode":"list","cachedResultName":"Fetch AWS Non MFA Compliance"},"workflowInputs":{"mappingMode":"defineBelow","value":{}},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[224,0],"id":"34f163bc-2d12-4b58-b801-f018f5e12cc5","name":"Call 'Fetch AWS Non MFA Compliance'"},{"parameters":{"function":"arn:aws:lambda:us-east-1:002125562743:function:DeleteLoginProfile","payload":"={\"UserName\":{{JSON.stringify($json.Username)}}}"},"type":"n8n-nodes-base.awsLambda","typeVersion":1,"position":[448,0],"id":"286ce051-ceda-457a-906e-011881e8ed1e","name":"AWS Lambda","credentials":{"aws":{"id":"kRAtHumaJKnPSEiL","name":"AWS account"}}},{"parameters":{"fromEmail":"splunk.commandcenter@gmail.com","toEmail":"splunk.commandcenter@gmail.com","subject":"=MFA enforcement for the user {{ JSON.stringify($json.result.username ) }}","html":"=As a part of MFA enforcement {{ JSON.stringify($json.result.message) }} for the user <b>{{JSON.stringify($json.result.username)}}</b>","options":{}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[672,0],"id":"2f1118e0-62b2-4f11-9196-bd553b589b48","name":"Send email","webhookId":"dd459bca-0b61-46c5-a2eb-5061927cbedc","credentials":{"smtp":{"id":"uQmjVOGo3b4NuY5c","name":"SMTP account"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Call 'Fetch AWS Non MFA Compliance'","type":"main","index":0}]]},"Call 'Fetch AWS Non MFA Compliance'":{"main":[[{"node":"AWS Lambda","type":"main","index":0}]]},"AWS Lambda":{"main":[[{"node":"Send email","type":"main","index":0}]]},"Send email":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"1bd558d7-f456-4812-ad30-51a4ecb1e718","triggerCount":0,"shared":[{"createdAt":"2025-12-09T17:20:28.693Z","updatedAt":"2025-12-09T17:20:28.693Z","role":"workflow:owner","workflowId":"7TJ2vgLPKeQsI93R","projectId":"6s48z25n0vjamXXx"}],"tags":[],"error":"The resource you are requesting could not be found"}