Error Workflow.json
{"createdAt":"2025-12-04T15:00:15.706Z","updatedAt":"2025-12-11T09:07:50.433Z","id":"NToujCJd95cD3FCa","name":"Error Workflow","active":true,"isArchived":false,"nodes":[{"parameters":{"language":"python","pythonCode":"# Loop over input items and add a new field called 'myNewField' to the JSON of each one\nimport re\nmail_content={}\nfor item in _input.all():\n  json_data=item.json\n  json_data.subject= f\"Error in the workflow '{json_data.workflow.name}'\" \n  pattern=re.compile(r'\\\"name:([^\\\\]*)')\n  error_message=\"\"\n  if json_data.execution.error.messages:\n    for item in json_data.execution.error.messages:\n      if \"errorSummary\" in item:\n        messages=item\n        text=pattern.findall(messages)\n        error_message=text\n  error_message=error_message if error_message!=\"\" else json_data.execution.error.message\n  json_data.error_message=f\"Error '{error_message}' triggered in the node '{json_data.execution.lastNodeExecuted}' in the workflow '{json_data.workflow.name}'\" \n\nreturn _input.all()"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[0,0],"id":"c19e70e7-4278-4f59-a43a-cba28b9971b2","name":"Code in Python (Beta)"},{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[-224,0],"id":"1caae16e-57c5-4bbc-9286-c8bfac240531","name":"Error Trigger"},{"parameters":{"fromEmail":"splunk.commandcenter@gmail.com","toEmail":"splunk.commandcenter@gmail.com","subject":"=Error in workflow  {{ $json.subject }}","html":"={{ $json.error_message }} <br/>Workflow id:{{ $json.execution.id }} <br/>Workflow link: {{ $json.execution.url }}","options":{}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[192,0],"id":"9bbe6bcf-5851-4404-bff5-5dbea8d974cf","name":"Send email","webhookId":"7602ec85-a536-4f87-9713-c834dfbdab95","credentials":{"smtp":{"id":"uQmjVOGo3b4NuY5c","name":"SMTP account"}}}],"connections":{"Error Trigger":{"main":[[{"node":"Code in Python (Beta)","type":"main","index":0}]]},"Code in Python (Beta)":{"main":[[{"node":"Send email","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"50174c50-231e-48ec-93f7-47cef64fe16a","triggerCount":0,"shared":[{"createdAt":"2025-12-04T15:00:15.706Z","updatedAt":"2025-12-04T15:00:15.706Z","role":"workflow:owner","workflowId":"NToujCJd95cD3FCa","projectId":"6s48z25n0vjamXXx"}],"tags":[]}