Error workflow.json
{"createdAt":"2025-11-27T11:33:04.703Z","updatedAt":"2025-11-27T12:01:29.000Z","id":"8oPdHCbfkDWiGkoo","name":"Error workflow","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[0,0],"id":"2595956e-eff2-48d0-afe9-4a00fd38d03d","name":"Error Trigger"},{"parameters":{"fromEmail":"splunk.commandcenter@gmail.com","toEmail":"splunk.commandcenter@gmail.com","subject":"=Error in workflow  {{ $json.subject }}","html":"={{ $json.error_message }}","options":{}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[352,0],"id":"706be3be-7da9-48df-aef4-111b33e2f78b","name":"Send email","webhookId":"7602ec85-a536-4f87-9713-c834dfbdab95","credentials":{"smtp":{"id":"uQmjVOGo3b4NuY5c","name":"SMTP account"}}},{"parameters":{"language":"python","pythonCode":"# Loop over input items and add a new field called 'myNewField' to the JSON of each one\nmail_content={}\nfor item in _input.all():\n  json_data=item.json\n  json_data.subject= f\"Error in the workflow '{json_data.workflow.name}'\" \n  json_data.error_message=f\"Error '{json_data.execution.error.messages}' triggered in the node '{json_data.execution.lastNodeExecuted}' in the workflow '{json_data.workflow.name}'\" \nreturn _input.all()"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[192,0],"id":"2a8c9068-e4e6-46b0-833b-4ffff988791e","name":"Code in Python (Beta)"}],"connections":{"Error Trigger":{"main":[[{"node":"Code in Python (Beta)","type":"main","index":0}]]},"Send email":{"main":[[]]},"Code in Python (Beta)":{"main":[[{"node":"Send email","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Error Trigger":[{"json":{"execution":{"id":"699","url":"http://localhost:5678/workflow/XUkbJujS9TDTqc9W/executions/699","error":{"level":"warning","tags":{},"description":"Request failed with status code 400","timestamp":1764243682918,"context":{"data":{"errorCode":"E0000001","errorSummary":"Api validation failed: login","errorLink":"E0000001","errorId":"oaezRStCAxiSp-oNebWk2ObDw","errorCauses":[{"errorSummary":"login: An object with this field already exists in the current organization"}]},"itemIndex":0,"runIndex":0},"functionality":"regular","name":"NodeApiError","node":{"parameters":{"resource":"user","operation":"create","firstName":"={{ $json.profile[0].firstName }}","lastName":"={{ $json.profile[0].lastName }}","login":"={{ $json.profile[0].login }}","email":"={{ $json.profile[0].email }}","activate":true,"getCreateFields":{},"requestOptions":{}},"type":"n8n-nodes-base.okta","typeVersion":1,"position":[624,-32],"id":"1ea45b0a-f494-4862-825b-367cec61e237","name":"Create a new user","credentials":{"oktaApi":{"id":"dnVmSr9rPxQDmsbr","name":"Okta account"}}},"messages":["Request failed with status code 400"],"httpCode":"400","message":"Bad request - please check your parameters","stack":"NodeApiError: Bad request - please check your parameters\n    at ExecuteSingleContext.httpRequestWithAuthentication (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_5aee33ef851c7de341eb325c6a25e0ff/node_modules/n8n-core/src/execution-engine/node-execution-context/utils/request-helper-functions.ts:1365:9)\n    at processTicksAndRejections (node:internal/process/task_queues:105:5)\n    at ExecuteSingleContext.httpRequestWithAuthentication (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_5aee33ef851c7de341eb325c6a25e0ff/node_modules/n8n-core/src/execution-engine/node-execution-context/utils/request-helper-functions.ts:1737:11)\n    at RoutingNode.rawRoutingRequest (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_5aee33ef851c7de341eb325c6a25e0ff/node_modules/n8n-core/src/execution-engine/routing-node.ts:531:20)\n    at RoutingNode.makeRequest (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_5aee33ef851c7de341eb325c6a25e0ff/node_modules/n8n-core/src/execution-engine/routing-node.ts:725:19)\n    at async Promise.allSettled (index 0)\n    at RoutingNode.runNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_5aee33ef851c7de341eb325c6a25e0ff/node_modules/n8n-core/src/execution-engine/routing-node.ts:234:29)\n    at ExecuteContext.versionedNodeType.execute (/usr/local/lib/node_modules/n8n/src/node-types.ts:60:18)\n    at WorkflowExecute.executeNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_5aee33ef851c7de341eb325c6a25e0ff/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1254:8)\n    at WorkflowExecute.runNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_5aee33ef851c7de341eb325c6a25e0ff/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1428:11)"},"lastNodeExecuted":"Create a new user","mode":"webhook"},"workflow":{"id":"XUkbJujS9TDTqc9W","name":"okta user creation"}}}]},"versionId":"39f541aa-2738-4ffd-9ed0-a0c1df88f7b5","triggerCount":0,"shared":[{"createdAt":"2025-11-27T11:33:04.723Z","updatedAt":"2025-11-27T11:33:04.723Z","role":"workflow:owner","workflowId":"8oPdHCbfkDWiGkoo","projectId":"gRGVTEYpzLUQ9scs"}],"tags":[],"error":"The resource you are requesting could not be found"}