Error workflow.json
{"createdAt":"2025-11-27T11:33:04.703Z","updatedAt":"2025-11-29T12:45:08.000Z","id":"8oPdHCbfkDWiGkoo","name":"Error workflow","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[0,0],"id":"2595956e-eff2-48d0-afe9-4a00fd38d03d","name":"Error Trigger"},{"parameters":{"fromEmail":"splunk.commandcenter@gmail.com","toEmail":"splunk.commandcenter@gmail.com","subject":"=Error in workflow  {{ $json.subject }}","html":"={{ $json.error_message }} <br/>Workflow id:{{ $json.execution.id }} <br/>Workflow link: {{ $json.execution.url }}","options":{}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[352,0],"id":"706be3be-7da9-48df-aef4-111b33e2f78b","name":"Send email","webhookId":"7602ec85-a536-4f87-9713-c834dfbdab95","credentials":{"smtp":{"id":"uQmjVOGo3b4NuY5c","name":"SMTP account"}}},{"parameters":{"language":"python","pythonCode":"# Loop over input items and add a new field called 'myNewField' to the JSON of each one\nimport re\nmail_content={}\nfor item in _input.all():\n  json_data=item.json\n  json_data.subject= f\"Error in the workflow '{json_data.workflow.name}'\" \n  pattern=re.compile(r'\\\"name:([^\\\\]*)')\n  error_message=\"\"\n  if json_data.execution.error.messages:\n    for item in json_data.execution.error.messages:\n      if \"errorSummary\" in item:\n        messages=item\n        text=pattern.findall(messages)\n        error_message=text\n  error_message=error_message if error_message!=\"\" else json_data.execution.error.message\n  json_data.error_message=f\"Error '{error_message}' triggered in the node '{json_data.execution.lastNodeExecuted}' in the workflow '{json_data.workflow.name}'\" \n\nreturn _input.all()"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[192,0],"id":"2a8c9068-e4e6-46b0-833b-4ffff988791e","name":"Code in Python (Beta)"}],"connections":{"Error Trigger":{"main":[[{"node":"Code in Python (Beta)","type":"main","index":0}]]},"Send email":{"main":[[]]},"Code in Python (Beta)":{"main":[[{"node":"Send email","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Error Trigger":[{"json":{"execution":{"id":"1132","url":"http://localhost:5678/workflow/OyZfDHI3pphSHoMt/executions/1132","error":{"level":"warning","tags":{},"description":"400 - \"{\\\"errorCode\\\":\\\"E0000001\\\",\\\"errorSummary\\\":\\\"Api validation failed: name\\\",\\\"errorLink\\\":\\\"E0000001\\\",\\\"errorId\\\":\\\"oae9ZBZ8sVXSr6VDzW4r5TH9g\\\",\\\"errorCauses\\\":[{\\\"errorSummary\\\":\\\"name: An object with this field already exists in the current organization\\\"}]}\"","timestamp":1764408393196,"context":{"itemIndex":0,"request":{"body":{"profile":{"name":"Engineering","description":"Engineering group"}},"headers":{"content-type":"application/json","accept":"application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7","Authorization":"**hidden**"},"method":"POST","uri":"https://integrator-1776498.okta.com/api/v1/groups","gzip":true,"rejectUnauthorized":true,"followRedirect":true,"resolveWithFullResponse":true,"followAllRedirects":true,"timeout":300000,"encoding":null,"json":false,"useStream":true}},"functionality":"regular","name":"NodeApiError","node":{"parameters":{"preBuiltAgentsCalloutHttpRequest":"","curlImport":"","method":"POST","url":"https://integrator-1776498.okta.com/api/v1/groups","authentication":"predefinedCredentialType","nodeCredentialType":"oktaApi","provideSslCertificates":false,"sendQuery":false,"sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"json","specifyBody":"keypair","bodyParameters":{"parameters":[{"name":"profile.name","value":"={{ $json.body.profile.name }}"},{"name":"profile.description","value":"={{ $json.body.profile.description }}"}]},"options":{},"infoMessage":""},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[208,0],"id":"10f7c7ee-f79e-4006-af73-5f74c05fbdd4","name":"HTTP Request","credentials":{"oktaApi":{"id":"dnVmSr9rPxQDmsbr","name":"Okta account"}}},"messages":["400 - \"{\\\"errorCode\\\":\\\"E0000001\\\",\\\"errorSummary\\\":\\\"Api validation failed: name\\\",\\\"errorLink\\\":\\\"E0000001\\\",\\\"errorId\\\":\\\"oae9ZBZ8sVXSr6VDzW4r5TH9g\\\",\\\"errorCauses\\\":[{\\\"errorSummary\\\":\\\"name: An object with this field already exists in the current organization\\\"}]}\""],"httpCode":"400","message":"Bad request - please check your parameters","stack":"NodeApiError: Bad request - please check your parameters\n    at ExecuteContext.requestWithAuthentication (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_5aee33ef851c7de341eb325c6a25e0ff/node_modules/n8n-core/src/execution-engine/node-execution-context/utils/request-helper-functions.ts:1472:10)\n    at processTicksAndRejections (node:internal/process/task_queues:105:5)\n    at ExecuteContext.requestWithAuthentication (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_5aee33ef851c7de341eb325c6a25e0ff/node_modules/n8n-core/src/execution-engine/node-execution-context/utils/request-helper-functions.ts:1758:11)"},"lastNodeExecuted":"HTTP Request","mode":"webhook"},"workflow":{"id":"OyZfDHI3pphSHoMt","name":"createokagroup"}}}]},"versionId":"a2572292-562f-4e48-bd82-cf0a841c8259","triggerCount":0,"shared":[{"createdAt":"2025-12-01T00:56:06.245Z","updatedAt":"2025-12-01T00:56:06.245Z","role":"workflow:owner","workflowId":"8oPdHCbfkDWiGkoo","projectId":"6s48z25n0vjamXXx"}],"tags":[]}