Error workflow.json
{"createdAt":"2025-11-27T11:33:04.703Z","updatedAt":"2025-12-03T16:40:27.519Z","id":"8oPdHCbfkDWiGkoo","name":"Error workflow","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[0,0],"id":"2595956e-eff2-48d0-afe9-4a00fd38d03d","name":"Error Trigger"},{"parameters":{"fromEmail":"splunk.commandcenter@gmail.com","toEmail":"splunk.commandcenter@gmail.com","subject":"=Error in workflow  {{ $json.subject }}","html":"={{ $json.error_message }} <br/>Workflow id:{{ $json.execution.id }} <br/>Workflow link: {{ $json.execution.url }}","options":{}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[352,0],"id":"706be3be-7da9-48df-aef4-111b33e2f78b","name":"Send email","webhookId":"7602ec85-a536-4f87-9713-c834dfbdab95","credentials":{"smtp":{"id":"uQmjVOGo3b4NuY5c","name":"SMTP account"}}},{"parameters":{"language":"python","pythonCode":"# Loop over input items and add a new field called 'myNewField' to the JSON of each one\nimport re\nmail_content={}\nfor item in _input.all():\n  json_data=item.json\n  json_data.subject= f\"Error in the workflow '{json_data.workflow.name}'\" \n  pattern=re.compile(r'\\\"name:([^\\\\]*)')\n  error_message=\"\"\n  if json_data.execution.error.messages:\n    for item in json_data.execution.error.messages:\n      if \"errorSummary\" in item:\n        messages=item\n        text=pattern.findall(messages)\n        error_message=text\n  error_message=error_message if error_message!=\"\" else json_data.execution.error.message\n  json_data.error_message=f\"Error '{error_message}' triggered in the node '{json_data.execution.lastNodeExecuted}' in the workflow '{json_data.workflow.name}'\" \n\nreturn _input.all()"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[192,0],"id":"2a8c9068-e4e6-46b0-833b-4ffff988791e","name":"Code in Python (Beta)"}],"connections":{"Error Trigger":{"main":[[{"node":"Code in Python (Beta)","type":"main","index":0}]]},"Send email":{"main":[[]]},"Code in Python (Beta)":{"main":[[{"node":"Send email","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"bfa392a1-a5d0-4c91-887a-aad9e6ed16de","triggerCount":0,"shared":[{"createdAt":"2025-12-01T00:56:06.245Z","updatedAt":"2025-12-01T00:56:06.245Z","role":"workflow:owner","workflowId":"8oPdHCbfkDWiGkoo","projectId":"6s48z25n0vjamXXx"}],"tags":[]}