Fetch AWS Non MFA Compliance.json
{"createdAt":"2025-12-09T17:12:57.106Z","updatedAt":"2025-12-10T10:36:29.582Z","id":"7ExYtsnX6JHk9uDz","name":"Fetch AWS Non MFA Compliance","active":false,"isArchived":false,"nodes":[{"parameters":{"batchSize":2,"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[672,144],"id":"aef959b2-8e26-435b-b9b2-6f45346f8089","name":"Loop Over Items"},{"parameters":{"function":"arn:aws:lambda:us-east-1:002125562743:function:ListUsers"},"type":"n8n-nodes-base.awsLambda","typeVersion":1,"position":[224,144],"id":"b230ac19-1323-48d3-b1e7-c7a93f807ef5","name":"AWS Lambda","credentials":{"aws":{"id":"kRAtHumaJKnPSEiL","name":"AWS account"}}},{"parameters":{"fieldToSplitOut":"result.UserNames","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[448,144],"id":"be19fac0-1f97-4ea3-8ff0-eb5ca950da9b","name":"Split Out"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9e358115-89b8-47e0-b798-d20d204f23b0","leftValue":"={{ $json.result.virtual_mfa }}","rightValue":"","operator":{"type":"array","operation":"notEmpty","singleValue":true}},{"id":"6408c8a8-e122-4ba9-88b6-7fd8e6a88878","leftValue":"={{ $json.result.mfa_devices }}","rightValue":"","operator":{"type":"array","operation":"notEmpty","singleValue":true}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[896,0],"id":"bda32294-4670-4ba8-9143-49ac56f5909e","name":"If"},{"parameters":{"function":"arn:aws:lambda:us-east-1:002125562743:function:FetchUserResources","payload":"={\n\"UserName\":{{ JSON.stringify($json['result.UserNames'] )}}\n}"},"type":"n8n-nodes-base.awsLambda","typeVersion":1,"position":[896,192],"id":"150ff50e-675e-4c8d-b1f3-3aeed820300c","name":"AWS Lambda1","credentials":{"aws":{"id":"kRAtHumaJKnPSEiL","name":"AWS account"}}},{"parameters":{"language":"python","pythonCode":"# Loop over input items and add a new field called 'myNewField' to the JSON of each one\noutput=[]\nfor item in _input.all():\n  data_to_send={}\n  if \"result\" in item.json and \"login_profile\" in item.json.result:\n    data_to_send[\"Username\"]=item.json.result.login_profile.UserName\n  output.append(data_to_send)\n    \nreturn output"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1344,0],"id":"00177f97-2786-48cd-b9b7-f711f732ac45","name":"Code in Python (Beta)"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,144],"id":"9468db23-e858-4a9c-88d7-7b6cf8ede623","name":"When Executed by Another Workflow"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"830582d5-2a7c-4404-a359-83278b85872f","leftValue":"={{ $json.result.login_profile }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1120,0],"id":"81e5c024-8bb2-4133-8e08-f5e69e5a6bb2","name":"If1"}],"connections":{"Loop Over Items":{"main":[[{"node":"If","type":"main","index":0}],[{"node":"AWS Lambda1","type":"main","index":0}]]},"AWS Lambda":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"If":{"main":[[],[{"node":"If1","type":"main","index":0}]]},"AWS Lambda1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Code in Python (Beta)":{"main":[[]]},"When Executed by Another Workflow":{"main":[[{"node":"AWS Lambda","type":"main","index":0}]]},"If1":{"main":[[{"node":"Code in Python (Beta)","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"ea519436-4ed7-4b2e-8bbb-b366c02cbdce","triggerCount":0,"shared":[{"createdAt":"2025-12-09T17:12:57.106Z","updatedAt":"2025-12-09T17:12:57.106Z","role":"workflow:owner","workflowId":"7ExYtsnX6JHk9uDz","projectId":"6s48z25n0vjamXXx"}],"tags":[]}