microservice.json
{"createdAt":"2025-11-23T18:45:19.664Z","updatedAt":"2025-11-24T09:15:00.000Z","id":"U4NhFDEa5mYBZJg5","name":"microservice","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"flask","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[80,0],"id":"8c67f1c8-3363-430d-8fff-143f456243a5","name":"Webhook","webhookId":"5b60476c-c9e4-45b7-bd5f-eafdf0c7c6f9"},{"parameters":{"method":"POST","url":"http://172.29.247.207:5000/analyze","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"raw","rawContentType":"JSON","body":"={{ $json.body }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[304,0],"id":"9be80c9c-976c-4b72-9e2f-5f30887a3cb0","name":"HTTP Request"},{"parameters":{"resource":"case","caseFields":{"mappingMode":"defineBelow","value":{"severity":"={{ $json.priority }}","title":"={{ $json.title }}","description":"=classification:{{ JSON.stringify($json.classification) }}\nconfidence:{{ JSON.stringify($json.confidence) }}\nReasoning:{{JSON.stringify($json.reasoning)}}","startDate":"={{ new Date().toISOString() }}"},"matchingColumns":[],"schema":[{"displayName":"Title","id":"title","type":"string","removed":false,"required":true,"display":true,"defaultMatch":false},{"displayName":"Description","id":"description","type":"string","removed":false,"required":true,"display":true,"defaultMatch":false},{"displayName":"Severity (Severity of information)","id":"severity","type":"options","options":[{"name":"Low","value":1},{"name":"Medium","value":2},{"name":"High","value":3},{"name":"Critical","value":4}],"removed":false,"required":false,"display":true,"defaultMatch":false},{"displayName":"Start Date","id":"startDate","type":"dateTime","removed":false,"required":false,"display":true,"defaultMatch":false},{"displayName":"End Date","id":"endDate","type":"dateTime","removed":false,"required":false,"display":true,"defaultMatch":false},{"displayName":"Tags","id":"tags","type":"string","removed":false,"required":false,"display":true,"defaultMatch":false},{"displayName":"Flag","id":"flag","type":"boolean","removed":false,"required":false,"display":true,"defaultMatch":false},{"displayName":"TLP (Confidentiality of information)","id":"tlp","type":"options","options":[{"name":"White","value":0},{"name":"Green","value":1},{"name":"Amber","value":2},{"name":"Red","value":3}],"removed":false,"required":false,"display":true,"defaultMatch":false},{"displayName":"PAP (Level of exposure of information)","id":"pap","type":"options","options":[{"name":"White","value":0},{"name":"Green","value":1},{"name":"Amber","value":2},{"name":"Red","value":3}],"removed":false,"required":false,"display":true,"defaultMatch":false},{"displayName":"Summary","id":"summary","type":"string","removed":false,"required":false,"display":true,"defaultMatch":false},{"displayName":"Status","id":"status","type":"options","removed":false,"required":false,"display":true,"defaultMatch":false,"options":[{"name":"Duplicated","value":"Duplicated","description":"Stage: Closed"},{"name":"FalsePositive","value":"FalsePositive","description":"Stage: Closed"},{"name":"Indeterminate","value":"Indeterminate","description":"Stage: Closed"},{"name":"InProgress","value":"InProgress","description":"Stage: InProgress"},{"name":"New","value":"New","description":"Stage: New"},{"name":"Other","value":"Other","description":"Stage: Closed"},{"name":"TruePositive","value":"TruePositive","description":"Stage: Closed"}]},{"displayName":"Assignee","id":"assignee","type":"options","removed":false,"required":false,"display":true,"defaultMatch":false,"options":[{"name":"APIAdmin","value":"apiadmin@thehive.local"}]},{"displayName":"Case Template","id":"caseTemplate","type":"options","removed":false,"required":false,"display":true,"defaultMatch":false,"options":[]},{"displayName":"Tasks","id":"tasks","type":"array","removed":false,"required":false,"display":true,"defaultMatch":false},{"displayName":"Sharing Parameters","id":"sharingParameters","type":"array","removed":false,"required":false,"display":true,"defaultMatch":false},{"displayName":"Observable Rule","id":"observableRule","type":"string","removed":false,"required":false,"display":true,"defaultMatch":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"n8n-nodes-base.theHiveProject","typeVersion":1,"position":[512,0],"id":"509472d0-5960-4c16-92ba-351071468559","name":"Create a case","credentials":{"theHiveProjectApi":{"id":"eqKM2hDCqtAzw9Bf","name":"The Hive 5 account 2"}}}],"connections":{"Webhook":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Create a case","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"8edb8b17-72d5-4fa1-b2f6-cb3db244374c","triggerCount":1,"shared":[{"createdAt":"2025-11-23T18:45:19.782Z","updatedAt":"2025-11-23T18:45:19.782Z","role":"workflow:owner","workflowId":"U4NhFDEa5mYBZJg5","projectId":"gRGVTEYpzLUQ9scs"}],"tags":[],"error":"The resource you are requesting could not be found"}