N8n source control.json
{"createdAt":"2025-11-25T13:27:44.460Z","updatedAt":"2025-12-01T00:58:21.378Z","id":"4LF3FtDpMjeAbXGP","name":"N8n source control","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 0 2 * * *"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,176],"id":"be51069a-595d-496f-b659-be037ad806dc","name":"Schedule Trigger"},{"parameters":{"url":"http://n8n:5678/api/v1/workflows","authentication":"predefinedCredentialType","nodeCredentialType":"n8nApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[224,176],"id":"4585bf1a-2dbc-4bfa-9b15-70c7a9e43734","name":"HTTP Request","credentials":{"n8nApi":{"id":"x9j3HiEiKouwtM1d","name":"n8n account"}}},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"mallikarjunan-29","mode":"name"},"repository":{"__rl":true,"value":"n8n_source_control","mode":"list","cachedResultName":"n8n_source_control","cachedResultUrl":"https://github.com/Mallikarjunan-29/n8n_source_control"},"filePath":"={{ $json.name }}.json","fileContent":"={{ JSON.stringify($json) }}","commitMessage":"=Backing up {{ $json.name }} workflow"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[1328,224],"id":"e44d692a-975a-43d6-8202-d918f91e2897","name":"Create a file","webhookId":"f62b50c8-1ec0-4dfa-913d-06227c355fb8","credentials":{"githubApi":{"id":"lKd4jyMQSIyqQqgu","name":"GitHub account"}}},{"parameters":{"fieldToSplitOut":"data","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[448,176],"id":"f89ad2d3-820b-45be-829d-60bde9c9885f","name":"Split Out"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[672,176],"id":"ee5c2fe6-86a1-4895-a721-7d177d4af707","name":"Loop Over Items"},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"mode":"name","value":"=mallikarjunan-29"},"repository":{"__rl":true,"value":"n8n_source_control","mode":"list","cachedResultName":"n8n_source_control","cachedResultUrl":"https://github.com/Mallikarjunan-29/n8n_source_control"},"filePath":"={{ $json.name }}.json","additionalParameters":{}},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[896,-48],"id":"bbcc9f1e-1fd1-4be6-ac1f-e7d3655ca72b","name":"Get a file","webhookId":"cd370650-7d93-49c0-8b61-0715eed28038","credentials":{"githubApi":{"id":"lKd4jyMQSIyqQqgu","name":"GitHub account"}},"onError":"continueErrorOutput"},{"parameters":{"resource":"file","operation":"delete","owner":{"__rl":true,"value":"=mallikarjunan-29","mode":"name"},"repository":{"__rl":true,"value":"n8n_source_control","mode":"list","cachedResultName":"n8n_source_control","cachedResultUrl":"https://github.com/Mallikarjunan-29/n8n_source_control"},"filePath":"={{ $json.name }}.json","commitMessage":"=Deleting the file {{ $json.name }}.json"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[1184,-192],"id":"ceea6958-5bc0-4961-901d-ed888e38c24b","name":"Delete a file","webhookId":"24acd7d5-4e2a-4ff1-846e-9abc35aeef48","credentials":{"githubApi":{"id":"lKd4jyMQSIyqQqgu","name":"GitHub account"}}},{"parameters":{"mode":"chooseBranch","useDataOfInput":2},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1440,-32],"id":"04d86d89-2e65-4ed8-9c03-b85da22a8389","name":"Merge"}],"connections":{"Schedule Trigger":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Create a file":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Get a file","type":"main","index":0}]]},"Get a file":{"main":[[{"node":"Delete a file","type":"main","index":0},{"node":"Merge","type":"main","index":1}],[{"node":"Create a file","type":"main","index":0}]]},"Delete a file":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Create a file","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"8oPdHCbfkDWiGkoo"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"470e7085-2972-45c2-8319-9d1249e07cbb","triggerCount":1,"shared":[{"createdAt":"2025-12-01T00:56:06.245Z","updatedAt":"2025-12-01T00:56:06.245Z","role":"workflow:owner","workflowId":"4LF3FtDpMjeAbXGP","projectId":"6s48z25n0vjamXXx"}],"tags":[]}