N8n source control.json
{"createdAt":"2025-11-25T13:27:44.460Z","updatedAt":"2025-11-25T13:59:56.000Z","id":"4LF3FtDpMjeAbXGP","name":"N8n source control","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 0 2 * * *"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0],"id":"be51069a-595d-496f-b659-be037ad806dc","name":"Schedule Trigger"},{"parameters":{"url":"http://n8n:5678/api/v1/workflows","authentication":"predefinedCredentialType","nodeCredentialType":"n8nApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[208,0],"id":"4585bf1a-2dbc-4bfa-9b15-70c7a9e43734","name":"HTTP Request","credentials":{"n8nApi":{"id":"x9j3HiEiKouwtM1d","name":"n8n account"}}},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"mallikarjunan-29","mode":"name"},"repository":{"__rl":true,"value":"n8n_source_control","mode":"list","cachedResultName":"n8n_source_control","cachedResultUrl":"https://github.com/Mallikarjunan-29/n8n_source_control"},"filePath":"={{ $json.name }}.json","fileContent":"={{ JSON.stringify($json) }}","commitMessage":"=Backing up {{ $json.name }} workflow"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[1040,112],"id":"e44d692a-975a-43d6-8202-d918f91e2897","name":"Create a file","webhookId":"f62b50c8-1ec0-4dfa-913d-06227c355fb8","credentials":{"githubApi":{"id":"lKd4jyMQSIyqQqgu","name":"GitHub account"}}},{"parameters":{"fieldToSplitOut":"data","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[416,0],"id":"f89ad2d3-820b-45be-829d-60bde9c9885f","name":"Split Out"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[592,80],"id":"ee5c2fe6-86a1-4895-a721-7d177d4af707","name":"Loop Over Items"},{"parameters":{"resource":"file","operation":"delete","owner":{"__rl":true,"mode":"name","value":"=mallikarjunan-29"},"repository":{"__rl":true,"value":"n8n_source_control","mode":"list","cachedResultName":"n8n_source_control","cachedResultUrl":"https://github.com/Mallikarjunan-29/n8n_source_control"},"filePath":"={{ $json.name }}.json","commitMessage":"=Deleting file {{ $json.name }}.json for updating"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[800,96],"id":"bbcc9f1e-1fd1-4be6-ac1f-e7d3655ca72b","name":"Delete a file","webhookId":"cd370650-7d93-49c0-8b61-0715eed28038","credentials":{"githubApi":{"id":"lKd4jyMQSIyqQqgu","name":"GitHub account"}},"onError":"continueErrorOutput"}],"connections":{"Schedule Trigger":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Create a file":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Delete a file","type":"main","index":0}]]},"Delete a file":{"main":[[{"node":"Create a file","type":"main","index":0}],[{"node":"Create a file","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"567d928d-64dc-47b9-95b7-2a6b6908f483","triggerCount":1,"shared":[{"createdAt":"2025-11-25T13:27:44.547Z","updatedAt":"2025-11-25T13:27:44.547Z","role":"workflow:owner","workflowId":"4LF3FtDpMjeAbXGP","projectId":"gRGVTEYpzLUQ9scs"}],"tags":[],"error":"The resource you are requesting could not be found"}