NonMfaCompliant.json
{"createdAt":"2025-12-05T14:09:56.257Z","updatedAt":"2025-12-05T17:38:58.586Z","id":"nw7wuYCnNjwT96XB","name":"NonMfaCompliant","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"3a849290-72d9-4965-908b-d1732ae9e514","name":"When clicking ‘Execute workflow’"},{"parameters":{"batchSize":2,"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[688,0],"id":"aef959b2-8e26-435b-b9b2-6f45346f8089","name":"Loop Over Items"},{"parameters":{"function":"arn:aws:lambda:us-east-1:002125562743:function:ListUsers"},"type":"n8n-nodes-base.awsLambda","typeVersion":1,"position":[208,0],"id":"b230ac19-1323-48d3-b1e7-c7a93f807ef5","name":"AWS Lambda","credentials":{"aws":{"id":"kRAtHumaJKnPSEiL","name":"AWS account"}}},{"parameters":{"fieldToSplitOut":"result.UserNames","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[416,0],"id":"be19fac0-1f97-4ea3-8ff0-eb5ca950da9b","name":"Split Out"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9e358115-89b8-47e0-b798-d20d204f23b0","leftValue":"={{ $json.result.virtual_mfa }}","rightValue":"","operator":{"type":"array","operation":"notEmpty","singleValue":true}},{"id":"6408c8a8-e122-4ba9-88b6-7fd8e6a88878","leftValue":"={{ $json.result.mfa_devices }}","rightValue":"","operator":{"type":"array","operation":"notEmpty","singleValue":true}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1152,16],"id":"bda32294-4670-4ba8-9143-49ac56f5909e","name":"If"},{"parameters":{"function":"arn:aws:lambda:us-east-1:002125562743:function:FetchUserResources","payload":"={\n\"UserName\":{{ JSON.stringify($json['result.UserNames'] )}}\n}"},"type":"n8n-nodes-base.awsLambda","typeVersion":1,"position":[912,80],"id":"150ff50e-675e-4c8d-b1f3-3aeed820300c","name":"AWS Lambda1","credentials":{"aws":{"id":"kRAtHumaJKnPSEiL","name":"AWS account"}}},{"parameters":{"language":"python","pythonCode":"# Loop over input items and add a new field called 'myNewField' to the JSON of each one\nusernames=[]\nfor item in _input.all():\n  if \"result\" in item.json and \"user_info\" in item.json.result and \"UserName\" in item.json.result.user_info:\n    usernames.append(item.json.result.user_info.UserName)\n    \nreturn {\"UserNames\":usernames}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1376,32],"id":"00177f97-2786-48cd-b9b7-f711f732ac45","name":"Code in Python (Beta)"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"AWS Lambda","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"If","type":"main","index":0}],[{"node":"AWS Lambda1","type":"main","index":0}]]},"AWS Lambda":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"If":{"main":[[],[{"node":"Code in Python (Beta)","type":"main","index":0}]]},"AWS Lambda1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Code in Python (Beta)":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"58008072-5505-4b04-b32c-537b6f5a18bf","triggerCount":0,"shared":[{"createdAt":"2025-12-05T14:09:56.257Z","updatedAt":"2025-12-05T14:09:56.257Z","role":"workflow:owner","workflowId":"nw7wuYCnNjwT96XB","projectId":"6s48z25n0vjamXXx"}],"tags":[],"error":"The resource you are requesting could not be found"}