OktaScheduledDelete.json
{"createdAt":"2025-11-28T11:28:32.436Z","updatedAt":"2025-11-28T11:55:15.000Z","id":"HuoOBEzZccixJI9i","name":"OktaScheduledDelete","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"daysInterval":30}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0],"id":"de162176-55f1-4f38-8109-44e40248c1fd","name":"Schedule Trigger"},{"parameters":{"documentId":{"__rl":true,"value":"1HCF6xpgC5zNDwX3bl_yYoTu7FPM22tNTMQ26SIUxaEM","mode":"list","cachedResultName":"okta Suspended","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1HCF6xpgC5zNDwX3bl_yYoTu7FPM22tNTMQ26SIUxaEM/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"okta","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1HCF6xpgC5zNDwX3bl_yYoTu7FPM22tNTMQ26SIUxaEM/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"status","lookupValue":"Deactivated"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[208,0],"id":"28479be9-ca29-4979-a39c-8fe91840f024","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"nJT0v4asPyjc775u","name":"Google Sheets account"}}},{"parameters":{"fieldToSplitOut":"UserId","include":"allOtherFields","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[416,0],"id":"e3b8df65-5698-46dc-b302-7d0a38f0715c","name":"Split Out"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[624,0],"id":"0d3df6f2-8c6e-49b6-a6b1-01d8a2c50195","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1008,176],"id":"1a656718-bc0e-4421-9f57-b66ae19754af","name":"Merge"},{"parameters":{"language":"python","pythonCode":"# Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfrom datetime import datetime\nfor item in _input.all():\n  if \"UserId\" in item.json:\n    data_to_update={\n      \"UserId\":item.json.UserId,\n      \"Deleted At\":datetime.now().strftime(\"%Y-%m-%d\")\n    }\nreturn data_to_update"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1248,96],"id":"da4a8f22-ec22-43e9-ab7c-bc5c2bd2bead","name":"Code in Python (Beta)"},{"parameters":{"method":"DELETE","url":"=https://integrator-1776498.okta.com/api/v1/users/{{ $json.UserId }}","authentication":"predefinedCredentialType","nodeCredentialType":"oktaApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[864,64],"id":"bea2a182-a6d9-4028-b7be-738c5396c99b","name":"HTTP Request","credentials":{"oktaApi":{"id":"dnVmSr9rPxQDmsbr","name":"Okta account"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1HCF6xpgC5zNDwX3bl_yYoTu7FPM22tNTMQ26SIUxaEM","mode":"list","cachedResultName":"okta Suspended","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1HCF6xpgC5zNDwX3bl_yYoTu7FPM22tNTMQ26SIUxaEM/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"okta","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1HCF6xpgC5zNDwX3bl_yYoTu7FPM22tNTMQ26SIUxaEM/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"UserId":"={{ $json.UserId }}","Deleted At":"={{ $json[\"Deleted At\"] }}","status":"Deleted"},"matchingColumns":["UserId"],"schema":[{"id":"UserId","displayName":"UserId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Suspended at","displayName":"Suspended at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Deactivate at","displayName":"Deactivate at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Deactivated at","displayName":"Deactivated at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Deleted At","displayName":"Deleted At","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1456,96],"id":"0a831e1b-f3bc-4f48-9487-f9e5c9c0664a","name":"Append or update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"nJT0v4asPyjc775u","name":"Google Sheets account"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"HTTP Request","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Code in Python (Beta)","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Code in Python (Beta)":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}]]},"Append or update row in sheet":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"e2055fc5-a3f5-46ee-8330-795e0726965d","triggerCount":1,"shared":[{"createdAt":"2025-11-28T11:28:32.446Z","updatedAt":"2025-11-28T11:28:32.446Z","role":"workflow:owner","workflowId":"HuoOBEzZccixJI9i","projectId":"gRGVTEYpzLUQ9scs"}],"tags":[],"error":"The resource you are requesting could not be found"}