oktaTempUserCreate.json
{"createdAt":"2025-11-29T12:19:24.297Z","updatedAt":"2025-11-29T21:33:03.000Z","id":"xKtCf2u7feg7FGeW","name":"oktaTempUserCreate","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"TempUsrCreate","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-112,-16],"id":"c25a0b78-d5fd-4fba-859d-0690f438a280","name":"Webhook","webhookId":"418ff5d1-9011-4652-be06-edb9f2baef2c"},{"parameters":{"language":"python","pythonCode":"# Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfrom datetime import datetime, timedelta\nfor item in _input.all():\n  item.json.body.temp_status=True\n  item.json.body.createddate=datetime.now().strftime(\"%Y-%m-%d\")\n  if \"body\" in item.json and \"days\" in item.json.body and item.json.body.days==0:\n    item.json.body.temp_status=False\n    item.json.body.expirydate=\"None\"\n  else:\n    item.json.body.expirydate=(datetime.now()+timedelta(days=item.json.body.days)).strftime(\"%Y-%m-%d\")\n  \nreturn _input.all()"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[96,-16],"id":"a74006b7-e006-4795-a1ab-973feeccbef9","name":"Code in Python (Beta)"},{"parameters":{"workflowId":{"__rl":true,"value":"XUkbJujS9TDTqc9W","mode":"list","cachedResultName":"okta user creation"},"workflowInputs":{"mappingMode":"defineBelow","value":{}},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[304,-16],"id":"cbf2cbf7-ed44-462f-b3f5-e1db43c06153","name":"Call 'okta user creation'"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[512,-16],"id":"cb6422a7-2ff4-4bd9-8804-181462b18b0a","name":"Merge"},{"parameters":{"language":"python","pythonCode":"# Loop over input items and add a new field called 'myNewField' to the JSON of each one\ndata_to_send={}\nfor item in _input.all():\n  \n  if \"body\" in item.json:\n    if \"profile\" in item.json.body:\n      data_to_send[\"email\"]=item.json.body.profile.login\n      \n    data_to_send[\"temp_status\"]=item.json.body.temp_status\n    data_to_send[\"expiry_date\"]=item.json.body.expirydate\n    data_to_send[\"created_date\"]=item.json.body.createddate\n  if \"id\" in item.json:\n    data_to_send[\"id\"]=item.json.id\n  \n  \nreturn data_to_send"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[752,-16],"id":"ffda49b0-6672-4121-af56-0b342bd9f2e1","name":"Code in Python (Beta)1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ccbbb824-84a1-46c6-b9e5-6f3ad043c5e7","leftValue":"={{ $json.temp_status }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[960,-16],"id":"07fe70e9-6b22-494b-83c6-110c4f9c1fc0","name":"If"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"11msRw2O6vG2mrO5jzLoq0Rv-IgGV1nVuCDhSPTdqBvs","mode":"list","cachedResultName":"OktaTemp","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11msRw2O6vG2mrO5jzLoq0Rv-IgGV1nVuCDhSPTdqBvs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11msRw2O6vG2mrO5jzLoq0Rv-IgGV1nVuCDhSPTdqBvs/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"UserId":"={{ $json.id }}","Email":"={{ $json.email }}","ExpiryDate":"={{ $json.expiry_date }}","CreatedDate":"={{ $json.created_date }}"},"matchingColumns":["UserId"],"schema":[{"id":"UserId","displayName":"UserId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"CreatedDate","displayName":"CreatedDate","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ExpiryDate","displayName":"ExpiryDate","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1440,-16],"id":"eb484b7a-cd3c-4167-9876-19aaa7de3859","name":"Append or update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"nJT0v4asPyjc775u","name":"Google Sheets account"}}}],"connections":{"Webhook":{"main":[[{"node":"Code in Python (Beta)","type":"main","index":0}]]},"Code in Python (Beta)":{"main":[[{"node":"Call 'okta user creation'","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"Call 'okta user creation'":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Code in Python (Beta)1","type":"main","index":0}]]},"Code in Python (Beta)1":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}],[]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"8oPdHCbfkDWiGkoo"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"1b4c0e7d-28db-44a8-b17b-779471b16634","triggerCount":1,"shared":[{"createdAt":"2025-11-29T12:19:24.314Z","updatedAt":"2025-11-29T12:19:24.314Z","role":"workflow:owner","workflowId":"xKtCf2u7feg7FGeW","projectId":"gRGVTEYpzLUQ9scs"}],"tags":[],"error":"The resource you are requesting could not be found"}