okta user creation.json
{"createdAt":"2025-11-27T10:47:43.047Z","updatedAt":"2025-11-27T11:42:49.000Z","id":"XUkbJujS9TDTqc9W","name":"okta user creation","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"createuserokta","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"87b91a77-7d0d-4d24-a9dd-2f1e9758ba1b","name":"Webhook","webhookId":"90fcc30f-3c05-46ea-88c6-c965a12aa4d5"},{"parameters":{"language":"python","pythonCode":"# Loop over input items and add a new field called 'myNewField' to the JSON of each one\nprofile=[]\nfor item in _input.all():\n  profile.append(item.json.body.profile)\ntest={}\nif profile:\n  for item in profile:\n    if hasattr(item,\"email\") and item.get(\"email\",\"\")!=\"\" and  hasattr(item,\"login\") and item.get(\"login\",\"\")!=\"\" and  hasattr(item,\"firstName\") and item.get(\"firstName\",\"\")!=\"\" and  hasattr(item,\"lastName\") and item.get(\"lastName\",\"\")!=\"\":\n      item.status=True\n    else:\n      item.status=False\nreturn {\"profile\":profile}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[208,0],"id":"310861b0-a1d4-4c4b-bc81-3105d6139844","name":"Code in Python (Beta)"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b1b62e0b-82ad-452d-97dc-d7fb3487219f","leftValue":"={{ $json.profile[0].status }}","rightValue":"true","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[416,0],"id":"350e9181-fe21-4a7c-b7ee-64084512b52c","name":"If"},{"parameters":{"operation":"create","firstName":"={{ $json.profile[0].firstName }}","lastName":"={{ $json.profile[0].lastName }}","login":"={{ $json.profile[0].login }}","email":"={{ $json.profile[0].email }}","getCreateFields":{},"requestOptions":{}},"type":"n8n-nodes-base.okta","typeVersion":1,"position":[624,-32],"id":"1ea45b0a-f494-4862-825b-367cec61e237","name":"Create a new user","credentials":{"oktaApi":{"id":"dnVmSr9rPxQDmsbr","name":"Okta account"}}}],"connections":{"Webhook":{"main":[[{"node":"Code in Python (Beta)","type":"main","index":0}]]},"Code in Python (Beta)":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Create a new user","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"8oPdHCbfkDWiGkoo"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"561f7969-4289-4b7a-a97b-633d84fe5776","triggerCount":1,"shared":[{"createdAt":"2025-11-27T10:47:43.123Z","updatedAt":"2025-11-27T10:47:43.123Z","role":"workflow:owner","workflowId":"XUkbJujS9TDTqc9W","projectId":"gRGVTEYpzLUQ9scs"}],"tags":[],"error":"The resource you are requesting could not be found"}