oktaTempUserCreate.json
{"createdAt":"2025-11-29T12:19:24.297Z","updatedAt":"2025-11-30T09:54:41.000Z","id":"xKtCf2u7feg7FGeW","name":"oktaTempUserCreate","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"TempUsrCreate","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-112,-16],"id":"c25a0b78-d5fd-4fba-859d-0690f438a280","name":"Webhook","webhookId":"418ff5d1-9011-4652-be06-edb9f2baef2c"},{"parameters":{"language":"python","pythonCode":"# Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfrom datetime import datetime, timedelta\nfor item in _input.all():\n  item.json.body.temp_status=True\n  item.json.body.createddate=datetime.now().strftime(\"%Y-%m-%d\")\n  if \"body\" in item.json and \"days\" in item.json.body and item.json.body.days==0:\n    item.json.body.temp_status=False\n    item.json.body.expirydate=\"None\"\n  else:\n    item.json.body.expirydate=(datetime.now()+timedelta(days=item.json.body.days)).strftime(\"%Y-%m-%d\")\n  \nreturn _input.all()"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[96,-16],"id":"a74006b7-e006-4795-a1ab-973feeccbef9","name":"Code in Python (Beta)"},{"parameters":{"workflowId":{"__rl":true,"value":"XUkbJujS9TDTqc9W","mode":"list","cachedResultName":"okta user creation"},"workflowInputs":{"mappingMode":"defineBelow","value":{}},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[304,-16],"id":"cbf2cbf7-ed44-462f-b3f5-e1db43c06153","name":"Call 'okta user creation'"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[512,-16],"id":"cb6422a7-2ff4-4bd9-8804-181462b18b0a","name":"Merge"},{"parameters":{"language":"python","pythonCode":"# Loop over input items and add a new field called 'myNewField' to the JSON of each one\ndata_to_send={}\nfor item in _input.all():\n  \n  if \"body\" in item.json:\n    if \"profile\" in item.json.body:\n      data_to_send[\"email\"]=item.json.body.profile.login\n      \n    data_to_send[\"temp_status\"]=item.json.body.temp_status\n    data_to_send[\"expiry_date\"]=item.json.body.expirydate\n    data_to_send[\"created_date\"]=item.json.body.createddate\n  if \"id\" in item.json:\n    data_to_send[\"id\"]=item.json.id\n  \n  \nreturn data_to_send"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[752,-16],"id":"ffda49b0-6672-4121-af56-0b342bd9f2e1","name":"Code in Python (Beta)1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ccbbb824-84a1-46c6-b9e5-6f3ad043c5e7","leftValue":"={{ $json.temp_status }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[960,-16],"id":"07fe70e9-6b22-494b-83c6-110c4f9c1fc0","name":"If"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"11msRw2O6vG2mrO5jzLoq0Rv-IgGV1nVuCDhSPTdqBvs","mode":"list","cachedResultName":"OktaTemp","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11msRw2O6vG2mrO5jzLoq0Rv-IgGV1nVuCDhSPTdqBvs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11msRw2O6vG2mrO5jzLoq0Rv-IgGV1nVuCDhSPTdqBvs/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"UserId":"={{ $json.id }}","Email":"={{ $json.email }}","ExpiryDate":"={{ $json.expiry_date }}","CreatedDate":"={{ $json.created_date }}","Status":"Pending"},"matchingColumns":["UserId"],"schema":[{"id":"UserId","displayName":"UserId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"CreatedDate","displayName":"CreatedDate","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ExpiryDate","displayName":"ExpiryDate","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Deactivated On","displayName":"Deactivated On","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2288,-192],"id":"eb484b7a-cd3c-4167-9876-19aaa7de3859","name":"Append or update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"nJT0v4asPyjc775u","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1PF_cXbfvbtNDVypPNSGrW7wK8IPdXUTmpwph4mGT7hQ","mode":"list","cachedResultName":"LockSheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1PF_cXbfvbtNDVypPNSGrW7wK8IPdXUTmpwph4mGT7hQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1PF_cXbfvbtNDVypPNSGrW7wK8IPdXUTmpwph4mGT7hQ/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1376,-112],"id":"6dd5e962-c9a4-422e-b786-ab68a7973b69","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"nJT0v4asPyjc775u","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d55f84d1-c18a-430d-8e2b-934f29e1ba9a","leftValue":"={{ $json.locked }}","rightValue":0,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1584,-112],"id":"7a4960f9-4542-4180-8dad-35521634bf7d","name":"If1"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1PF_cXbfvbtNDVypPNSGrW7wK8IPdXUTmpwph4mGT7hQ","mode":"list","cachedResultName":"LockSheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1PF_cXbfvbtNDVypPNSGrW7wK8IPdXUTmpwph4mGT7hQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1PF_cXbfvbtNDVypPNSGrW7wK8IPdXUTmpwph4mGT7hQ/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"locked":"1","row_number":2},"matchingColumns":["row_number"],"schema":[{"id":"locked","displayName":"locked","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1792,-208],"id":"89f296d6-643f-4560-9f66-7ca305dfc99c","name":"Update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"nJT0v4asPyjc775u","name":"Google Sheets account"}}},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1792,-16],"id":"e6273c57-8152-44b6-996c-ec75af90ebe2","name":"Wait","webhookId":"62ce8308-b71f-43df-b1d5-dd5d845f04c1"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1PF_cXbfvbtNDVypPNSGrW7wK8IPdXUTmpwph4mGT7hQ","mode":"list","cachedResultName":"LockSheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1PF_cXbfvbtNDVypPNSGrW7wK8IPdXUTmpwph4mGT7hQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1PF_cXbfvbtNDVypPNSGrW7wK8IPdXUTmpwph4mGT7hQ/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"locked":"0","row_number":2},"matchingColumns":["row_number"],"schema":[{"id":"locked","displayName":"locked","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2496,-192],"id":"7bfe26ae-8bb3-4ad4-b795-d81be8e6b0ee","name":"Update row in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"nJT0v4asPyjc775u","name":"Google Sheets account"}}},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1904,-512],"id":"838707d0-a6a0-4d82-aa20-00db10b3ed67","name":"Merge1"},{"parameters":{"language":"python","pythonCode":"# Loop over input items and add a new field called 'myNewField' to the JSON of each one\ndata_to_send=[]\nfor item in _input.all():\n  data_to_append={}\n  if \"id\" in item.json:\n    data_to_append=item.json\n    data_to_send.append(data_to_append)\n  \nreturn data_to_send"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2112,-512],"id":"a4a1bf27-97e0-484b-bc4f-26296f3b77e1","name":"Code in Python (Beta)2"}],"connections":{"Webhook":{"main":[[{"node":"Code in Python (Beta)","type":"main","index":0}]]},"Code in Python (Beta)":{"main":[[{"node":"Call 'okta user creation'","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"Call 'okta user creation'":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Code in Python (Beta)1","type":"main","index":0}]]},"Code in Python (Beta)1":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Merge1","type":"main","index":0},{"node":"Get row(s) in sheet","type":"main","index":0}],[]]},"Get row(s) in sheet":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Update row in sheet","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"Update row in sheet":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Wait":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Append or update row in sheet":{"main":[[{"node":"Update row in sheet1","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Code in Python (Beta)2","type":"main","index":0}]]},"Code in Python (Beta)2":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"8oPdHCbfkDWiGkoo"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"localhost:5678","user-agent":"python-requests/2.32.5","accept-encoding":"gzip, deflate","accept":"*/*","connection":"keep-alive","content-type":"application/json","content-length":"207"},"params":{},"query":{},"body":{"profile":{"firstName":"Arjun","lastName":"Krishnna","email":"arjuneddy@gmail.com","login":"arjuneddy25@gmail.com","mobilePhone":"947-270-5070"},"groups":["Engineering","Medicine"],"days":90},"webhookUrl":"http://localhost:5678/webhook/TempUsrCreate","executionMode":"production"}}]},"versionId":"d40f2768-57ae-410c-b4af-5e7b9e74eb1c","triggerCount":1,"shared":[{"createdAt":"2025-11-29T12:19:24.314Z","updatedAt":"2025-11-29T12:19:24.314Z","role":"workflow:owner","workflowId":"xKtCf2u7feg7FGeW","projectId":"gRGVTEYpzLUQ9scs"}],"tags":[]}