OktaTempDeactivate.json
{"createdAt":"2025-11-29T20:31:42.419Z","updatedAt":"2025-11-30T09:41:59.000Z","id":"VavRF2mx5VOxBuTc","name":"OktaTempDeactivate","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 0 0 * * *"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-16,48],"id":"2b9ef2cd-1a91-44da-9050-982e47049e2d","name":"Schedule Trigger"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-16,-144],"id":"0c342b48-2d0d-417b-814e-b2232708c75b","name":"When Executed by Another Workflow"},{"parameters":{"documentId":{"__rl":true,"value":"11msRw2O6vG2mrO5jzLoq0Rv-IgGV1nVuCDhSPTdqBvs","mode":"list","cachedResultName":"OktaTemp","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11msRw2O6vG2mrO5jzLoq0Rv-IgGV1nVuCDhSPTdqBvs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11msRw2O6vG2mrO5jzLoq0Rv-IgGV1nVuCDhSPTdqBvs/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Status","lookupValue":"Pending"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[208,-48],"id":"651c444f-c992-4d4b-945e-f9ef118585c3","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"nJT0v4asPyjc775u","name":"Google Sheets account"}}},{"parameters":{"language":"python","pythonCode":"# Loop over input items and add a new field called 'myNewField' to the JSON of each one\ndata_to_update=[]\nfor item in _input.all():\n  data_to_send={\"body\":{}}\n  json_data=item.json\n  for keys,values in json_data.items():\n    if keys == \"UserId\":\n      data_to_send[\"body\"][\"id\"]=values\n    else:\n      data_to_send[\"body\"][keys]=values\n  data_to_update.append(data_to_send)\nreturn data_to_update"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[400,-16],"id":"af589530-5307-4d39-93f6-ac6176f943b7","name":"Code in Python (Beta)"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1504,-48],"id":"8b3ded3d-97eb-4837-bf1c-9ceb3448b384","name":"Merge"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"11msRw2O6vG2mrO5jzLoq0Rv-IgGV1nVuCDhSPTdqBvs","mode":"list","cachedResultName":"OktaTemp","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11msRw2O6vG2mrO5jzLoq0Rv-IgGV1nVuCDhSPTdqBvs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11msRw2O6vG2mrO5jzLoq0Rv-IgGV1nVuCDhSPTdqBvs/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"UserId":"={{ $json.body.id }}","Status":"Deactivated","Deactivated On":"={{ $json.body.deactivated_on }}"},"matchingColumns":["UserId"],"schema":[{"id":"UserId","displayName":"UserId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"CreatedDate","displayName":"CreatedDate","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ExpiryDate","displayName":"ExpiryDate","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Deactivated On","displayName":"Deactivated On","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1920,-48],"id":"14d596fe-b157-4658-a898-d145a7be4353","name":"Append or update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"nJT0v4asPyjc775u","name":"Google Sheets account"}}},{"parameters":{"language":"python","pythonCode":"# Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfrom datetime import datetime\ndata_to_send=[]\nfor item in _input.all():\n  if \"body\" in item.json:\n    item.json.body.deactivated_on=datetime.now().strftime(\"%Y-%m-%d\")\n    data_to_send.append(item.json)\nreturn data_to_send"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1712,-48],"id":"a42ef237-1d30-435b-ae77-8d99f06c205e","name":"Code in Python (Beta)1"},{"parameters":{"workflowId":{"__rl":true,"value":"X0QeQp4dGZxuUHCP","mode":"list","cachedResultName":"DeactivateOktaUser"},"workflowInputs":{"mappingMode":"defineBelow","value":{}},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1072,-128],"id":"257d6b7f-63b7-400a-98c7-411c1224a4a3","name":"Call 'DeactivateOktaUser'"},{"parameters":{"fieldToSplitOut":"body.id","include":"allOtherFields","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[816,-16],"id":"7e752557-306d-4dcf-8be1-13d5e62b8adf","name":"Split Out"},{"parameters":{"language":"python","pythonCode":"# Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor item in _input.all():\n  item.json.body.id = item.json[\"body.id\"]\nreturn _input.all()"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[960,128],"id":"9451d73c-d990-49cb-a419-15b8154e3d5a","name":"Code in Python (Beta)3"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Code in Python (Beta)","type":"main","index":0}]]},"Code in Python (Beta)":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Code in Python (Beta)1","type":"main","index":0}]]},"Code in Python (Beta)1":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}]]},"Call 'DeactivateOktaUser'":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Code in Python (Beta)3","type":"main","index":0}]]},"Code in Python (Beta)3":{"main":[[{"node":"Merge","type":"main","index":1},{"node":"Call 'DeactivateOktaUser'","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"8oPdHCbfkDWiGkoo"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Schedule Trigger":[{"json":{"timestamp":"2025-11-29T16:14:24.281-05:00","Readable date":"November 29th 2025, 4:14:24 pm","Readable time":"4:14:24 pm","Day of week":"Saturday","Year":"2025","Month":"November","Day of month":"29","Hour":"16","Minute":"14","Second":"24","Timezone":"America/New_York (UTC-05:00)"}}]},"versionId":"6d671467-78d1-4981-b7e5-d017be28061d","triggerCount":1,"shared":[{"createdAt":"2025-11-29T20:31:42.699Z","updatedAt":"2025-11-29T20:31:42.699Z","role":"workflow:owner","workflowId":"VavRF2mx5VOxBuTc","projectId":"gRGVTEYpzLUQ9scs"}],"tags":[]}