OktaScheduledDeactivate.json
{"createdAt":"2025-11-28T10:54:12.762Z","updatedAt":"2025-11-28T11:26:47.000Z","id":"OlKw8Oo2fyDKwMys","name":"OktaScheduledDeactivate","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 0 0 * * * "}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0],"id":"e661c6b3-fe95-4657-9cf3-004c78e1d4f6","name":"Schedule Trigger"},{"parameters":{"documentId":{"__rl":true,"value":"1HCF6xpgC5zNDwX3bl_yYoTu7FPM22tNTMQ26SIUxaEM","mode":"list","cachedResultName":"okta Suspended","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1HCF6xpgC5zNDwX3bl_yYoTu7FPM22tNTMQ26SIUxaEM/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"okta","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1HCF6xpgC5zNDwX3bl_yYoTu7FPM22tNTMQ26SIUxaEM/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[208,0],"id":"156e8210-1564-41cf-bf16-d326c0580a91","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"nJT0v4asPyjc775u","name":"Google Sheets account"}}},{"parameters":{"language":"python","pythonCode":"# Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfrom datetime import datetime,timedelta\nusers_to_delete=[]\nfor item in _input.all():\n  item.json.currentdate=datetime.now().strftime(\"%Y-%m-%d\")\n  if datetime.strptime(item.json.currentdate,\"%Y-%m-%d\")<=datetime.strptime(item.json[\"Deactivate at\"],\"%Y-%m-%d\") and item.json.status==\"Pending\":\n    users_to_delete.append(item.json)\nreturn users_to_delete"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[416,0],"id":"70948dc0-c32e-4406-988c-c6dcd9160d71","name":"Code in Python (Beta)"},{"parameters":{"fieldToSplitOut":"UserId","include":"allOtherFields","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[624,0],"id":"0462bdca-a81b-4721-896a-25a4a3c6ecad","name":"Split Out"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[832,0],"id":"6911f1f7-f19c-4f7b-943d-e8c632b1b7a2","name":"Loop Over Items"},{"parameters":{"method":"POST","url":"=https://integrator-1776498.okta.com/api/v1/users/{{$json.UserId}}/lifecycle/deactivate","authentication":"predefinedCredentialType","nodeCredentialType":"oktaApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1040,96],"id":"e2773d12-4e6b-4d11-b8e8-06cd04a0d7a9","name":"HTTP Request","credentials":{"oktaApi":{"id":"dnVmSr9rPxQDmsbr","name":"Okta account"}}},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1248,96],"id":"630f5d7e-4836-41c1-8e9f-458777029052","name":"Merge"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1HCF6xpgC5zNDwX3bl_yYoTu7FPM22tNTMQ26SIUxaEM","mode":"list","cachedResultName":"okta Suspended","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1HCF6xpgC5zNDwX3bl_yYoTu7FPM22tNTMQ26SIUxaEM/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"okta","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1HCF6xpgC5zNDwX3bl_yYoTu7FPM22tNTMQ26SIUxaEM/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Deactivated at":"={{ $json.Deactivatedt }}","status":"Completed","UserId":"={{ $json.UserId }}"},"matchingColumns":["UserId"],"schema":[{"id":"UserId","displayName":"UserId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Suspended at","displayName":"Suspended at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Deactivate at","displayName":"Deactivate at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Deactivated at","displayName":"Deactivated at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1664,96],"id":"7d0552d3-d72b-486f-8708-375be88d26c7","name":"Append or update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"nJT0v4asPyjc775u","name":"Google Sheets account"}}},{"parameters":{"language":"python","pythonCode":"# Loop over input items and add a new field called 'myNewField' to the JSON of each one\ndata_to_send=[]\nfor item in _input.all():\n  if \"UserId\" in item.json:\n    data_to_update={\n      \"UserId\":item.json.UserId,\n      \"Deactivatedt\":item.json.currentdate\n    }\n    data_to_send.append(data_to_update)\nreturn data_to_send"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1456,96],"id":"f2b6c6d5-2893-4c66-bc3f-226127efe832","name":"Code in Python (Beta)1"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Code in Python (Beta)","type":"main","index":0}]]},"Code in Python (Beta)":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"HTTP Request","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"HTTP Request":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Code in Python (Beta)1","type":"main","index":0}]]},"Code in Python (Beta)1":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"8oPdHCbfkDWiGkoo"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"6e4390e2-ca70-49bf-ace9-a646561a407c","triggerCount":1,"shared":[{"createdAt":"2025-11-28T10:54:12.843Z","updatedAt":"2025-11-28T10:54:12.843Z","role":"workflow:owner","workflowId":"OlKw8Oo2fyDKwMys","projectId":"gRGVTEYpzLUQ9scs"}],"tags":[],"error":"The resource you are requesting could not be found"}