okta user creation.json
{"createdAt":"2025-11-27T10:47:43.047Z","updatedAt":"2025-11-29T12:40:42.000Z","id":"XUkbJujS9TDTqc9W","name":"okta user creation","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"createuserokta","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"87b91a77-7d0d-4d24-a9dd-2f1e9758ba1b","name":"Webhook","webhookId":"90fcc30f-3c05-46ea-88c6-c965a12aa4d5"},{"parameters":{"language":"python","pythonCode":"# Loop over input items and add a new field called 'myNewField' to the JSON of each one\nprofile=[]\n\nfor item in _input.all():\n  item.json.body.group=False\n  profile.append(item.json.body.profile)\n  if \"groups\" in item.json.body:\n    item.json.body.group=True\ntest={}\nif profile:\n  for item in profile:\n    item.status=True\n    item.message=\"\"\n    if item.get(\"email\",\"\")==\"\":\n      item.status=False\n      item.message=item.message+\" Missing email\"\n    if item.get(\"login\",\"\")==\"\":\n      item.status=False\n      item.message=item.message+\" Missing username\"\n    if item.get(\"firstName\",\"\")==\"\":\n      item.status=False\n      item.message=item.message+\" Missing FirstName\"\n    if item.get(\"lastName\",\"\")==\"\":\n      item.status=False\n      item.message=item.message+\" Missing Lastname\"\n    if item.status==False:\n      break\nreturn _input.all()"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[208,0],"id":"310861b0-a1d4-4c4b-bc81-3105d6139844","name":"Code in Python (Beta)"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b1b62e0b-82ad-452d-97dc-d7fb3487219f","leftValue":"={{ $json.body.group }}","rightValue":"true","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[640,0],"id":"350e9181-fe21-4a7c-b7ee-64084512b52c","name":"If"},{"parameters":{"operation":"create","firstName":"={{$json.body.profile.firstName}}","lastName":"={{ $json.body.profile.lastName }}","login":"={{ $json.body.profile.login }}","email":"={{ $json.body.profile.email }}","getCreateFields":{},"requestOptions":{}},"type":"n8n-nodes-base.okta","typeVersion":1,"position":[1456,-32],"id":"1ea45b0a-f494-4862-825b-367cec61e237","name":"Create a new user","credentials":{"oktaApi":{"id":"dnVmSr9rPxQDmsbr","name":"Okta account"}}},{"parameters":{"errorMessage":"={{ $json.body.profile.message }}"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[560,160],"id":"107e310c-ff2b-4689-8f1d-0fee68075c20","name":"Stop and Error"},{"parameters":{"method":"POST","url":"https://integrator-1776498.okta.com/api/v1/users","authentication":"predefinedCredentialType","nodeCredentialType":"oktaApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"profile\":{\n    \"firstName\":{{ JSON.stringify($json.firstName) }},\n\"lastName\":{{  JSON.stringify($json.lastName )}},\n\"email\":{{  JSON.stringify($json.email )}},\n\"login\":{{ JSON.stringify($json.login) }},\n\"mobilePhone\":{{ JSON.stringify($json.mobile) }}\n  },\n\"groupIds\":{{ JSON.stringify($json.groups) }}\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2144,224],"id":"0f8f5197-d51d-44e3-b4fa-8658c5ac9e7b","name":"HTTP Request","credentials":{"oktaApi":{"id":"dnVmSr9rPxQDmsbr","name":"Okta account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"83f22b3d-6477-4c2d-84cd-144cee8b126e","leftValue":"={{ $json.body.profile.status }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[416,0],"id":"07db451e-f6a7-4bdf-ba87-15ee81b6c3b3","name":"If1"},{"parameters":{"fieldToSplitOut":"body.groups","include":"allOtherFields","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[864,192],"id":"3ecb02dd-a93b-4b69-af0b-bfb9f2d52771","name":"Split Out"},{"parameters":{"url":"=https://integrator-1776498.okta.com/api/v1/groups/","authentication":"predefinedCredentialType","nodeCredentialType":"oktaApi","sendQuery":true,"queryParameters":{"parameters":[{"name":"search","value":"=profile.name eq \"{{ $json[\"body.groups\"] }}\""}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1168,208],"id":"9a7a35ad-5c85-4a08-8535-249ec195655c","name":"HTTP Request1","credentials":{"oktaApi":{"id":"dnVmSr9rPxQDmsbr","name":"Okta account"}}},{"parameters":{"language":"python","pythonCode":"# Loop over input items and add a new field called 'myNewField' to the JSON of each one\ndata_to_send={}\ngroups=[]\nfor item in _input.all():\n  if \"body\" in item.json and \"profile\" in item.json.body:\n    profile=item.json.body.profile\n    data_to_send={\n      \"firstName\":profile.firstName,\n      \"lastName\":profile.lastName,\n      \"email\":profile.email,\n      \"login\":profile.login,\n      \"mobile\":profile.mobilePhone\n    }\n  if \"id\" in item.json:\n    groups.append(item.json.id)\n        \n      \n  \ndata_to_send['groups']=groups\nreturn data_to_send"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1840,224],"id":"6473583c-b53c-4bb7-be25-78fa8cd8cd37","name":"Code in Python (Beta)1"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1376,208],"id":"036db2b9-eaa8-4744-8d7c-120db241a61f","name":"Merge"},{"parameters":{"fromEmail":"splunk.commandcentre@gmail.com","toEmail":"splunk.commandcenter@gmail.com","subject":"=User  {{ $json.profile.login }} has been {{ $json.status }}","html":"=User creation successful for the user <b>{{$json.profile.login}}</b>","options":{"appendAttribution":false}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[2720,192],"id":"c49a2dbe-65bd-4ca2-b935-0dcc1ae1bcf3","name":"Send email","webhookId":"8065b8ab-60e6-48b2-81d2-55eef69b540d","credentials":{"smtp":{"id":"uQmjVOGo3b4NuY5c","name":"SMTP account"}}},{"parameters":{"fromEmail":"splunk.commandcentre@gmail.com","toEmail":"splunk.commandcenter@gmail.com","subject":"=User  {{ $json.profile.login }} has been {{ $json.status }}","html":"User creation successful for the user <b>{{$json.profile.login}}</b>","options":{}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[1856,-32],"id":"2bf83344-9256-475c-976b-7bbabf5a4b4f","name":"Send email1","webhookId":"8065b8ab-60e6-48b2-81d2-55eef69b540d","credentials":{"smtp":{"id":"uQmjVOGo3b4NuY5c","name":"SMTP account"}}},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-32,176],"id":"a1c38e8c-c992-469b-b1c6-1d33303acebd","name":"When Executed by Another Workflow"},{"parameters":{"assignments":{"assignments":[{"id":"3c9fa13b-0d4b-465c-a03c-3f8b56d24c98","name":"id","value":"={{ $json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2304,320],"id":"5434c73d-2380-49d7-b49f-46491f36b328","name":"Edit Fields"},{"parameters":{"assignments":{"assignments":[{"id":"d1cf14cd-a501-4aa6-a34e-9e59bf92b913","name":"id","value":"={{ $json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1680,-160],"id":"6a0da045-c79e-4983-a36e-33b2487e34fd","name":"Edit Fields1"}],"connections":{"Webhook":{"main":[[{"node":"Code in Python (Beta)","type":"main","index":0}]]},"Code in Python (Beta)":{"main":[[{"node":"If1","type":"main","index":0}]]},"If":{"main":[[{"node":"Create a new user","type":"main","index":0}],[{"node":"Split Out","type":"main","index":0},{"node":"Merge","type":"main","index":0}]]},"Create a new user":{"main":[[{"node":"Edit Fields1","type":"main","index":0},{"node":"Send email1","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Send email","type":"main","index":0},{"node":"Edit Fields","type":"main","index":0}]]},"If1":{"main":[[{"node":"If","type":"main","index":0}],[{"node":"Stop and Error","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Code in Python (Beta)1":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Code in Python (Beta)1","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Code in Python (Beta)","type":"main","index":0}]]},"Edit Fields1":{"main":[[]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"8oPdHCbfkDWiGkoo"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"headers":{"host":"localhost:5678","user-agent":"python-requests/2.32.5","accept-encoding":"gzip, deflate","accept":"*/*","connection":"keep-alive","content-type":"application/json","content-length":"206"},"params":{},"query":{},"body":{"profile":{"firstName":"Arjun","lastName":"Krishnna","email":"arjuneddy@gmail.com","login":"arjuneddy30@gmail.com","mobilePhone":"947-270-5070"},"groups":["Engineering","Medicine"],"days":0,"temp_status":false,"expirydate":"None"},"webhookUrl":"http://localhost:5678/webhook-test/TempUsrCreate","executionMode":"test"}}]},"versionId":"7d52520b-3940-4ceb-ba3d-845163a6700f","triggerCount":1,"shared":[{"createdAt":"2025-11-27T10:47:43.123Z","updatedAt":"2025-11-27T10:47:43.123Z","role":"workflow:owner","workflowId":"XUkbJujS9TDTqc9W","projectId":"gRGVTEYpzLUQ9scs"}],"tags":[]}