Oneoffmanaualsuspend.json
{"createdAt":"2025-11-28T12:17:00.577Z","updatedAt":"2025-11-29T21:34:19.000Z","id":"lASZMP4x3QRXmMpu","name":"Oneoffmanaualsuspend","active":false,"isArchived":false,"nodes":[{"parameters":{"url":"=https://integrator-1776498.okta.com/api/v1/users/","authentication":"predefinedCredentialType","nodeCredentialType":"oktaApi","sendQuery":true,"queryParameters":{"parameters":[{"name":"filter","value":"status eq \"SUSPENDED\""}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[208,0],"id":"f033f765-be96-4e11-95de-8aca2b540793","name":"HTTP Request","credentials":{"oktaApi":{"id":"dnVmSr9rPxQDmsbr","name":"Okta account"}}},{"parameters":{"fieldToSplitOut":"id","include":"allOtherFields","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[416,0],"id":"0ba9fcfe-ceab-4274-92a4-0db02ea28c39","name":"Split Out"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1HCF6xpgC5zNDwX3bl_yYoTu7FPM22tNTMQ26SIUxaEM","mode":"list","cachedResultName":"okta Suspended","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1HCF6xpgC5zNDwX3bl_yYoTu7FPM22tNTMQ26SIUxaEM/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"okta","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1HCF6xpgC5zNDwX3bl_yYoTu7FPM22tNTMQ26SIUxaEM/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"UserId":"={{ $json.id }}","email":"={{ $json.profile.login }}","Suspended at":"={{ $json.statusChanged }}","status":"Suspended","Deactivated at":"=","Deactivate at":"={{ $json.Deactivateat }}"},"matchingColumns":["UserId"],"schema":[{"id":"UserId","displayName":"UserId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Suspended at","displayName":"Suspended at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Deactivate at","displayName":"Deactivate at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Deactivated at","displayName":"Deactivated at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Deleted At","displayName":"Deleted At","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1040,96],"id":"42ce6009-4930-405a-9f61-5c6ff59ac038","name":"Append or update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"nJT0v4asPyjc775u","name":"Google Sheets account"}}},{"parameters":{"language":"python","pythonCode":"# Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfrom datetime import datetime,timedelta\nfor item in _input.all():\n  item.json[\"statusChanged\"]=item.json[\"statusChanged\"].split(\"T\")[0]\n  item.json[\"Deactivateat\"]=(datetime.now()+timedelta(days=30)).strftime(\"%Y-%m-%d\")\nreturn _input.all()"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[832,96],"id":"7cb5010b-729a-4797-8574-08cb31bf815b","name":"Code in Python (Beta)"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,0],"id":"e83ccf24-32d9-4140-bb6a-9d3bc1244f39","name":"When Executed by Another Workflow"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-32,160],"id":"11cfdd98-fc2f-4c90-a7f3-4712513dcbc8","name":"When clicking ‘Execute workflow’"}],"connections":{"HTTP Request":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Code in Python (Beta)","type":"main","index":0}]]},"Append or update row in sheet":{"main":[[]]},"Code in Python (Beta)":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"67a9d1d8-8e17-4fa5-962e-79a7493262fc","triggerCount":0,"shared":[{"createdAt":"2025-11-28T12:17:00.603Z","updatedAt":"2025-11-28T12:17:00.603Z","role":"workflow:owner","workflowId":"lASZMP4x3QRXmMpu","projectId":"gRGVTEYpzLUQ9scs"}],"tags":[]}