ResetPassword.json
{"createdAt":"2025-12-04T20:08:05.719Z","updatedAt":"2025-12-04T20:44:32.839Z","id":"OPTZmnKSl8SIubvf","name":"ResetPassword","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"resetpassword","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-96,-16],"id":"b4c4d201-2e4b-4e91-b7a1-20ee971bcbd6","name":"Webhook","webhookId":"60e95ec7-eb72-4584-9e60-b1fba4377934"},{"parameters":{"function":"arn:aws:lambda:us-east-1:002125562743:function:FetchUserResources","payload":"={\n  \"UserName\":{{ JSON.stringify($json.UserName) }}\n}"},"type":"n8n-nodes-base.awsLambda","typeVersion":1,"position":[656,-16],"id":"c33acb35-31d4-4f78-ab59-406f4b834a94","name":"AWS Lambda","credentials":{"aws":{"id":"kRAtHumaJKnPSEiL","name":"AWS account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"11998be8-85a2-4c6e-9d96-2a17bbaf137d","leftValue":"={{ $json.result.login_profile }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1392,-16],"id":"f1e230da-3848-4d64-b826-4aa4a826ff42","name":"If"},{"parameters":{"function":"arn:aws:lambda:us-east-1:002125562743:function:createUserPassword","payload":"={\n\"UserName\":{{ JSON.stringify($json.result.user_info.UserName) }},\n\"Password\":{{ JSON.stringify($json.Password) }}\n}"},"type":"n8n-nodes-base.awsLambda","typeVersion":1,"position":[1696,64],"id":"af26f94c-3b93-4774-8c69-70735ea2d4e1","name":"AWS Lambda1","credentials":{"aws":{"id":"kRAtHumaJKnPSEiL","name":"AWS account"}}},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1040,-48],"id":"b20b3476-0454-4f75-9802-ed89ff64a478","name":"Merge"},{"parameters":{"workflowId":{"__rl":true,"value":"FTSGUO6r5gQ1R9UK","mode":"list","cachedResultName":"CreatePassword"},"workflowInputs":{"mappingMode":"defineBelow","value":{}},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[800,-112],"id":"0336ff5f-a2b7-464c-9df6-964f0a783c02","name":"Call 'CreatePassword'"},{"parameters":{"function":"arn:aws:lambda:us-east-1:002125562743:function:UpdateLoginProfile","payload":"={\n\"UserName\":{{ JSON.stringify($json.result.user_info.UserName) }},\n\"Password\":{{ JSON.stringify($json.Password) }}\n}"},"type":"n8n-nodes-base.awsLambda","typeVersion":1,"position":[1696,-96],"id":"e33e74e1-90d7-474f-82f4-a8c93f413c06","name":"AWS Lambda2","credentials":{"aws":{"id":"kRAtHumaJKnPSEiL","name":"AWS account"}}},{"parameters":{"language":"python","pythonCode":"# Loop over input items and add a new field called 'myNewField' to the JSON of each one\ndata_to_send={}\nfor item in _input.all():\n  if \"Password\" in item.json:\n    data_to_send[\"Password\"]=item.json.Password\n  if \"result\" in item.json:\n    data_to_send[\"result\"]=item.json.result\nreturn data_to_send"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1248,-48],"id":"b584d2eb-b20d-4fb8-8341-567f2ea53033","name":"Code in Python (Beta)"},{"parameters":{"operation":"get","user":{"__rl":true,"value":"={{ $json.body.username }}","mode":"userName"},"requestOptions":{}},"type":"n8n-nodes-base.awsIam","typeVersion":1,"position":[112,-16],"id":"2d440727-b176-498c-86c8-0f525ddc9f35","name":"Get user","credentials":{"aws":{"id":"kRAtHumaJKnPSEiL","name":"AWS account"}},"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ae2f0928-5744-4015-8b1f-d844645fa719","leftValue":"={{ $json.error }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[320,-16],"id":"c75cb9da-f5f7-40e2-b727-a3e4365b89f8","name":"If1"},{"parameters":{"errorMessage":"={{ $json.error }}"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[528,80],"id":"9da98354-9e27-4b0e-80be-e472d70133e8","name":"Stop and Error"},{"parameters":{"fromEmail":"splunk.commandcenter@gmail.com","toEmail":"arjuneddy@gmail.com","subject":"=Password reset for user  {{ $json.result.username }} successful","html":"=Password reset successful.\nNew password is {{ $json.result.password }}\nplease change upon logging in","options":{}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[1904,-88.50006103515625],"id":"02a1cd71-8ee3-4300-b3f6-7640745b8996","name":"Send email","webhookId":"e3e8cea1-3884-4631-9dc4-981a275a2634","credentials":{"smtp":{"id":"uQmjVOGo3b4NuY5c","name":"SMTP account"}}},{"parameters":{"fromEmail":"splunk.commandcenter@gmail.com","toEmail":"arjuneddy@gmail.com","subject":"=Password reset for user  {{ $json.result.username }} successful","html":"=Password reset successful.\nNew password is {{ $json.result.password }}\nplease change upon logging in","options":{}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[1904,64],"id":"9fc0e6b6-25ed-4aaa-ae4a-6aa3a47a812a","name":"Send email1","webhookId":"e3e8cea1-3884-4631-9dc4-981a275a2634","credentials":{"smtp":{"id":"uQmjVOGo3b4NuY5c","name":"SMTP account"}}}],"connections":{"Webhook":{"main":[[{"node":"Get user","type":"main","index":0}]]},"AWS Lambda":{"main":[[{"node":"Call 'CreatePassword'","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"If":{"main":[[{"node":"AWS Lambda2","type":"main","index":0}],[{"node":"AWS Lambda1","type":"main","index":0}]]},"AWS Lambda1":{"main":[[{"node":"Send email1","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Code in Python (Beta)","type":"main","index":0}]]},"Call 'CreatePassword'":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Code in Python (Beta)":{"main":[[{"node":"If","type":"main","index":0}]]},"Get user":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"AWS Lambda","type":"main","index":0}],[{"node":"Stop and Error","type":"main","index":0}]]},"AWS Lambda2":{"main":[[{"node":"Send email","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"cfdf79c3-3b3c-40d8-a422-34bb8e2d07aa","triggerCount":0,"shared":[{"createdAt":"2025-12-04T20:08:05.719Z","updatedAt":"2025-12-04T20:08:05.719Z","role":"workflow:owner","workflowId":"OPTZmnKSl8SIubvf","projectId":"6s48z25n0vjamXXx"}],"tags":[]}