Stale Accounts.json
{"createdAt":"2025-12-05T18:17:59.512Z","updatedAt":"2025-12-11T09:07:16.271Z","id":"K2nPccuMVil1D3qS","name":"Stale Accounts","active":true,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,176],"id":"ff75870d-2f21-49bc-9957-c5f1c109ca38","name":"When clicking ‘Execute workflow’"},{"parameters":{"function":"arn:aws:lambda:us-east-1:002125562743:function:ListUsers"},"type":"n8n-nodes-base.awsLambda","typeVersion":1,"position":[224,176],"id":"4b504188-1c9c-46fb-a696-79e8fa63976d","name":"AWS Lambda","credentials":{"aws":{"id":"kRAtHumaJKnPSEiL","name":"AWS account"}}},{"parameters":{"fieldToSplitOut":"result.UserNames","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[448,176],"id":"d52e53f7-2e14-4d8c-b5b7-c20a9374d007","name":"Split Out"},{"parameters":{"batchSize":2,"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[672,176],"id":"fa7631d3-24ad-4c6a-914f-5074c724a898","name":"Loop Over Items"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"15082320-d9b4-4b65-9da1-c66bb61eddff","leftValue":"={{ $json.result.user_info.PasswordLastUsed }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1040,112],"id":"090c58df-6b8b-4487-abb5-e6b190887d8e","name":"If"},{"parameters":{"language":"python","pythonCode":"# Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfrom datetime import datetime,timedelta,timezone\nstale_users=[]\nfor item in _input.all():\n  if \"result\" in item.json and \"user_info\" in item.json.result and \"PasswordLastUsed\" in item.json.result.user_info:\n    passwordlastused=datetime.strptime(item.json.result.user_info.PasswordLastUsed,\"%Y-%m-%dT%H:%M:%S%z\")\n    days= (datetime.now(timezone.utc)-passwordlastused).days\n    if days>=90:\n      stale_users.append(item.json.result.user_info.UserName)\n    \nreturn {\"staleusers\":stale_users,\n       \"days\":days}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2240,224],"id":"bf0c6709-9188-450f-b818-8210554c2389","name":"Code in Python (Beta)"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e4090c25-0e56-4f94-9890-415919890879","leftValue":"={{ $json.result.access_keys }}","rightValue":"","operator":{"type":"array","operation":"notEmpty","singleValue":true}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[944,-192],"id":"487dc508-e4f1-405d-9ef8-f4ccdebf8618","name":"If1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"29e18b1d-5f30-4140-a797-153401e5a7d1","leftValue":"={{ $json.result.ssh_keys }}","rightValue":"","operator":{"type":"array","operation":"notEmpty","singleValue":true}},{"id":"03974f3e-026d-41da-900f-6b5b2b3215ff","leftValue":"={{ $json.result.git_keys }}","rightValue":"","operator":{"type":"array","operation":"notEmpty","singleValue":true}},{"id":"d841a17b-4748-4d3b-a06b-9752a45fb61d","leftValue":"={{ $json.result.signing_certs }}","rightValue":"","operator":{"type":"array","operation":"notEmpty","singleValue":true}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1200,-16],"id":"b896c612-3c09-49f6-8e2f-1a8ca86e028a","name":"If2"},{"parameters":{"language":"python","pythonCode":"# Loop over input items and add a new field called 'myNewField' to the JSON of each one\ndata_to_send={}\nfrom datetime import datetime,timezone\nfor item in _input.all():\n  if \"result\" in item.json and \"user_info\" in item.json.result and \"Arn\" in item.json.result.user_info:\n    data_to_send[\"Arn\"]=item.json.result.user_info.Arn\n  if \"result\" in item.json and \"user_info\" in item.json.result and \"UserName\" in item.json.result.user_info:\n    data_to_send[\"UserName\"]=item.json.result.user_info.UserName\n  git_stale=True\n  ssh_stale=True\n  cert_stale=True\n  if \"result\" in item.json and \"git_keys\" in item.json.result and len(item.json.result.git_keys)>0 :\n    data_to_send[\"git_keys\"]=item.json.result.git_keys\n    for values in item.json.result.git_keys:\n      day_diff=(datetime.now(timezone.utc)- datetime.strptime(values.CreateDate,\"%Y-%m-%dT%H:%M:%S%z\")).days\n      if(day_diff)<90:\n        git_stale=False\n        break\n      \n\n  if \"result\" in item.json and \"ssh_keys\" in item.json.result and len(item.json.result.ssh_keys)>0 :\n    data_to_send[\"ssh_keys\"]=item.json.result.ssh_keys\n    for values in item.json.result.ssh_keys:\n      day_diff=(datetime.now(timezone.utc)- datetime.strptime(values.CreateDate,\"%Y-%m-%dT%H:%M:%S%z\")).days\n      if(day_diff)<90:\n        ssh_stale=False\n        break\n\n  if \"result\" in item.json and \"signing_certs\" in item.json.result and len(item.json.result.signing_certs)>0 :\n    data_to_send[\"signing_certs\"]=item.json.result.signing_certs\n    for values in item.json.result.signing_certs:\n      day_diff=(datetime.now(timezone.utc)- datetime.strptime(values.CreateDate,\"%Y-%m-%dT%H:%M:%S%z\")).days\n      if(day_diff)<90:\n        ssh_stale=False\n        break\n  \ndata_to_send[\"git_stale\"]=git_stale\ndata_to_send[\"cert_stale\"]=cert_stale\ndata_to_send[\"ssh_stale\"]=ssh_stale\nreturn data_to_send"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1568,32],"id":"87fddb42-cbb3-487a-aef9-04c554d23a2a","name":"Code in Python (Beta)1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d0e93efc-2c73-48a8-8f4e-9884ec89a2a2","leftValue":"={{ $json.git_stale }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}},{"id":"1208174d-69da-4363-a98e-26a67de4a1ef","leftValue":"={{ $json.cert_stale }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}},{"id":"f30a199d-1ea3-4e6c-a739-2e46f76ffb5b","leftValue":"={{ $json.ssh_stale }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1792,32],"id":"dc587cdf-01e0-4fa9-93ac-c23fe3674f67","name":"If3"},{"parameters":{"numberInputs":3},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2464,112],"id":"95790cec-79b7-4cb0-b3d8-1823a6ef9a12","name":"Merge"},{"parameters":{"language":"python","pythonCode":"from datetime import datetime, timezone\n\ndata_to_send = []\n\nfor item in _input.all():\n    data_to_update = {\n        \"username\": None,\n        \"stale\": True    # default: stale until proven fresh\n    }\n\n    access_keys = item.json.get(\"result\", {}).get(\"access_keys\", [])\n\n    for key in access_keys:\n\n        # Username (same for all keys)\n        if \"UserName\" in key:\n            data_to_update[\"username\"] = key[\"UserName\"]\n\n        # Check create date\n        if \"CreateDate\" in key:\n            days_diff = (datetime.now(timezone.utc) -\n                         datetime.strptime(key[\"CreateDate\"], \"%Y-%m-%dT%H:%M:%S%z\")).days\n\n            # Found at least ONE recent key → NOT stale → break\n            if days_diff < 90:\n                data_to_update[\"AccessKeyId\"]=key[\"AccessKeyId\"]\n                data_to_update[\"stale\"] = False\n                data_to_send.append(data_to_update)\n                break\n            else:\n                data_to_update[\"AccessKeyId\"]=key[\"AccessKeyId\"]\n                data_to_send.append(data_to_update)\n                \n\n    \n\nreturn data_to_send\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1344,-160],"id":"8f3874ff-a686-4bd2-8444-92f3bf4aa1e7","name":"Code in Python (Beta)2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d76c2ef2-5916-4fc4-b223-deed2f488deb","leftValue":"={{ $json.stale }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1568,-160],"id":"86019b2c-5b78-42fd-976a-bd9d7dd59791","name":"If5"},{"parameters":{"language":"python","pythonCode":"# Loop over input items and add a new field called 'myNewField' to the JSON of each one\nstale_users=[]\nfor item in _input.all():\n  if \"stale\" in item.json and item.json.stale==False and \"UserName\" in item.json:\n    stale_users.append(item.json.UserName)\n    \nreturn {\"staleusers\":stale_users}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2016,-160],"id":"9a496b14-a767-406a-ad11-d80bca5f7e51","name":"Code in Python (Beta)3"},{"parameters":{"language":"python","pythonCode":"# Loop over input items and add a new field called 'myNewField' to the JSON of each one\nstale_users=[]\nfor item in _input.all():\n  if \"stale\" in item.json and item.json.stale==False and \"UserName\" in item.json:\n    stale_users.append(item.json.username)\n    \nreturn {\"staleusers\":stale_users}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2240,32],"id":"a027cc65-be73-4cae-873c-cea092b3eaf9","name":"Code in Python (Beta)4"},{"parameters":{"language":"python","pythonCode":"# Loop over input items and add a new field called 'myNewField' to the JSON of each one\nstaleusers=[]\nfor item in _input.all():\n  if \"staleusers\" in item.json and len(item.json.staleusers)>0:\n    for user in item.json.staleusers:\n      staleusers.append(user)\n    \nreturn {\n  \"staleusers\":staleusers\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2688,128],"id":"3d2f2635-b467-4df4-9d90-761c06d93800","name":"Code in Python (Beta)5"},{"parameters":{"function":"arn:aws:lambda:us-east-1:002125562743:function:FetchUserResources","invocationType":"=RequestResponse","payload":"={\"UserName\":{{ JSON.stringify($json['result.UserNames']) }}}"},"type":"n8n-nodes-base.awsLambda","typeVersion":1,"position":[896,384],"id":"62e760ca-bbac-4a38-b0ff-aa40c9a130ea","name":"Fetch UserResources","credentials":{"aws":{"id":"kRAtHumaJKnPSEiL","name":"AWS account"}}},{"parameters":{"function":"arn:aws:lambda:us-east-1:002125562743:function:GetAccessKeyLastUsed","payload":"={\n\"AccessKeyId\":{{ JSON.stringify($json.AccessKeyId) }}\n}"},"type":"n8n-nodes-base.awsLambda","typeVersion":1,"position":[1792,-160],"id":"db212aef-5535-4c4b-8e5f-affba0fe4bc4","name":"Get AccessKey","credentials":{"aws":{"id":"kRAtHumaJKnPSEiL","name":"AWS account"}}},{"parameters":{"function":"arn:aws:lambda:us-east-1:002125562743:function:GetLastServiceAccessed","payload":"={\n\"Arn\":{{ JSON.stringify($json.Arn) }},\n\"UserName\":{{ JSON.stringify($json.UserName) }}\n}"},"type":"n8n-nodes-base.awsLambda","typeVersion":1,"position":[2016,32],"id":"0a501e07-ade9-4fd1-836b-56e0b597327f","name":"Get Last Service Accessed","retryOnFail":true,"credentials":{"aws":{"id":"kRAtHumaJKnPSEiL","name":"AWS account"}}},{"parameters":{"rule":{"interval":[{"daysInterval":90}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0],"id":"ed997d30-00a6-45a0-b228-f1a8220b4c03","name":"Schedule Trigger"},{"parameters":{"httpMethod":"POST","path":"staleAccountsaws","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,352],"id":"52181484-653c-477f-b002-e32ffbb040fe","name":"Webhook","webhookId":"d01d7f8c-5d22-4fc9-b2da-b5b551431452"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"AWS Lambda","type":"main","index":0}]]},"AWS Lambda":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"If","type":"main","index":0},{"node":"If1","type":"main","index":0},{"node":"If2","type":"main","index":0}],[{"node":"Fetch UserResources","type":"main","index":0}]]},"If":{"main":[[],[{"node":"Code in Python (Beta)","type":"main","index":0}]]},"If1":{"main":[[{"node":"Code in Python (Beta)2","type":"main","index":0}],[]]},"If2":{"main":[[{"node":"Code in Python (Beta)1","type":"main","index":0}],[]]},"Code in Python (Beta)1":{"main":[[{"node":"If3","type":"main","index":0}]]},"If3":{"main":[[{"node":"Get Last Service Accessed","type":"main","index":0}],[]]},"Code in Python (Beta)":{"main":[[{"node":"Merge","type":"main","index":2}]]},"Code in Python (Beta)2":{"main":[[{"node":"If5","type":"main","index":0}]]},"If5":{"main":[[{"node":"Get AccessKey","type":"main","index":0}],[]]},"Code in Python (Beta)3":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Code in Python (Beta)4":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Code in Python (Beta)5","type":"main","index":0}]]},"Fetch UserResources":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Get AccessKey":{"main":[[{"node":"Code in Python (Beta)3","type":"main","index":0}]]},"Get Last Service Accessed":{"main":[[{"node":"Code in Python (Beta)4","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"AWS Lambda","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"AWS Lambda","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"8994f30d-3cc5-439b-b49b-d77ddaa54ab7","triggerCount":2,"shared":[{"createdAt":"2025-12-05T18:17:59.512Z","updatedAt":"2025-12-05T18:17:59.512Z","role":"workflow:owner","workflowId":"K2nPccuMVil1D3qS","projectId":"6s48z25n0vjamXXx"}],"tags":[]}