SuspendOktaUser.json
{"createdAt":"2025-11-28T09:38:00.605Z","updatedAt":"2025-11-28T11:16:33.000Z","id":"NFi6ZJSFfoDwjQOT","name":"SuspendOktaUser","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"suspendoktauser","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,240],"id":"c2726ab4-c9d7-48a8-9247-6cc79b8fea68","name":"Webhook","webhookId":"bbe5c126-b0d6-48fe-aa65-f81ae08e7aa9"},{"parameters":{"language":"python","pythonCode":"# Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor item in _input.all():\n  details=item.json\n  details[\"status\"]=True\n  details[\"message\"]=\"\"\n  if \"body\" in details and len(details[\"body\"])>0:\n    for value in details[\"body\"].values():\n      if value ==\"\":\n        details[\"status\"]=False\n        details[\"message\"]=\"Missing id for fetching the account\"\n  else:\n    details[\"status\"]=False\n    details[\"message\"]=\"Missing id for fetching the account\"\n    \n    \nreturn _input.all()"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[224,240],"id":"3ce76623-e0f5-4fa5-b9cd-0d876fb99b4f","name":"Code in Python (Beta)"},{"parameters":{"method":"DELETE","url":"=https://integrator-1776498.okta.com/api/v1/users/{{ $json.id}}/sessions","authentication":"predefinedCredentialType","nodeCredentialType":"oktaApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2464,0],"id":"cce1ce8e-e385-4739-b419-518884f22157","name":"HTTP Request","credentials":{"oktaApi":{"id":"dnVmSr9rPxQDmsbr","name":"Okta account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"26b2b010-f295-48f3-8d59-f362ec525234","leftValue":"={{ $json.status }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[448,240],"id":"183bff74-a325-4353-9250-8919e14f2624","name":"If"},{"parameters":{"errorMessage":"={{ $json.message }}"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[672,288],"id":"e99c3ca5-8bd5-40d1-b7d6-e490f623cabf","name":"Stop and Error"},{"parameters":{"url":"=https://integrator-1776498.okta.com/api/v1/users/{{ $json.body.id }}","authentication":"predefinedCredentialType","nodeCredentialType":"oktaApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[672,96],"id":"931c7dd7-ca99-40b8-98af-aacc1e3b0713","name":"HTTP Request1","credentials":{"oktaApi":{"id":"dnVmSr9rPxQDmsbr","name":"Okta account"}}},{"parameters":{"fieldToSplitOut":"group_ids","include":"allOtherFields","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1792,192],"id":"ee151f09-3b35-4191-9cf0-7ea202cdcb86","name":"Split Out"},{"parameters":{"method":"DELETE","url":"=https://integrator-1776498.okta.com/api/v1/groups/{{$json.group_ids.group_id}}/users/{{ $json.id }}","authentication":"predefinedCredentialType","nodeCredentialType":"oktaApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2464,192],"id":"198f1501-b394-427a-b556-f72343cc4267","name":"HTTP Request3","retryOnFail":true,"credentials":{"oktaApi":{"id":"dnVmSr9rPxQDmsbr","name":"Okta account"}},"onError":"continueRegularOutput"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1344,192],"id":"7963e37f-e20f-4cef-b3cf-1cd70d877cae","name":"Merge"},{"parameters":{"numberInputs":3},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2688,48],"id":"2bdb959b-94e3-4076-b9a6-ffa76c32f77f","name":"Merge1"},{"parameters":{"language":"python","pythonCode":"# Loop over input items and add a new field called 'myNewField' to the JSON of each one\ndata_to_send={}\ngroups=[]\nfor item in _input.all():\n  data_to_add={}\n  if \"id\" in item.json:\n    data_to_send[\"id\"]=item.json.id\n  if \"group_id\" in item.json:\n    data_to_add[\"group_id\"]=item.json.group_id\n    data_to_add['group_name']=item.json.group_name\n    groups.append(data_to_add)\ndata_to_send[\"group_ids\"]=groups\n\nreturn data_to_send"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1568,192],"id":"da5f41e1-ca26-44fa-a430-1cf1c3bbd505","name":"Code in Python (Beta)1"},{"parameters":{"method":"POST","url":"=https://integrator-1776498.okta.com/api/v1/users/{{ $json.id }}/lifecycle/suspend","authentication":"predefinedCredentialType","nodeCredentialType":"oktaApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3184,160],"id":"631c524d-bb86-43b6-a196-8abc9ff22ce7","name":"HTTP Request4","credentials":{"oktaApi":{"id":"dnVmSr9rPxQDmsbr","name":"Okta account"}}},{"parameters":{"url":"=https://integrator-1776498.okta.com/api/v1/users/{{ $json.id }}/groups ","authentication":"predefinedCredentialType","nodeCredentialType":"oktaApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[896,288],"id":"dc658ace-9f18-436e-8d09-fb78d25d8120","name":"Fetch Groups","credentials":{"oktaApi":{"id":"dnVmSr9rPxQDmsbr","name":"Okta account"}}},{"parameters":{"assignments":{"assignments":[{"id":"b8b043ec-f190-4c72-93c5-8455bff5c8ed","name":"group_id","value":"={{ $json.id }}","type":"string"},{"id":"1878893f-421d-44c1-8e08-aff8322fc688","name":"group_name","value":"={{ $json.profile.name }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1120,288],"id":"2a6e578e-2389-4627-b294-820bc1bbb6b7","name":"Edit Fields1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2016,192],"id":"179ee547-bd6d-414b-ad99-cce2fdc4928d","name":"Loop Over Items"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"788b0991-e9a6-4cac-88ae-b24c511b4c4f","leftValue":"={{ $json.group_ids.group_name }}","rightValue":"=Everyone","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2240,192],"id":"846bcb69-d26c-4e2f-abdf-137f57e802e2","name":"If1"},{"parameters":{"language":"python","pythonCode":"# Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfrom datetime import datetime,timedelta\ndata_to_send={}\nfor item in _input.all():\n  if \"id\" in item.json:\n    data_to_send['id'] = item.json.id\n    data_to_send['username'] = item.json.profile.login\n    data_to_send['suspended_on']=datetime.now().strftime(\"%Y-%m-%d\")\n    data_to_send['deactivate_at']=(datetime.now()+timedelta(days=30)).strftime(\"%Y-%m-%d\")\n    \nreturn data_to_send"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2896,48],"id":"e55364a1-71b3-44b9-b5ce-943cf8d26745","name":"Code in Python (Beta)2"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1HCF6xpgC5zNDwX3bl_yYoTu7FPM22tNTMQ26SIUxaEM","mode":"list","cachedResultName":"okta Suspended","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1HCF6xpgC5zNDwX3bl_yYoTu7FPM22tNTMQ26SIUxaEM/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"okta","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1HCF6xpgC5zNDwX3bl_yYoTu7FPM22tNTMQ26SIUxaEM/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"UserId":"={{ $json.id }}","email":"={{ $json.username }}","Suspended at":"={{ $json.suspended_on }}","Deactivate at":"={{ $json.deactivate_at }}","status":"Pending","Deactivated at":""},"matchingColumns":["UserId"],"schema":[{"id":"UserId","displayName":"UserId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Suspended at","displayName":"Suspended at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Deactivate at","displayName":"Deactivate at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Deactivated at","displayName":"Deactivated at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[3040,-416],"id":"2f026c40-7dc3-4734-8a63-5c7e04bfeefc","name":"Append or update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"nJT0v4asPyjc775u","name":"Google Sheets account"}}}],"connections":{"Webhook":{"main":[[{"node":"Code in Python (Beta)","type":"main","index":0}]]},"Code in Python (Beta)":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"HTTP Request1","type":"main","index":0}],[{"node":"Stop and Error","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"HTTP Request","type":"main","index":0},{"node":"Fetch Groups","type":"main","index":0},{"node":"Merge","type":"main","index":0},{"node":"Merge1","type":"main","index":2}]]},"HTTP Request":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"HTTP Request3":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Code in Python (Beta)1","type":"main","index":0}]]},"Code in Python (Beta)1":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Code in Python (Beta)2","type":"main","index":0}]]},"Fetch Groups":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Loop Over Items":{"main":[[],[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[{"node":"HTTP Request3","type":"main","index":0}]]},"Code in Python (Beta)2":{"main":[[{"node":"HTTP Request4","type":"main","index":0},{"node":"Append or update row in sheet","type":"main","index":0}]]},"HTTP Request4":{"main":[[]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"8oPdHCbfkDWiGkoo"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"97ab4244-a480-48fa-8697-3f7a99b99728","triggerCount":1,"shared":[{"createdAt":"2025-11-28T09:38:00.629Z","updatedAt":"2025-11-28T09:38:00.629Z","role":"workflow:owner","workflowId":"NFi6ZJSFfoDwjQOT","projectId":"gRGVTEYpzLUQ9scs"}],"tags":[],"error":"The resource you are requesting could not be found"}